<template>
  <Content>
    <div
      class="flex flex-col justify-center items-center w-full h-full"
      v-if="$store.getters.missingProfile"
    ></div>
  </Content>
</template>

<script>
import Content from "./../layout/Content";
import Notification from "./../../components/Notification";

export default {
  name: "Company",
  components: { Content, Notification }
};
</script>
