<template>
  <Content>
    <el-form
      label-position="top"
      class="bg-white w-full p-5 border rounded"
      status-icon
      :model="changePasswordForm"
      :rules="changePasswordFormRules"
      ref="changePasswordForm"
      @submit.native.prevent="submitPasswordChange('changePasswordForm', changePasswordForm)"
    >
      <el-row :gutter="15">
        <el-col :span="12">
          <el-form-item label="Contraseña actual" prop="currentPassword">
            <el-input type="password" v-model="changePasswordForm.currentPassword" size="small"/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="12">
          <el-form-item label="Nueva contraseña" prop="newPassword">
            <el-input type="password" v-model="changePasswordForm.newPassword" size="small"/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="12">
          <el-form-item label="Confirmar contraseña" prop="confirmPassword">
            <el-input type="password" v-model="changePasswordForm.confirmPassword" size="small"/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="24" class="flex justify-end">
          <el-button size="small">Cancelar</el-button>
          <el-button type="primary" native-type="submit" size="small">Guardar</el-button>
        </el-col>
      </el-row>
    </el-form>
  </Content>
</template>

<script>
import axios from "axios";
import * as R from "ramda";
import Content from "./../../layout/Content";

const required = {
  required: true,
  message: "Este campo es requerido",
  trigger: "blur"
};
const length = {
  min: 6,
  max: 15,
  message: "Se requiere mínimo 6 y máximo 15 caracteres",
  trigger: "blur"
};

export default {
  name: "ProfilePassword",
  components: { Content },
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Por favor ingresa la contraseña nuevamente"));
      } else if (value !== this.changePasswordForm.newPassword) {
        callback(
          new Error("La nueva contraseña y la confirmación no coinciden")
        );
      } else {
        callback();
      }
    };
    return {
      changePasswordForm: {
        currentPassword: null,
        newPassword: null,
        confirmPassword: null
      },
      changePasswordFormRules: {
        currentPassword: [required],
        newPassword: [required, length],
        confirmPassword: [{ validator: validatePass, trigger: "blur" }]
      }
    };
  },
  methods: {
    submitPasswordChange(formName, { currentPassword, newPassword }) {
      this.$refs[formName].validate(valid => {
        if (!valid) {
          return false;
        }
        this.$confirm(
          "¿Estás seguro que deseas actualizar tu contraseña?",
          "Confirmación",
          {
            confirmButtonText: "Si, actualizar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";
                axios
                  .post("/", {
                    query: `mutation {
                      changePassword(oldPassword: "${currentPassword}" newPassword: "${newPassword}")
                    }`
                  })
                  .then(res => {
                    const { data, errors } = res.data;
                    if (R.isNil(errors)) {
                      this.$refs[formName].resetFields();
                    }
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se ha actualizado tu contraseña correctamente."
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    this.showResetPassword = false;
                    done();
                  })
                  .catch(console.log)
                  .then(alw => {
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, actualizar";
                  });
              } else {
                done();
              }
            }
          }
        );
      });
    }
  }
};
</script>
