<template>
  <Content>
    <el-form label-position="top" class="bg-white w-full p-5 border rounded">
      <el-row :gutter="15">
        <el-col :span="12">
          <el-form-item label="Nombres">
            <el-input :value="$store.getters.user.names" size="small" readonly/>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="Apellidos">
            <el-input :value="$store.getters.user.lastnames" size="small" readonly/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="8">
          <el-form-item label="Correo">
            <el-input :value="$store.getters.user.email" size="small" readonly/>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="Perfil">
            <el-input :value="$store.getters.userProfile.name" size="small" readonly/>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="Identificador">
            <el-input :value="$store.getters.user.unique" size="small" readonly/>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
  </Content>
</template>

<script>
import Content from "./../../layout/Content";
export default {
  name: "ProfileProfile",
  components: { Content }
};
</script>
