<template>
  <nav class="h-screen bg-blue-900 z-50">
    <div class="text-white h-full w-full py-3 flex flex-col items-center justify-between">
      <div class="flex flex-col items-center">
        <img class="w-10 h-10 mb-5" :src="require('@/assets/logo-small.png')" alt="Openbox Cloud" />
        <el-tooltip
          class="item"
          effect="dark"
          :open-delay="1000"
          :content="`${$store.getters.currentCompany.name} | ${$store.getters.currentBranch.name}`"
          placement="right"
        >
          <el-popover placement="left" width="350" trigger="click" @show="clearChangeCompany">
            <el-form
              :model="changeWorkSpace"
              :rules="changeWorkSpaceRules"
              status-icon
              ref="changeWorkSpace"
              @submit.native.prevent="updateWorkSpace('changeWorkSpace', changeWorkSpace)"
            >
              <el-row :gutter="15" class="mb-3">
                <el-col :span="24">
                  <span>Cambiar espacio de trabajo</span>
                </el-col>
              </el-row>
              <el-form-item label="Empresa" prop="cid">
                <el-row :gutter="15">
                  <el-col :span="24">
                    <el-select
                      clearable
                      v-model="changeWorkSpace.cid"
                      placeholder="Seleccionar empresa"
                      size="small"
                      class="w-full"
                      filterable
                      default-first-option
                    >
                      <el-option
                        v-for="company in $store.getters.userCompanies"
                        :key="company.id"
                        :label="company.name"
                        :value="company.id"
                      ></el-option>
                    </el-select>
                  </el-col>
                </el-row>
              </el-form-item>
              <el-form-item label="Sucursal" prop="bid">
                <el-row :gutter="15">
                  <el-col :span="24">
                    <el-select
                      clearable
                      v-model="changeWorkSpace.bid"
                      placeholder="Seleccionar sucursal"
                      size="small"
                      class="w-full"
                      filterable
                      default-first-option
                    >
                      <el-option
                        v-for="branch in companyBranches"
                        :key="branch.id"
                        :label="branch.name"
                        :value="branch.id"
                      ></el-option>
                    </el-select>
                  </el-col>
                </el-row>
              </el-form-item>
              <el-row :gutter="15">
                <el-col :span="16" :offset="4">
                  <el-button type="primary" size="small" native-type="submit" class="w-full">Cambiar</el-button>
                </el-col>
              </el-row>
            </el-form>
            <div
              slot="reference"
              class="flex items-center justify-center rounded-full w-9 h-9 bg-gray-100 cursor-pointer"
            >
              <span class="text-gray-900 font-extrabold text-lg uppercase">{{companyInitials}}</span>
            </div>
          </el-popover>
        </el-tooltip>
        <div class="mt-6 w-10 text-sm">
          <router-link
            tag="div"
            v-for="(menu, k) in menuItems"
            v-bind:key="k"
            :class="{'bg-blue-900': !isMenuActive(menu), 'bg-yellow-500': isMenuActive(menu)}"
            class="cursor-pointer group rounded flex flex-col items-start justify-center w-full h-10 mb-3 hover:items-start hover:relative hover:w-50 hover:bg-yellow-500 hover:shadow-md"
            :to="menu.path"
          >
            <svg
              :class="{'text-blue-900': isMenuActive(menu), 'text-white': !isMenuActive(menu)}"
              class="fill-current w-7 group-hover:hidden self-center"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              v-html="menu.icon"
            />
            <div
              class="group-hover:flex items-center group-hover:items-center group-hover:text-blue-900 hidden group-hover:block group-hover:pl-2"
            >
              <svg
                class="fill-current flex w-7 mr-3 h-full"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                v-html="menu.icon"
              />
              <span>{{ menu.name }}</span>
            </div>
          </router-link>
        </div>
      </div>
      <div class="flex flex-col items-center justify-center">
        <!-- <el-tooltip class="item" effect="dark" content="Mi empresa" placement="right">
          <router-link
            tag="div"
            to="/company"
            :class="{'bg-gray-100': !isMenuActive({path:'/company'}), 'bg-yellow-500': isMenuActive({path:'/company'})}"
            class="flex items-center justify-center rounded-full w-8 h-8 mb-3 cursor-pointer"
          >
            <i class="el-icon-fa-suitcase text-gray-900"></i>
          </router-link>
        </el-tooltip>-->
        <el-tooltip
          class="item"
          effect="dark"
          :content="$store.getters.userShortName"
          placement="right"
        >
          <router-link tag="a" to="/profile">
            <img
              :class="{'border-gray-100': !isMenuActive({path:'/profile'}), 'border-yellow-500': isMenuActive({path:'/profile'})}"
              class="w-9 h-9 rounded-full border-2"
              :src="$store.getters.userAvatar"
              :alt="$store.getters.userShortName"
            />
          </router-link>
        </el-tooltip>
      </div>
    </div>
  </nav>
</template>

<script>
import axios from "axios";
import * as R from "ramda";
import * as v from "voca";

export default {
  name: "Bar",
  data() {
    return {
      changeWorkSpace: {
        cid: "",
        bid: ""
      },
      changeWorkSpaceRules: {
        cid: [
          {
            required: true,
            message: "Debes seleccionar la empresa",
            trigger: "change"
          }
        ],
        bid: [
          {
            required: true,
            message: "Debes seleccionar la sucursal",
            trigger: "change"
          }
        ]
      },
      companyBranches: [],
      menuItems: [
        {
          path: "/",
          name: "Escritorio",
          icon: `<path d="M 2 6 L 2 7 L 2 23 L 2 24 L 3 24 L 15 24 L 15 26 L 10 26 L 10 28 L 22 28 L 22 26 L 17 26 L 17 24 L 29 24 L 30 24 L 30 23 L 30 7 L 30 6 L 29 6 L 3 6 L 2 6 z M 4 8 L 28 8 L 28 22 L 4 22 L 4 8 z" />`
        },
        ...this.$store.getters.modules
      ]
    };
  },
  methods: {
    isMenuActive({ path }) {
      const rpath = this.$route.path;
      return (
        (rpath.includes(path) && path !== "/") ||
        (rpath === "/" && path === "/")
      );
    },
    clearChangeCompany() {
      this.toCompanyId = "";
      this.toBranchId = "";
    },
    updateWorkSpace(formName, { cid, bid }) {
      this.$refs[formName].validate(async valid => {
        if (!valid) {
          return false;
        }
        this.$confirm(
          "¿Estás seguro que deseas cambiar de espacio de trabajo?",
          "Confirmación",
          {
            confirmButtonText: "Si, cambiar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";
                axios
                  .post("/", {
                    query: `mutation { 
                      updateWorkspace(cid: "${cid}" bid: "${bid}")
                      { 
                        token 
                        cid
                        bid
                        user {  
                          id
                          unique
                          names
                          lastnames
                          changePassword
                          avatarURL
                          profile {
                            id
                            name
                            companies { id name }
                            branches { id name }
                            accesses {
                              id
                              permissions
                              module { id name }
                              company { id name }
                              branch { id name }
                            }
                          } 
                        } 
                      }
                    }`
                  })
                  .then(res => {
                    const { data, errors } = res;
                    if (R.isNil(errors)) {
                      this.$store.dispatch(
                        "processLogin",
                        data.data.updateWorkspace
                      );
                      this.$router.push("/");
                      window.location.reload();
                    }
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se ha cambiado de espacio de trabajo correctamente."
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    this.showResetPassword = false;
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, cambiar";
                    done();
                  });
              } else {
                done();
              }
            }
          }
        );
      });
    }
  },
  watch: {
    changeWorkSpace: {
      handler(newVal, oldVal) {
        axios
          .post("/", {
            query: `{ company(where: { id: "${newVal.cid}" }) { branches { id name } } }`
          })
          .then(res => {
            this.companyBranches = [];
            for (const userBranch of this.$store.getters.userBranches) {
              const found = res.data.data.company.branches.find(
                branch => branch.id === userBranch.id
              );
              if (!R.isNil(found)) {
                this.companyBranches.push(found);
              }
            }
            if (newVal.cid !== this.$store.getters.cid) {
              const bid = R.find(R.propEq("id", newVal.bid))(
                this.companyBranches
              );
              this.changeWorkSpace.bid = R.isNil(bid)
                ? this.companyBranches[0].id
                : newVal.bid;
            }
            if (R.isEmpty(this.changeWorkSpace.bid)) {
              this.changeWorkSpace.bid = this.$store.getters.bid;
            }
          });
      },
      deep: true
    }
  },
  computed: {
    companyInitials() {
      const companyWords = v.words(this.$store.getters.currentCompany.name);
      return `${v.first(companyWords[0])}${v.first(companyWords[1])}`;
    }
  },
  created() {
    this.changeWorkSpace.cid = this.$store.getters.cid;
  }
};
</script>
