<template>
  <div class="flex w-full h-full items-end justify-end absolute pin-b pin-r">
    <div
      v-for="n in 3"
      :key="n"
      class="flex items-center justify-between bg-white border w-45 h-7 rounded-t mr-2 px-2 text-xs"
    >
      <span>Egly H. Aguirre</span>
      <i class="el-icon-close-circle"></i>
    </div>
    <div
      class="flex flex-col justify-between bg-white border w-72 h-75 rounded-t mr-2 text-xs overflow-hidden shadow-lg"
    >
      <div class="flex items-center justify-between px-2 bg-blue-900 h-7 text-white">
        <span>Egly H. Aguirre</span>
        <i class="el-icon-close-circle"></i>
      </div>
      <simplebar class="flex flex-col w-full h-full justify-end px-3 py-2">
        <div class="received">Hola buenos dias, será que me podes ayudar a crear una factura?</div>
        <div class="sent">Seguro.</div>
      </simplebar>
      <input class="w-full h-8 border-t px-2" type="text">
    </div>
  </div>
</template>

<script>
import simplebar from "simplebar-vue";
import "simplebar/dist/simplebar.min.css";

export default {
  name: "ChatBar",
  components: { simplebar }
};
</script>

<style lang="postcss" scoped>
.received {
  @apply bg-gray-200 border-gray-300 rounded-t-lg rounded-r-lg border p-2 mt-2 w-auto mr-10;
}
.sent {
  @apply bg-blue-200 border-blue-300 rounded-t-lg rounded-l-lg border p-2 mt-2 w-auto ml-10 self-end text-right;
}
</style>
