<template>
  <simplebar class="flex flex-col p-5 relative">
    <breadcrumb/>
    <h1 class="uppercase text-lg mb-2">{{ $route.name }}</h1>
    <slot/>
  </simplebar>
</template>

<script>
import simplebar from "simplebar-vue";
import "simplebar/dist/simplebar.min.css";
import Breadcrumb from "./../../components/Breadcrumb";

export default {
  name: "Content",
  components: { Breadcrumb, simplebar }
};
</script>