<template>
  <nav class="flex flex-col items-center h-screen bg-white border-r pt-7 pb-4 px-3">
    <div class="w-55">
      <div class="flex items-center">
        <svg
          class="fill-current text-gray-900 w-7 mr-2"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          v-html="icon"
        ></svg>
        <span class="text-base font-semibold text-gray-900">{{ pageName }}</span>
      </div>
    </div>
    <slot name="upper"></slot>
    <div class="mt-15 w-full">
      <ul>
        <router-link
          tag="li"
          v-for="(m, k) of menu"
          v-bind:key="k"
          :to="m.path"
          exact-active-class="active"
          class="flex py-3 px-3 hover:bg-gray-200 hover:text-blue-900 text-gray-900 text-sm rounded cursor-pointer"
          :replace="replace !== null ? replace : false"
        >
          <div class="w-5 mr-1">
            <i :class="`el-icon-fa-${m.icon}`"></i>
          </div>
          {{ m.name }}
        </router-link>
      </ul>
    </div>
    <slot name="lower"/>
  </nav>
</template>

<script>
import v from "voca";

export default {
  name: "Menu",
  props: ["pageName", "icon", "menu", "replace"],
  methods: {
    shortName() {
      return v.truncate(v.titleCase(this.company), 30, "...");
    }
  }
};
</script>

<style lang="postcss" scoped>
.active {
  @apply bg-gray-200 text-blue-900;
}
</style>
