<template>
  <nav class="flex flex-col py-5 h-screen bg-white border-l items-center justify-between">
    <div class="flex flex-col items-center justify-center">
      <!-- <el-tooltip class="item" effect="dark" content="Notificaciones" placement="left">
        <el-popover placement="left" width="300" trigger="click">
          <span>holis</span>
          <el-badge slot="reference" is-dot class="item">
            <div
              class="flex items-center justify-center rounded-full w-7 h-7 bg-yellow-500 mb-3 cursor-pointer"
            >
              <i class="el-icon-bell text-white"></i>
            </div>
          </el-badge>
        </el-popover>
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="Chat" placement="left">
        <el-badge is-dot class="item">
          <div
            class="flex items-center justify-center rounded-full w-7 h-7 bg-blue-500 cursor-pointer"
          >
            <i class="el-icon-chat-line-round text-white"></i>
          </div>
        </el-badge>
      </el-tooltip>-->
    </div>
    <div class="flex flex-col items-center justify-center">
      <!-- <el-tooltip class="item" effect="dark" content="Soporte" placement="left">
        <div
          class="flex items-center justify-center rounded-full w-7 h-7 bg-white mb-3 cursor-pointer"
        >
          <i class="el-icon-question text-gray-900"></i>
        </div>
      </el-tooltip>-->
      <el-tooltip class="item" effect="dark" content="Cerrar sesión" placement="left">
        <div
          class="flex items-center justify-center rounded-full w-7 h-7 bg-blue-900 cursor-pointer"
          @click="processLogout()"
        >
          <i class="el-icon-fa-sign-out text-white"></i>
        </div>
      </el-tooltip>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Notifications",
  methods: {
    processLogout() {
      this.$confirm("¿Estás seguro que deseas cerrar sesión?", "Confirmación", {
        confirmButtonText: "Si, cerrar sesion",
        cancelButtonText: "Cancelar",
        type: "warning"
      }).then(() => {
        this.$store.commit("processLogout");
      });
    }
  }
};
</script>
