<template>
  <Content>
    <el-dialog
      title="Vista previa"
      :visible.sync="previewCustomer"
      :modal="true"
      :append-to-body="true"
      width="65%"
      :close-on-click-modal="false"
    >
      <div>
        <el-row :gutter="15" class="mb-3">
          <el-col :span="14">
            <p class="font-semibold">Nombre o razón social</p>
            <span>{{
              activeCustomer !== null ? activeCustomer.name : ""
            }}</span>
          </el-col>
          <el-col :span="4">
            <p class="font-semibold">Identificador</p>
            <span>Lieison</span>
          </el-col>
          <el-col :span="3">
            <p class="font-semibold">Estado</p>
            <el-tag
              size="small"
              type="success"
              v-if="activeCustomer !== null && activeCustomer.isActiveCustomer"
              >Activo</el-tag
            >
            <el-tag size="small" type="warning" v-else>Inactivo</el-tag>
          </el-col>
          <el-col :span="3">
            <p class="font-semibold">Proveedor</p>
            <el-tag
              size="small"
              type="success"
              v-if="activeCustomer !== null && activeCustomer.isProvider"
              >Si</el-tag
            >
            <el-tag size="small" type="danger" v-else>No</el-tag>
          </el-col>
        </el-row>
        <el-row :gutter="15" class="mb-3">
          <el-col :span="6">
            <p class="font-semibold">NIT</p>
            <span>{{ activeCustomer !== null ? activeCustomer.nit : "" }}</span>
          </el-col>
          <el-col
            :span="4"
            v-if="
              activeCustomer !== null && '1' === activeCustomer.customerType.id
            "
          >
            <p class="font-semibold">NRC</p>
            <span>{{ activeCustomer !== null ? activeCustomer.nrc : "" }}</span>
          </el-col>
          <el-col
            :span="5"
            v-if="
              activeCustomer !== null && '1' !== activeCustomer.customerType.id
            "
          >
            <p class="font-semibold">DUI</p>
            <span>{{ activeCustomer !== null ? activeCustomer.dui : "" }}</span>
          </el-col>
          <el-col
            :span="9"
            v-if="
              activeCustomer !== null &&
              ('1' === activeCustomer.customerType.id ||
                (activeCustomer.customerTypeNatural !== null &&
                  $store.state.naturalTaxer ===
                    activeCustomer.customerTypeNatural.id))
            "
          >
            <p class="font-semibold">Giro</p>
            <span>{{
              activeCustomer !== null ? activeCustomer.giro : ""
            }}</span>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="8">
            <p class="font-semibold">Tipo de cliente</p>
            <span>{{
              activeCustomer !== null ? activeCustomer.customerType.name : ""
            }}</span>
          </el-col>
          <el-col
            :span="8"
            v-if="
              activeCustomer !== null && '1' !== activeCustomer.customerType.id
            "
          >
            <p class="font-semibold">Tipo de persona natural</p>
            <span>{{
              activeCustomer !== null &&
              activeCustomer.customerTypeNatural !== null
                ? activeCustomer.customerTypeNatural.name
                : ""
            }}</span>
          </el-col>
          <el-col
            :span="8"
            v-if="
              activeCustomer !== null &&
              (activeCustomer.customerType.id === '1' ||
                (activeCustomer.customerTypeNatural !== null &&
                  $store.state.naturalTaxer ===
                    activeCustomer.customerTypeNatural.id))
            "
          >
            <p class="font-semibold">Tipo de contribuyente</p>
            <span>{{
              activeCustomer !== null &&
              activeCustomer.customerTaxerType !== null
                ? activeCustomer.customerTaxerType.name
                : ""
            }}</span>
          </el-col>
        </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="previewCustomer = false" size="small"
          >Cerrar</el-button
        >
      </span>
    </el-dialog>

    <el-form label-position="top">
      <el-row :gutter="15">
        <el-col :span="5">
          <el-form-item label="Estado">
            <el-select
              v-model="status"
              placeholder="Seleccionar"
              size="small"
              class="w-full"
              clearable
              default-first-option
            >
              <el-option label="Todos los estados" :value="null" />
              <el-option
                v-for="item in statuses"
                :key="item.value"
                :label="item.name"
                :value="item.value"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6" :offset="13">
          <el-input
            suffix-icon="el-icon-search"
            placeholder="Buscar..."
            v-model="searchValue"
            size="small"
            style="margin-top: 27px"
          />
        </el-col>
      </el-row>
    </el-form>
    <el-row :gutter="15">
      <el-col :span="24">
        <el-table :data="paginatedCustomers" stripe size="mini">
          <el-table-column type="index" min-width="40" />
          <el-table-column label="Nombre" prop="name" min-width="340" />
          <el-table-column
            label="Tipo"
            prop="customerType.name"
            min-width="130"
          />
          <el-table-column label="NIT" prop="nit" min-width="170" />
          <el-table-column label="NRC" prop="nrc" min-width="100" />
          <el-table-column label="Estado" min-width="110">
            <template slot-scope="scope">
              <el-tag
                size="small"
                type="success"
                v-if="scope.row.isActiveCustomer"
                >Activo</el-tag
              >
              <el-tag size="small" type="warning" v-else>Inactivo</el-tag>
            </template>
          </el-table-column>
          <el-table-column label min-width="80" align="center">
            <template slot-scope="scope">
              <el-dropdown trigger="click">
                <el-button icon="el-icon-fa-ellipsis-v" size="small" />
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item
                    @click.native="showCustomerPreview(scope.row)"
                  >
                    <i class="el-icon-view"></i> Vista previa
                  </el-dropdown-item>
                  <el-dropdown-item @click.native="goToEditPage(scope.row)">
                    <i class="el-icon-edit-outline"></i> Editar cliente
                  </el-dropdown-item>
                  <el-dropdown-item @click.native="changeActive(scope.row)">
                    <span v-if="scope.row.isActiveCustomer">
                      <i class="el-icon-close"></i> Desactivar
                    </span>
                    <span v-else> <i class="el-icon-check"></i> Activar </span>
                    cliente
                  </el-dropdown-item>
                  <!-- <el-dropdown-item>
                    <i class="el-icon-guide"></i> Sucursales
                  </el-dropdown-item>
                  <el-dropdown-item>
                    <i class="el-icon-notebook-1"></i> Directorio
                  </el-dropdown-item>-->
                  <el-dropdown-item
                    :divided="true"
                    class="text-red-500 font-semibold"
                    @click.native="deleteCustomer(scope.row)"
                  >
                    <i class="el-icon-delete"></i> Eliminar cliente
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row :gutter="15" class="mt-2">
      <el-col :span="24" class="flex justify-end">
        <el-pagination
          @size-change="handleSizeChange"
          :current-page.sync="page.number"
          :page-sizes="[5, 10, 15, 25, 50, 100]"
          :page-size="page.size"
          layout="total, sizes, prev, pager, next"
          :total="filteredCustomers.length"
          :pager-count="5"
        />
      </el-col>
    </el-row>
  </Content>
</template>

<script>
import Content from "./../../layout/Content";
import axios from "axios";
import * as R from "ramda";
import * as moment from "moment";

export default {
  name: "CustomersAll",
  components: { Content },
  beforeRouteEnter(to, from, next) {
    NProgress.start();
    axios
      .post("/", {
        query: `{
          customers { id name nit nrc isActiveCustomer customerType { name } createdAt }
        }`,
      })
      .then((res) => {
        const { data, errors } = res.data;
        if (R.isNil(errors)) {
          next((vm) => vm.setData(data.customers));
        } else {
          next(new Error(errors[0].message));
        }
      })
      .catch((err) => {
        next((vm) => vm.$message.error(vm.$store.state.error.queryDb));
      });
  },
  data() {
    return {
      status: null,
      statuses: [
        { name: "Activo", value: true },
        { name: "Inactivo", value: false },
      ],
      type: null,
      types: [],
      searchValue: "",
      rawCustomers: [],
      previewCustomer: false,
      activeCustomer: null,
      page: {
        size: 10,
        number: 1,
      },
    };
  },
  methods: {
    handleSizeChange(val) {
      this.page.size = val;
    },
    setData(customers) {
      this.rawCustomers = customers;
    },
    changeActive(customer) {
      const { id, isActiveCustomer } = customer;
      const actionName = isActiveCustomer ? "desactivar" : "activar";
      this.$confirm(
        `¿Estás seguro que deseas ${actionName} este cliente?`,
        "Confirmación",
        {
          confirmButtonText: `Si, ${actionName}`,
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation {
                      customerUpdateStatus(
                        where: { id: "${customer.id}" }
                        data: { isActiveCustomer: ${!customer.isActiveCustomer} }
                      )
                      { id name nit nrc isActiveCustomer customerType { name } createdAt }
                    }`,
                })
                .then((res) => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawCustomers = data.customerUpdateStatus;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? `Se ha ${actionName.substring(
                          0,
                          actionName.length - 1
                        )}do el cliente correctamente`
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500,
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, ${actionName}`;
                  done();
                })
                .catch((err) =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          },
        }
      );
    },
    deleteCustomer(customer) {
      const { id } = customer;
      this.$confirm(
        "¿Estás seguro que deseas eliminar este cliente?",
        "Atención",
        {
          confirmButtonText: "Si, eliminar",
          cancelButtonText: "Cancelar",
          confirmButtonClass: "bg-red-500 border-red-500",
          type: "error",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation {
                      customerDelete(
                        where: { id: "${customer.id}" }
                      )
                      { id name nit nrc isActiveCustomer customerType { name } createdAt }
                    }`,
                })
                .then((res) => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawCustomers = data.customerDelete;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? "Se ha eliminado el cliente correctamente"
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500,
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, eliminar`;
                  done();
                })
                .catch((err) =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          },
        }
      );
    },
    goToEditPage(customer) {
      this.$router.push({ path: `/customers/edit/${customer.id}` });
    },
    showCustomerPreview(customer) {
      axios
        .post("/", {
          query: `{
          customer(where: { id: "${customer.id}"}) {
            name shortName isProvider isActiveCustomer customerTaxerType { name} customerType { id name } customerTypeNatural { id name } dui nrc nit giro
          }
        }`,
        })
        .then((res) => {
          const { data, errors } = res.data;
          this.activeCustomer = data.customer;
          this.previewCustomer = true;
        })
        .catch((err) => {
          this.$message.error(this.$store.state.error.queryDb);
        });
    },
  },
  computed: {
    filteredCustomers() {
      const filteredCustomers = this.rawCustomers.filter((customer) => {
        const searchValue = this.searchValue.toLowerCase();
        const byStatus =
          R.isNil(this.status) ||
          R.identical(customer.isActiveCustomer, this.status);

        return (
          byStatus &&
          ((!R.isNil(customer.name) &&
            customer.name.toLowerCase().includes(searchValue)) ||
            (!R.isNil(customer.customerType.name) &&
              customer.customerType.name.toLowerCase().includes(searchValue)) ||
            (!R.isNil(customer.nit) &&
              customer.nit.toLowerCase().includes(searchValue)) ||
            (!R.isNil(customer.nrc) &&
              customer.nrc.toLowerCase().includes(searchValue)))
        );
      });
      return filteredCustomers.sort((a, b) => {
        const dateA = moment(parseInt(a.createdAt));
        const dateB = moment(parseInt(b.createdAt));
        return dateB - dateA;
      });
    },
    paginatedCustomers() {
      return this.filteredCustomers.slice(
        this.page.number * this.page.size - this.page.size,
        this.page.size * this.page.number
      );
    },
  },
};
</script>
