<template>
  <Content>
    <el-form
      :model="customersNewForm"
      :rules="customersNewFormRules"
      status-icon
      ref="customersNewForm"
      @submit.native.prevent="submitNewCustomer('customersNewForm', customersNewForm)"
    >
      <el-row :gutter="15">
        <el-col :span="14">
          <el-form-item label="Nombre o razón social" prop="name">
            <el-input
              clearable
              type="text"
              v-model="customersNewForm.name"
              size="small"
              autocomplete="off"
            />
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item label="Identificador" prop="shortName">
            <el-input
              clearable
              type="text"
              v-model="customersNewForm.shortName"
              size="small"
              autocomplete="off"
            />
          </el-form-item>
        </el-col>
        <el-col :span="5" v-if="false">
          <el-form-item label="Es tambien proveedor" prop="provider">
            <el-radio-group v-model="customersNewForm.provider" class="w-full">
              <el-radio :label="true">Si</el-radio>
              <el-radio :label="false">No</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="12">
          <el-form-item label="Dirección 1" prop="address1">
            <el-input
              clearable
              type="text"
              v-model="customersNewForm.address1"
              size="small"
              autocomplete="off"
            />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="Dirección 2" prop="address2">
            <el-input
              clearable
              type="text"
              v-model="customersNewForm.address2"
              size="small"
              autocomplete="off"
            />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="8">
          <el-form-item label="País" prop="country">
            <el-select
              class="w-full"
              v-model="customersNewForm.country"
              size="small"
              placeholder="Seleccionar país"
              filterable
              clearable
              @change="clearSelect('state')"
              default-first-option
            >
              <el-option
                v-for="country in countries"
                :key="country.id"
                :label="country.name"
                :value="country.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="Departamento" prop="state">
            <el-select
              class="w-full"
              v-model="customersNewForm.state"
              size="small"
              placeholder="Seleccionar país"
              filterable
              clearable
              @change="clearSelect('city')"
              default-first-option
            >
              <el-option
                v-for="state in states"
                :key="state.id"
                :label="state.name"
                :value="state.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="Municipio" prop="city">
            <el-select
              class="w-full"
              v-model="customersNewForm.city"
              size="small"
              placeholder="Seleccionar país"
              filterable
              clearable
              default-first-option
            >
              <el-option v-for="city in cities" :key="city.id" :label="city.name" :value="city.id" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="8">
          <el-form-item label="Contacto" prop="contact">
            <el-input
              clearable
              type="text"
              v-model="customersNewForm.contact"
              size="small"
              autocomplete="off"
            />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="Teléfono" prop="phone">
            <el-input
              clearable
              type="text"
              v-model="customersNewForm.phone"
              size="small"
              autocomplete="off"
              placeholder="####-####"
              v-mask="'####-####'"
            />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="Correo electrónico" prop="email">
            <el-input
              clearable
              type="text"
              v-model="customersNewForm.email"
              size="small"
              autocomplete="off"
            />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15" class="mb-4">
        <el-col :span="24">
          <h2 class="text-sm">Información tributaria</h2>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="8">
          <el-form-item label="Tipo de cliente" prop="customerType">
            <el-select
              class="w-full"
              v-model="customersNewForm.customerType"
              size="small"
              placeholder="Seleccionar tipo de cliente"
              filterable
              clearable
              default-first-option
            >
              <el-option v-for="ct in customerTypes" :key="ct.id" :label="ct.name" :value="ct.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8" v-if="customerTypeNaturals.length > 0">
          <el-form-item label="Tipo de persona natural" prop="customerTypeNatural">
            <el-select
              class="w-full"
              v-model="customersNewForm.customerTypeNatural"
              size="small"
              placeholder="Seleccionar tipo de persona natural"
              filterable
              clearable
              @change="changeNatural(customersNewForm.customerTypeNatural)"
              default-first-option
            >
              <el-option
                v-for="ct in customerTypeNaturals"
                :key="ct.id"
                :label="ct.name"
                :value="ct.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="8" v-show="showDui">
          <el-form-item label="DUI" prop="dui">
            <el-input
              type="text"
              v-model="customersNewForm.dui"
              size="small"
              autocomplete="off"
              placeholder="########-#"
              v-mask="'########-#'"
            />
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="NIT" prop="nit">
            <el-input
              type="text"
              v-model="customersNewForm.nit"
              size="small"
              autocomplete="off"
              placeholder="####-######-###-#"
              v-mask="'####-######-###-#'"
            />
          </el-form-item>
        </el-col>
        <el-col :span="5" v-show="showNrc">
          <el-form-item label="NRC" prop="nrc">
            <el-input type="text" v-model="customersNewForm.nrc" size="small" autocomplete="off" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row
        :gutter="15"
        v-show="customersNewForm.customerType === '1' || customersNewForm.customerTypeNatural === '2'"
      >
        <el-col :span="8">
          <el-form-item label="Tipo de contribuyente" prop="customerTaxPayerType">
            <el-select
              class="w-full"
              v-model="customersNewForm.customerTaxPayerType"
              size="small"
              placeholder="Seleccionar tipo de contribuyente"
              filterable
              clearable
              default-first-option
            >
              <el-option
                v-for="ct in customerTaxerTypes"
                :key="ct.id"
                :label="ct.name"
                :value="ct.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="16">
          <el-form-item label="Giro" prop="giro">
            <el-input type="text" v-model="customersNewForm.giro" size="small" autocomplete="off" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="24" class="flex justify-end">
          <el-button type="primary" size="small" native-type="submit">Guardar</el-button>
          <el-button size="small" @click="cancel()">Cancelar</el-button>
        </el-col>
      </el-row>
    </el-form>
  </Content>
</template>

<script>
import Content from "./../../layout/Content";
import {
  inputValidate,
  amountValidate,
  emailValidate
} from "./../../../utils.js";
import axios from "axios";
import * as R from "ramda";

export default {
  name: "CustomerNew",
  components: { Content },
  beforeRouteEnter(to, from, next) {
    NProgress.start();
    axios
      .post("/", {
        query: `{
          countries { id name }
          states { id name country { id } }
          cities { id name state { id } }
          customerTypes { id name customerTypeNaturals { id name } }
          customerTaxerTypes { id name }
        }`
      })
      .then(res => {
        const { data, errors } = res.data;
        if (R.isNil(errors)) {
          next(vm =>
            vm.setData({
              countries: data.countries,
              states: data.states,
              cities: data.cities,
              customerTypes: data.customerTypes,
              customerTaxerTypes: data.customerTaxerTypes
            })
          );
        } else {
          next(new Error(errors[0].message));
        }
      })
      .catch(err => {
        next(vm => vm.$message.error(vm.$store.state.error.queryDb));
      });
  },
  data() {
    return {
      showRadio: true,
      countries: [],
      rawStates: [],
      rawCities: [],
      customerTypes: [],
      customerTaxerTypes: [],
      showDui: false,
      showNrc: false,
      customersNewForm: {
        name: "",
        shortName: "",
        provider: false,
        address1: "",
        address2: "",
        country: "",
        state: "",
        city: "",
        contact: "",
        phone: "",
        email: "",
        customerType: "",
        customerTypeNatural: "",
        dui: "",
        nit: "",
        nrc: "",
        customerTaxPayerType: "",
        giro: ""
      },
      customersNewFormRules: {
        name: inputValidate("blur", true, 5, 60),
        shortName: inputValidate("blur", true, 3, 10),
        provider: inputValidate("change", true),
        address1: inputValidate("blur", true, 5, 60),
        address2: inputValidate("blur", false, 5, 60),
        country: inputValidate("change", true),
        state: inputValidate("change", true),
        city: inputValidate("change", true),
        contact: inputValidate("blur", false, 5, 30),
        phone: inputValidate("blur", false),
        email: emailValidate("blur", false, 5, 50),
        customerType: inputValidate("change", true),
        customerTypeNatural: inputValidate("change", true),
        dui: inputValidate("blur", false, 10, 10),
        nit: inputValidate("blur", false, 17, 17),
        nrc: inputValidate("blur", false),
        customerTaxPayerType: inputValidate("change", false),
        giro: inputValidate("blur", false)
      }
    };
  },
  methods: {
    setData({ countries, states, cities, customerTypes, customerTaxerTypes }) {
      this.countries = countries;
      this.rawStates = states;
      this.rawCities = cities;
      this.customerTypes = customerTypes;
      this.customerTaxerTypes = customerTaxerTypes;
    },
    clearSelect(name) {
      switch (name) {
        case "state":
          this.customersNewForm.state = "";
          this.customersNewForm.city = "";
          break;
        case "city":
          this.customersNewForm.city = "";
          break;
      }
    },
    changeNatural(value) {
      if (!R.isNil(value) && !R.isEmpty(value)) {
        this.showNrc = value === this.$store.state.naturalTaxer;
      }
    },
    submitNewCustomer(formName, data) {
      this.$refs[formName].validate(async valid => {
        if (!valid) {
          return false;
        }

        this.$confirm(
          "¿Estás seguro que deseas guardar este nuevo cliente?",
          "Confirmación",
          {
            confirmButtonText: "Si, guardar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";
                axios
                  .post("/", {
                    query: `mutation { 
                      customerCreate(
                        data: {
                          name: "${data.name}",
                          shortName: "${data.shortName}",
                          isCustomer: true,
                          isProvider: ${data.provider},
                          isActiveCustomer: true,
                          isActiveProvider: ${data.provider},
                          customerTaxerType: ${
                            R.isEmpty(data.customerTaxPayerType)
                              ? null
                              : `"${data.customerTaxPayerType}"`
                          },
                          customerType: "${data.customerType}",
                          customerTypeNatural: ${
                            R.isEmpty(data.customerTypeNatural)
                              ? null
                              : `"${data.customerTypeNatural}"`
                          }
                          dui: "${data.dui}",
                          nrc: "${data.nrc}",
                          nit: "${data.nit}",
                          giro: "${data.giro}"
                        },
                        branch: {
                          name: "Casa Matriz",
                          contactName: "${data.contact}",
                          contactInfo: {
                            email: "${data.email}",
                            cellphone: "${data.phone}"
                          },
                          address1: "${data.address1}",
                          address2: "${data.address2}",
                          country: "${data.country}",
                          state: "${data.state}",
                          city: "${data.city}"
                        }
                      ){ id }
                    }`
                  })
                  .then(res => {
                    const { data, errors } = res.data;
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se ha guardado el nuevo cliente correctamente"
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, guardar";
                    if (R.isNil(errors)) {
                      setTimeout(() => {
                        this.$confirm(
                          "¿Deseas crear un nuevo cliente?",
                          "Confirmación",
                          {
                            confirmButtonText: "Si, porfavor",
                            cancelButtonText: "No, gracias",
                            type: "warning",
                            closeOnClickModal: false,
                            closeOnPressEscape: false
                          }
                        )
                          .then(() => {
                            this.$refs[formName].resetFields();
                          })
                          .catch(() => {
                            this.$router.push("/customers");
                          });
                      }, 500);
                    }
                    done();
                  })
                  .catch(err =>
                    this.$message.error(this.$store.state.error.queryDb)
                  );
              } else {
                done();
              }
            }
          }
        );
      });
    },
    cancel() {
      this.$confirm("¿Estás seguro que deseas salir?", "Confirmación", {
        confirmButtonText: "Si, salir",
        cancelButtonText: "Cancelar",
        type: "warning"
      }).then(() => {
        this.$router.push("/customers");
      });
    }
  },
  computed: {
    states() {
      return this.rawStates.filter(
        state => state.country.id === this.customersNewForm.country
      );
    },
    cities() {
      return this.rawCities.filter(
        city => city.state.id === this.customersNewForm.state
      );
    },
    customerTypeNaturals() {
      let naturals = [];
      const customerType = this.customerTypes.find(
        customerType => customerType.id === this.customersNewForm.customerType
      );
      this.customersNewForm.customerTypeNatural = "";
      if (!R.isNil(customerType)) {
        this.showNrc = customerType.id === "1";
        this.showDui = customerType.id !== "1";
        naturals = customerType.customerTypeNaturals;
      }
      return naturals;
    }
  }
};
</script>
