<template>
  <div class="flex">
    <Menu page-name="Facturación" :icon="icon" :menu="menu" />
    <router-view class="flex h-full w-full"></router-view>
  </div>
</template>

<script>
import Menu from "./../layout/Menu";

export default {
  name: "Invoices",
  components: { Menu },
  data() {
    return {
      icon:
        '<path d="M 6 3 L 6 4 L 6 28 L 6 29 L 7 29 L 25 29 L 26 29 L 26 28 L 26 10 L 26 9.59375 L 25.71875 9.28125 L 19.71875 3.28125 L 19.40625 3 L 19 3 L 7 3 L 6 3 z M 8 5 L 18 5 L 18 10 L 18 11 L 19 11 L 24 11 L 24 27 L 8 27 L 8 5 z M 20 6.4375 L 22.5625 9 L 20 9 L 20 6.4375 z M 11 13 L 11 15 L 21 15 L 21 13 L 11 13 z M 11 17 L 11 19 L 21 19 L 21 17 L 11 17 z M 11 21 L 11 23 L 21 23 L 21 21 L 11 21 z"/>',
      menu: [
        {
          name: "Nueva factura",
          icon: "plus",
          path: "/invoices/new",
        },
        {
          name: "Listado de facturas",
          icon: "list-ul",
          path: "/invoices",
        },
        {
          name: "Reportes",
          icon: "file-text",
          path: "/invoices/reports",
        },
        {
          name: "Configuraciones",
          icon: "cogs",
          path: "/invoices/settings",
        },
      ],
    };
  },
};
</script>
