<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto" rel="stylesheet">
  <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
  <title>Openbox Cloud</title>
</head>

<body class="font-sans text-xs text-grey-900">
  <noscript>
    <strong>Lo sentimos, pero el sistema Openbox Cloud require JavaScript habilitado para poder funcionar.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>