<template>
  <Content>
    <el-dialog
      title="Vista previa"
      :visible.sync="previewProvider"
      :modal="true"
      :append-to-body="true"
      width="65%"
      :close-on-click-modal="false"
    >
      <div>
        <el-row :gutter="15" class="mb-3">
          <el-col :span="14">
            <p class="font-semibold">Nombre o razón social</p>
            <span>{{ activeProvider !== null ? activeProvider.name : '' }}</span>
          </el-col>
          <el-col :span="4">
            <p class="font-semibold">Identificador</p>
            <span>Lieison</span>
          </el-col>
          <el-col :span="3">
            <p class="font-semibold">Estado</p>
            <el-tag
              size="small"
              type="success"
              v-if="activeProvider !== null && activeProvider.isActiveProvider"
            >Activo</el-tag>
            <el-tag size="small" type="warning" v-else>Inactivo</el-tag>
          </el-col>
          <el-col :span="3">
            <p class="font-semibold">Cliente</p>
            <el-tag
              size="small"
              type="success"
              v-if="activeProvider !== null && activeProvider.isCustomer"
            >Si</el-tag>
            <el-tag size="small" type="danger" v-else>No</el-tag>
          </el-col>
        </el-row>
        <el-row :gutter="15" class="mb-3">
          <el-col :span="6">
            <p class="font-semibold">NIT</p>
            <span>{{ activeProvider !== null ? activeProvider.nit : '' }}</span>
          </el-col>
          <el-col
            :span="4"
            v-if="activeProvider !== null && '1' === activeProvider.customerType.id"
          >
            <p class="font-semibold">NRC</p>
            <span>{{ activeProvider !== null ? activeProvider.nrc : '' }}</span>
          </el-col>
          <el-col
            :span="5"
            v-if="activeProvider !== null && '1' !== activeProvider.customerType.id"
          >
            <p class="font-semibold">DUI</p>
            <span>{{ activeProvider !== null ? activeProvider.dui : '' }}</span>
          </el-col>
          <el-col
            :span="9"
            v-if="activeProvider !== null && ('1' === activeProvider.customerType.id || $store.state.naturalTaxer === activeProvider.customerTypeNatural.id)"
          >
            <p class="font-semibold">Giro</p>
            <span>{{ activeProvider !== null ? activeProvider.giro : '' }}</span>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="8">
            <p class="font-semibold">Tipo de cliente</p>
            <span>{{ activeProvider !== null ? activeProvider.customerType.name : '' }}</span>
          </el-col>
          <el-col
            :span="8"
            v-if="activeProvider !== null && '1' !== activeProvider.customerType.id"
          >
            <p class="font-semibold">Tipo de persona natural</p>
            <span>{{ activeProvider !== null ? activeProvider.customerTypeNatural.name : '' }}</span>
          </el-col>
          <el-col
            :span="8"
            v-if="activeProvider !== null && ('1' === activeProvider.customerType.id || $store.state.naturalTaxer === activeProvider.customerTypeNatural.id)"
          >
            <p class="font-semibold">Tipo de contribuyente</p>
            <span>{{ activeProvider !== null ? activeProvider.customerTaxerType.name : '' }}</span>
          </el-col>
        </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="previewProvider = false" size="small">Cerrar</el-button>
      </span>
    </el-dialog>
    <el-form label-position="top">
      <el-row :gutter="15">
        <el-col :span="5">
          <el-form-item label="Estado">
            <el-select
              v-model="status"
              placeholder="Seleccionar"
              size="small"
              class="w-full"
              clearable
              filter-method
              default-first-option
            >
              <el-option
                v-for="item in statuses"
                :key="item.value"
                :label="item.name"
                :value="item.value"
                class="w-full"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6" :offset="13">
          <el-input
            suffix-icon="el-icon-search"
            placeholder="Buscar..."
            v-model="searchValue"
            size="small"
            style="margin-top: 27px;"
          />
        </el-col>
      </el-row>
    </el-form>
    <el-row :gutter="15">
      <el-col :span="24">
        <el-table :data="filteredProviders" stripe size="mini">
          <el-table-column type="index" min-width="40" />
          <el-table-column label="Nombre" prop="name" min-width="340" />
          <el-table-column label="Tipo" prop="customerType.name" min-width="130" />
          <el-table-column label="NIT" prop="nit" min-width="170" />
          <el-table-column label="NRC" prop="nrc" min-width="100" />
          <el-table-column label="Estado" min-width="110">
            <template slot-scope="scope">
              <el-tag size="small" type="success" v-if="scope.row.isActiveProvider">Activo</el-tag>
              <el-tag size="small" type="warning" v-else>Inactivo</el-tag>
            </template>
          </el-table-column>
          <el-table-column label min-width="80" align="center">
            <template slot-scope="scope">
              <el-dropdown trigger="click">
                <el-button icon="el-icon-fa-ellipsis-v" size="small" />
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item @click.native="showCustomerPreview(scope.row)">
                    <i class="el-icon-view"></i> Vista previa
                  </el-dropdown-item>
                  <el-dropdown-item @click.native="goToEditPage(scope.row)">
                    <i class="el-icon-edit-outline"></i> Editar proveedor
                  </el-dropdown-item>
                  <el-dropdown-item @click.native="changeActive(scope.row)">
                    <span v-if="scope.row.isActiveProvider">
                      <i class="el-icon-close"></i> Desactivar
                    </span>
                    <span v-else>
                      <i class="el-icon-check"></i> Activar
                    </span>
                    proveedor
                  </el-dropdown-item>
                  <el-dropdown-item>
                    <i class="el-icon-guide"></i> Sucursales
                  </el-dropdown-item>
                  <el-dropdown-item>
                    <i class="el-icon-notebook-1"></i> Directorio
                  </el-dropdown-item>
                  <el-dropdown-item
                    :divided="true"
                    class="text-red-500 font-semibold"
                    @click.native="deleteProvider(scope.row)"
                  >
                    <i class="el-icon-delete"></i> Eliminar proveedor
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row :gutter="15" class="mt-2">
      <el-col :span="24" class="flex justify-end">
        <el-pagination
          @size-change="handleSizeChange"
          :current-page.sync="page.number"
          :page-sizes="[5, 10, 15, 25, 50, 100]"
          :page-size="page.size"
          layout="total, sizes, prev, pager, next"
          :total="rawProviders.length"
          :pager-count="5"
        />
      </el-col>
    </el-row>
  </Content>
</template>

<script>
import Content from "./../../layout/Content";
import axios from "axios";
import * as R from "ramda";

export default {
  name: "ProvidersAll",
  components: { Content },
  beforeRouteEnter(to, from, next) {
    NProgress.start();
    axios
      .post("/", {
        query: `{
          providers { id name nit nrc isActiveProvider customerType { name } }
        }`
      })
      .then(res => {
        const { data, errors } = res.data;
        if (R.isNil(errors)) {
          next(vm => vm.setData(data.providers));
        } else {
          next(new Error(errors[0].message));
        }
      })
      .catch(err => {
        next(vm => vm.$message.error(vm.$store.state.error.queryDb));
      });
  },
  data() {
    return {
      status: "",
      statuses: [
        { name: "Activo", value: true },
        { name: "Inactivo", value: false }
      ],
      type: null,
      types: [],
      searchValue: "",
      rawProviders: [],
      previewProvider: false,
      activeProvider: null,
      page: {
        size: 10,
        number: 1
      }
    };
  },
  methods: {
    handleSizeChange(val) {
      this.page.size = val;
    },
    setData(providers) {
      this.rawProviders = providers;
    },
    changeActive(provider) {
      const { id, isActiveProvider } = provider;
      const actionName = isActiveProvider ? "desactivar" : "activar";
      this.$confirm(
        `¿Estás seguro que deseas ${actionName} este proveedor?`,
        "Confirmación",
        {
          confirmButtonText: `Si, ${actionName}`,
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation { 
                      providerUpdateStatus(
                        where: { id: "${provider.id}" } 
                        data: { isActiveProvider: ${!provider.isActiveProvider} }
                      )
                      { id name nit nrc isActiveProvider customerType { name } }
                    }`
                })
                .then(res => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawProviders = data.providerUpdateStatus;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? `Se ha ${actionName.substring(
                          0,
                          actionName.length - 1
                        )}do el proveedor correctamente`
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, ${actionName}`;
                  done();
                })
                .catch(err =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          }
        }
      );
    },
    deleteProvider(provider) {
      const { id } = provider;
      this.$confirm(
        "¿Estás seguro que deseas eliminar este proveedor?",
        "Atención",
        {
          confirmButtonText: "Si, eliminar",
          cancelButtonText: "Cancelar",
          confirmButtonClass: "bg-red-500 border-red-500",
          type: "error",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation { 
                      providerDelete(
                        where: { id: "${provider.id}" } 
                      )
                      { id name nit nrc isActiveProvider customerType { name } }
                    }`
                })
                .then(res => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawProviders = data.providerDelete;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? "Se ha eliminado el proveedor correctamente"
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, eliminar`;
                  done();
                })
                .catch(err =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          }
        }
      );
    },
    goToEditPage(provider) {
      this.$router.push({ path: `/providers/edit/${provider.id}` });
    },
    showCustomerPreview(customer) {
      axios
        .post("/", {
          query: `{
          provider(where: { id: "${customer.id}"}) {
            name shortName isCustomer isActiveProvider customerTaxerType { name } customerType { id name } customerTypeNatural { id name } dui nrc nit giro
          }
        }`
        })
        .then(res => {
          const { data, errors } = res.data;
          this.activeProvider = data.provider;
          this.previewProvider = true;
        })
        .catch(err => {
          this.$message.error(this.$store.state.error.queryDb);
        });
    }
  },
  computed: {
    filteredProviders() {
      return this.rawProviders.filter(provider => {
        const searchValue = this.searchValue.toLowerCase();
        const byStatus =
          R.isEmpty(this.status) ||
          R.identical(provider.isActiveProvider, this.status);

        return (
          byStatus &&
          (provider.name.toLowerCase().includes(searchValue) ||
            provider.customerType.name.toLowerCase().includes(searchValue) ||
            provider.nit.toLowerCase().includes(searchValue) ||
            provider.nrc.toLowerCase().includes(searchValue))
        );
      });
    }
  }
};
</script>
