<template>
  <div class="flex">
    <Menu page-name="Clientes" :icon="icon" :menu="menu"/>
    <router-view class="flex h-full w-full"></router-view>
  </div>
</template>

<script>
import Menu from "./../layout/Menu";

export default {
  name: "Customers",
  components: { Menu },
  data() {
    return {
      icon:
        '<path d="M 9 7 C 5.6981362 7 3 9.6981359 3 13 C 3 14.983743 3.9751342 16.750036 5.46875 17.84375 C 2.831147 19.154076 1 21.864226 1 25 L 3 25 C 3 21.674438 5.674438 19 9 19 C 12.325562 19 15 21.674438 15 25 L 17 25 C 17 21.674438 19.674438 19 23 19 C 26.325562 19 29 21.674438 29 25 L 31 25 C 31 21.864226 29.168853 19.154076 26.53125 17.84375 C 28.024866 16.750036 29 14.983743 29 13 C 29 9.698136 26.301864 7 23 7 C 19.698136 7 17 9.698136 17 13 C 17 14.983743 17.975134 16.750036 19.46875 17.84375 C 18.010284 18.568297 16.788984 19.705335 16 21.125 C 15.211016 19.705335 13.989716 18.568297 12.53125 17.84375 C 14.024866 16.750036 15 14.983743 15 13 C 15 9.698136 12.301864 7 9 7 z M 9 9 C 11.220984 9 13 10.779016 13 13 C 13 15.220984 11.220984 17 9 17 C 6.7790164 17 5 15.220984 5 13 C 5 10.779016 6.7790164 9 9 9 z M 23 9 C 25.220984 9 27 10.779016 27 13 C 27 15.220984 25.220984 17 23 17 C 20.779016 17 19 15.220984 19 13 C 19 10.779016 20.779016 9 23 9 z"/>',
      menu: [
        {
          name: "Nuevo cliente",
          icon: "plus",
          path: "/customers/new"
        },
        {
          name: "Listado de clientes",
          icon: "list-ul",
          path: "/customers"
        }
      ]
    };
  }
};
</script>
