<template>
  <Content>
    <div
      class="flex flex-col justify-center items-center h-full"
      v-if="$store.getters.missingProfile"
    >
      <notification
        type="warning"
        title="Atención"
        message="No tienes asignado ningún perfil. Contacta con tu administrador"
        style="width: 50%"
      />
    </div>
    <div class="flex flex-col justify-center items-center w-full h-full" v-else>
      <notification
        type="info"
        title="Bienvenido"
        message="Openbox Cloud permite la gestión de sus operaciones diarias, administración de personal y/o recursos"
        style="width: 50%"
      />
    </div>
  </Content>
</template>

<script>
import Content from "./../layout/Content";
import Notification from "./../../components/Notification";

export default {
  name: "Dashboard",
  components: { Content, Notification }
};
</script>
