<template>
  <Content>
    <el-tabs v-model="activeTab">
      <el-tab-pane label="Zonas y vendedores" name="first">
        <InvoicesSettingsZonesSellers :zones="rawInvoicesZones" :sellers="rawInvoicesSellers" />
      </el-tab-pane>
      <el-tab-pane label="Condiciones de pago" name="second">
        <InvoicesSettingsConditions :conditions="rawInvoicesPaymentsConditions" />
      </el-tab-pane>
      <el-tab-pane label="Correlativos" name="third">
        <InvoicesSettingsSequences
          :types="rawInvoicesDocumentTypes"
          :documents="rawInvoicesDocuments"
        />
      </el-tab-pane>
    </el-tabs>
  </Content>
</template>

<script>
import Content from "./../../layout/Content";
import InvoicesSettingsZonesSellers from "./InvoicesSettingsZonesSellers";
import InvoicesSettingsConditions from "./InvoicesSettingsConditions";
import InvoicesSettingsSequences from "./InvoicesSettingsSequences";
import axios from "axios";
import * as R from "ramda";

export default {
  name: "InvoicesSettings",
  components: {
    Content,
    InvoicesSettingsZonesSellers,
    InvoicesSettingsConditions,
    InvoicesSettingsSequences
  },
  beforeRouteEnter(to, from, next) {
    NProgress.start();
    axios
      .post("/", {
        query: `{
          invoicesZones { id name active }
          invoicesSellers { id name active zone { id name } }
          invoicesPaymentsConditions { id name active }
          invoicesDocumentTypes { id name code }
          invoicesDocuments { id authorization initial final current active used documentType { id } }
        }`
      })
      .then(res => {
        const { data, errors } = res.data;
        if (R.isNil(errors)) {
          next(vm =>
            vm.setData(
              data.invoicesZones,
              data.invoicesSellers,
              data.invoicesPaymentsConditions,
              data.invoicesDocumentTypes,
              data.invoicesDocuments
            )
          );
        } else {
          next(new Error(errors[0].message));
        }
      })
      .catch(err => {
        next(vm => vm.$message.error(vm.$store.state.error.queryDb));
      });
  },
  data() {
    return {
      activeTab: "first",
      rawInvoicesZones: [],
      rawInvoicesSellers: [],
      rawInvoicesPaymentsConditions: [],
      rawInvoicesDocumentTypes: [],
      rawInvoicesDocuments: []
    };
  },
  methods: {
    setData(
      invoicesZones,
      invoicesSellers,
      invoicesPaymentsConditions,
      invoicesDocumentTypes,
      invoicesDocuments
    ) {
      this.rawInvoicesZones = invoicesZones;
      this.rawInvoicesSellers = invoicesSellers;
      this.rawInvoicesPaymentsConditions = invoicesPaymentsConditions;
      this.rawInvoicesDocumentTypes = invoicesDocumentTypes;
      this.rawInvoicesDocuments = invoicesDocuments;
    }
  }
};
</script>
