<template>
  <div>
    <el-form
      :model="invoiceSettingsCorrelativos"
      status-icon
      ref="invoiceSettingsCorrelativos"
      @submit.native.prevent="saveSequences('invoiceSettingsCorrelativos', invoiceSettingsCorrelativos)"
    >
      <div class="flex flex-wrap">
        <div
          v-for="(sequence, k) in invoiceSettingsCorrelativos.sequences"
          class="w-79 border-2 bg-white rounded m-1 p-4 shadow"
          :class="{'border-blue-800': sequence.active, 'border-gray-200': sequence.used}"
          :key="k"
        >
          <div class="flex justify-between items-center mb-5">
            <span
              class="font-semibold text-base"
              :class="{'text-blue-900': sequence.active, 'text-gray-500': sequence.used}"
            >{{ sequence.name }}</span>
            <div class="flex items-center">
              <el-switch v-model="sequence.active" class="mr-2" />
              <el-button type="primary" size="mini" icon="el-icon-plus" :disabled="sequence.used" />
            </div>
          </div>
          <el-row :gutter="15">
            <el-col :span="24">
              <el-form-item
                label="N° Autorización"
                class="flex flex-col items-start"
                :prop="'sequences.' + k + '.authorization'"
                :rules="sequence.active ? invoiceSettingsCorrelativosRules.authorization : []"
              >
                <el-input
                  type="text"
                  v-model="sequence.authorization"
                  size="small"
                  :disabled="sequence.used"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="15" class="pb-4">
            <el-col :span="12">
              <el-form-item
                label="Inicial"
                class="flex flex-col items-start"
                :prop="'sequences.' + k + '.initial'"
                :rules="sequence.active ? invoiceSettingsCorrelativosRules.initial : []"
              >
                <el-input
                  type="number"
                  v-model="sequence.initial"
                  size="small"
                  :disabled="sequence.used"
                />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item
                label="Final"
                class="flex flex-col items-start"
                :prop="'sequences.' + k + '.final'"
                :rules="sequence.active ? invoiceSettingsCorrelativosRules.final : []"
              >
                <el-input
                  type="number"
                  v-model="sequence.final"
                  size="small"
                  :disabled="sequence.used"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="15">
            <el-col :span="24">
              <el-form-item
                label="Actual"
                class="flex flex-col items-start"
                :prop="'sequences.' + k + '.current'"
                :rules="sequence.active ? invoiceSettingsCorrelativosRules.current : []"
              >
                <el-input
                  type="number"
                  v-model="sequence.current"
                  size="small"
                  :disabled="sequence.used"
                />
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </div>
      <div class="flex justify-end mt-3">
        <el-button size="small" type="primary" native-type="submit">Guardar</el-button>
        <el-button size="small" @click="cancel()">Cancelar</el-button>
      </div>
    </el-form>
  </div>
</template>

<script>
import { inputValidate, amountValidate } from "./../../../utils.js";
import * as R from "ramda";
import axios from "axios";

export default {
  name: "InvoicesSettingsSequences",
  props: ["types", "documents"],
  data() {
    return {
      create: true,
      invoiceSettingsCorrelativos: {
        sequences: []
      },
      invoiceSettingsCorrelativosRules: {
        authorization: inputValidate("blur", true, 5, 60),
        initial: amountValidate("blur", true, 1),
        final: amountValidate("blur", true, 1),
        current: amountValidate("blur", true, 1)
      }
    };
  },
  watch: {
    types() {
      if (!R.isEmpty(this.documents)) {
        this.create = false;
      }
      for (const documentType of this.types) {
        const document = this.documents.find(
          document =>
            document.documentType.id === documentType.id && document.active
        );
        this.invoiceSettingsCorrelativos.sequences.push({
          name: documentType.name,
          documentType: documentType.id,
          id: R.isNil(document) ? "" : document.id,
          active: R.isNil(document) ? true : document.active,
          used: R.isNil(document) ? false : document.used,
          authorization: R.isNil(document) ? "" : document.authorization,
          initial: R.isNil(document) ? "" : document.initial,
          final: R.isNil(document) ? "" : document.final,
          current: R.isNil(document) ? "" : document.current,
          new: R.isNil(document) ? true : false
        });
      }
    }
  },
  methods: {
    saveSequences(formName, data) {
      this.$refs[formName].clearValidate();
      this.$refs[formName].validate(async valid => {
        if (!valid) {
          return false;
        }

        this.$confirm(
          "¿Estás seguro que deseas guardar la información de los correlativos?",
          "Confirmación",
          {
            confirmButtonText: "Si, guardar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";

                let sequences = "";
                for (const s of data.sequences) {
                  if (s.active) {
                    if (this.create) {
                      sequences += `{
                        authorization: "${s.authorization}",
                        initial: ${s.initial},
                        final: ${s.final},
                        current: ${s.current},
                        active: ${s.active},
                        documentType: "${s.documentType}"
                      }`;
                    } else {
                      sequences += `{
                        data: {
                          authorization: "${s.authorization}",
                          initial: ${s.initial},
                          final: ${s.final},
                          current: ${s.current},
                          active: ${s.active},
                          documentType: "${s.documentType}"
                        },
                        where: {
                          id: "${s.id}"
                        }
                      }`;
                    }
                  } else {
                    if (this.create) {
                      sequences += `{
                        active: ${s.active},
                        documentType: "${s.documentType}"
                      }`;
                    } else {
                      sequences += `{
                        data: {
                          active: ${s.active},
                          documentType: "${s.documentType}"
                        },
                        where: {
                          id: "${s.id}"
                        }
                      }`;
                    }
                  }
                }

                axios
                  .post("/", {
                    query: `mutation { 
                      ${
                        this.create
                          ? "invoicesDocumentCreate"
                          : "invoicesDocumentUpdate"
                      }(
                      data: [${sequences}]
                      ){ id }
                    }`
                  })
                  .then(res => {
                    const { data, errors } = res.data;
                    if (R.isNil(errors)) {
                      this.$refs[formName].clearValidate();
                    }
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se ha guardado la información de los correlativos correctamente"
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    done();
                  })
                  .catch(err =>
                    this.$message.error(this.$store.state.error.queryDb)
                  )
                  .then(alw => {
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, guardar";
                    done();
                  });
              } else {
                done();
              }
            }
          }
        );
      });
    },
    cancel() {
      this.$confirm("¿Estás seguro que deseas salir?", "Confirmación", {
        confirmButtonText: "Si, salir",
        cancelButtonText: "Cancelar",
        type: "warning"
      }).then(() => {
        this.$router.push("/invoices");
      });
    }
  }
};
</script>
