<template>
  <div>
    <el-dialog
      title="Nueva zona"
      :visible.sync="showNewZone"
      width="30%"
      :append-to-body="true"
      :close-on-click-modal="false"
    >
      <el-form
        :model="newZoneForm"
        status-icon
        :rules="newZoneFormRules"
        ref="newZoneForm"
        @submit.prevent.native="submitZone('newZoneForm', newZoneForm)"
      >
        <div>
          <el-form-item label="Nombre de la zona" prop="name">
            <el-input
              clearable
              type="text"
              v-model="newZoneForm.name"
              size="small"
              autocomplete="off"
            />
          </el-form-item>
        </div>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button
          type="primary"
          size="small"
          @click.native="submitZone('newZoneForm', newZoneForm)"
        >Guardar</el-button>
        <el-button @click="showNewZone = false" size="small">Cancelar</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Editar zona"
      :visible.sync="showEditZone"
      width="30%"
      :append-to-body="true"
      :close-on-click-modal="false"
    >
      <el-form
        :model="editZoneForm"
        status-icon
        :rules="editZoneFormRules"
        ref="editZoneForm"
        @submit.prevent.native="submitEditZone('editZoneForm', tempZoneId, editZoneForm)"
      >
        <div>
          <el-form-item label="Nombre de la zona" prop="name">
            <el-input
              clearable
              type="text"
              v-model="editZoneForm.name"
              size="small"
              autocomplete="off"
            />
          </el-form-item>
        </div>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button
          type="primary"
          size="small"
          @click.native="submitEditZone('editZoneForm', tempZoneId, editZoneForm)"
        >Guardar</el-button>
        <el-button @click="showEditZone = false" size="small">Cancelar</el-button>
      </span>
    </el-dialog>

    <el-dialog
      title="Nuevo vendedor"
      :visible.sync="showNewSeller"
      width="45%"
      :append-to-body="true"
      :close-on-click-modal="false"
    >
      <el-form
        :model="newSellerForm"
        status-icon
        :rules="newSellerFormRules"
        ref="newSellerForm"
        @submit.prevent.native="submitSeller('newSellerForm', newSellerForm)"
      >
        <el-row :gutter="15">
          <el-col :span="15">
            <el-form-item label="Nombre del vendedor" prop="name">
              <el-input clearable v-model="newSellerForm.name" size="small" autocomplete="off" />
            </el-form-item>
          </el-col>
          <el-col :span="9">
            <el-form-item label="Zona asignada" prop="zone">
              <el-select
                v-model="newSellerForm.zone"
                placeholder="Seleccionar"
                size="small"
                class="w-full"
                clearable
                filterable
                default-first-option
              >
                <el-option
                  v-for="zone in activeZones"
                  :key="zone.id"
                  :label="zone.name"
                  :value="zone.id"
                  class="w-full"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button
          type="primary"
          size="small"
          @click.native="submitSeller('newSellerForm', newSellerForm)"
        >Guardar</el-button>
        <el-button @click="showNewSeller = false" size="small">Cancelar</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Editar vendedor"
      :visible.sync="showEditSeller"
      width="45%"
      :append-to-body="true"
      :close-on-click-modal="false"
    >
      <el-form
        :model="editSellerForm"
        status-icon
        :rules="editSellerFormRules"
        ref="editSellerForm"
        @submit.prevent.native="submitEditSeller('editSellerForm', tempSellerId, editSellerForm)"
      >
        <el-row :gutter="15">
          <el-col :span="15">
            <el-form-item label="Nombre del vendedor" prop="name">
              <el-input
                clearable
                type="text"
                v-model="editSellerForm.name"
                size="small"
                autocomplete="off"
              />
            </el-form-item>
          </el-col>
          <el-col :span="9">
            <el-form-item label="Zona asignada" prop="zone">
              <el-select
                v-model="editSellerForm.zone"
                placeholder="Seleccionar"
                size="small"
                class="w-full"
                clearable
                filterable
                default-first-option
              >
                <el-option
                  v-for="zone in activeZones"
                  :key="zone.id"
                  :label="zone.name"
                  :value="zone.id"
                  class="w-full"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button
          type="primary"
          size="small"
          @click.native="submitEditSeller('editSellerForm', tempSellerId, editSellerForm)"
        >Guardar</el-button>
        <el-button @click="showEditSeller = false" size="small">Cancelar</el-button>
      </span>
    </el-dialog>

    <el-row :gutter="15">
      <el-col :span="9">
        <el-row :gutter="15" class="text-blue-900 font-semibold mb-3">
          <el-col :span="24" class="flex justify-between items-center">
            <span class="text-lg uppercase">Zonas</span>
            <el-button type="primary" size="small" icon="el-icon-plus" @click="openNewZone" />
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="24">
            <el-table :data="rawZones" stripe style="width: 100%" size="mini">
              <el-table-column type="index" label="#" />
              <el-table-column prop="name" label="Zona" min-width="160" />
              <el-table-column prop="active" label="Estado" min-width="90">
                <template slot-scope="scope">
                  <el-tag size="small" type="success" v-if="scope.row.active">Activo</el-tag>
                  <el-tag size="small" type="warning" v-else>Inactivo</el-tag>
                </template>
              </el-table-column>
              <el-table-column min-width="60" align="right">
                <template slot-scope="scope">
                  <el-dropdown trigger="click">
                    <el-button icon="el-icon-fa-ellipsis-v" size="small" />
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item @click.native="editZone(scope.row)">
                        <i class="el-icon-edit-outline"></i> Editar zona
                      </el-dropdown-item>
                      <el-dropdown-item @click.native="changeZoneActive(scope.row)">
                        <span v-if="scope.row.active">
                          <i class="el-icon-close"></i> Desactivar
                        </span>
                        <span v-else>
                          <i class="el-icon-check"></i> Activar
                        </span>
                        zona
                      </el-dropdown-item>
                      <el-dropdown-item
                        :divided="true"
                        class="text-red-500 font-semibold"
                        @click.native="deleteZone(scope.row)"
                      >
                        <i class="el-icon-delete"></i> Eliminar zona
                      </el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>
      </el-col>
      <el-col :span="15">
        <el-row :gutter="15" class="text-blue-900 font-semibold mb-3">
          <el-col :span="24" class="flex justify-between items-center">
            <span class="text-lg uppercase">vendedores</span>
            <el-button type="primary" size="small" icon="el-icon-plus" @click="openNewSeller" />
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="24">
            <el-table :data="rawSellers" stripe style="width: 100%" size="mini">
              <el-table-column type="index" label="#" />
              <el-table-column prop="name" label="Vendedor" min-width="225" />
              <el-table-column label="Zona" min-width="180">
                <template slot-scope="scope">
                  <span>{{ scope.row.zone.name }}</span>
                </template>
              </el-table-column>
              <el-table-column prop="active" label="Estado" min-width="90">
                <template slot-scope="scope">
                  <el-tag size="small" type="success" v-if="scope.row.active">Activo</el-tag>
                  <el-tag size="small" type="warning" v-else>Inactivo</el-tag>
                </template>
              </el-table-column>

              <el-table-column min-width="60" align="right">
                <template slot-scope="scope">
                  <el-dropdown trigger="click">
                    <el-button icon="el-icon-fa-ellipsis-v" size="small" />
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item @click.native="editSeller(scope.row)">
                        <i class="el-icon-edit-outline"></i> Editar vendedor
                      </el-dropdown-item>
                      <el-dropdown-item @click.native="changeSellerActive(scope.row)">
                        <span v-if="scope.row.active">
                          <i class="el-icon-close"></i> Desactivar
                        </span>
                        <span v-else>
                          <i class="el-icon-check"></i> Activar
                        </span>
                        vendedor
                      </el-dropdown-item>
                      <el-dropdown-item
                        :divided="true"
                        class="text-red-500 font-semibold"
                        @click.native="deleteSeller(scope.row)"
                      >
                        <i class="el-icon-delete"></i> Eliminar vendedor
                      </el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { inputValidate } from "./../../../utils";
import axios from "axios";
import * as R from "ramda";

export default {
  name: "InvoicesSettingsZonesSellers",
  props: ["zones", "sellers"],
  data() {
    return {
      rawZones: [],
      showNewZone: false,
      newZoneForm: {
        name: ""
      },
      newZoneFormRules: {
        name: inputValidate("blur", true, 5, 60)
      },
      showEditZone: false,
      editZoneForm: {
        name: ""
      },
      editZoneFormRules: {
        name: inputValidate("blur", true, 5, 60)
      },
      tempZoneId: null,
      rawSellers: [],
      showNewSeller: false,
      newSellerForm: {
        name: "",
        zone: ""
      },
      newSellerFormRules: {
        name: inputValidate("blur", true, 5, 60),
        zone: inputValidate("change", true)
      },
      showEditSeller: false,
      editSellerForm: {
        name: "",
        zone: ""
      },
      editSellerFormRules: {
        name: inputValidate("blur", true, 5, 60),
        zone: inputValidate("change", true)
      },
      tempSellerId: null
    };
  },
  watch: {
    zones() {
      this.rawZones = this.zones;
    },
    sellers() {
      this.rawSellers = this.sellers;
    }
  },
  methods: {
    openNewZone() {
      this.showNewZone = true;
      this.$refs["newZoneForm"].resetFields();
    },
    submitZone(formName, data) {
      this.$refs[formName].validate(async valid => {
        if (!valid) {
          return false;
        }

        this.$confirm(
          "¿Estás seguro que deseas guardar esta nueva zona?",
          "Confirmación",
          {
            confirmButtonText: "Si, guardar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";
                axios
                  .post("/", {
                    query: `mutation { 
                      invoicesZoneCreate(
                        data: {
                          name: "${data.name}",
                        }
                      ){ id name active}
                    }`
                  })
                  .then(res => {
                    const { data, errors } = res.data;
                    if (R.isNil(errors)) {
                      this.rawZones = data.invoicesZoneCreate;
                      this.showNewZone = false;
                    }
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se ha guardado la nueva zona correctamente"
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, guardar";
                    done();
                  })
                  .catch(err =>
                    this.$message.error(this.$store.state.error.queryDb)
                  );
              } else {
                done();
              }
            }
          }
        );
      });
    },
    editZone({ id, name }) {
      this.tempZoneId = id;
      this.editZoneForm.name = name;
      this.showEditZone = true;
    },
    submitEditZone(formName, zoneId, { name }) {
      this.$refs[formName].validate(async valid => {
        if (!valid) {
          return false;
        }

        this.$confirm(
          "¿Estás seguro que deseas actualizar esta zona?",
          "Confirmación",
          {
            confirmButtonText: "Si, actualizar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";
                axios
                  .post("/", {
                    query: `mutation { 
                      invoicesZoneUpdate(
                      where: {
                        id: "${zoneId}"
                      },
                      data: {
                          name: "${name}",
                        }
                      ){ id name active}
                    }`
                  })
                  .then(res => {
                    const { data, errors } = res.data;
                    if (R.isNil(errors)) {
                      this.rawZones = data.invoicesZoneUpdate;
                      this.showEditZone = false;
                    }
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se ha actualizado la zona correctamente"
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, actualizar";
                    done();
                  })
                  .catch(err =>
                    this.$message.error(this.$store.state.error.queryDb)
                  );
              } else {
                done();
              }
            }
          }
        );
      });
    },
    changeZoneActive(zone) {
      const { id, active } = zone;
      const actionName = active ? "desactivar" : "activar";
      this.$confirm(
        `¿Estás seguro que deseas ${actionName} esta zona?`,
        "Confirmación",
        {
          confirmButtonText: `Si, ${actionName}`,
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation { 
                      invoicesZoneUpdateStatus(
                        where: { id: "${id}" } 
                        data: { active: ${!active} }
                      )
                      { id name active }
                    }`
                })
                .then(res => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawZones = data.invoicesZoneUpdateStatus;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? `Se ha ${actionName.substring(
                          0,
                          actionName.length - 1
                        )}do la zona correctamente`
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, ${actionName}`;
                  done();
                })
                .catch(err =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          }
        }
      );
    },
    deleteZone({ id }) {
      this.$confirm(
        "¿Estás seguro que deseas eliminar esta zona?",
        "Confirmación",
        {
          confirmButtonText: `Si, eliminar`,
          cancelButtonText: "Cancelar",
          confirmButtonClass: "bg-red-500 border-red-500",
          type: "error",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation { 
                      invoicesZoneDelete(
                        where: { id: "${id}" } 
                      )
                      { id name active }
                    }`
                })
                .then(res => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawZones = data.invoicesZoneDelete;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? "Se ha eliminado la zona correctamente"
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, eliminar`;
                  done();
                })
                .catch(err =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          }
        }
      );
    },
    openNewSeller() {
      this.showNewSeller = true;
      this.$refs["newSellerForm"].resetFields();
    },
    submitSeller(formName, data) {
      this.$refs[formName].validate(async valid => {
        if (!valid) {
          return false;
        }

        this.$confirm(
          "¿Estás seguro que deseas guardar este nuevo vendedor?",
          "Confirmación",
          {
            confirmButtonText: "Si, guardar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";
                axios
                  .post("/", {
                    query: `mutation { 
                      invoicesSellerCreate(
                        data: {
                          name: "${data.name}",
                          zone: "${data.zone}",
                        }
                      ){ id name active zone { id name } }
                    }`
                  })
                  .then(res => {
                    const { data, errors } = res.data;
                    if (R.isNil(errors)) {
                      this.rawSellers = data.invoicesSellerCreate;
                      this.showNewSeller = false;
                    }
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se ha guardado el nuevo vendedor correctamente"
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, guardar";
                    done();
                  })
                  .catch(err =>
                    this.$message.error(this.$store.state.error.queryDb)
                  );
              } else {
                done();
              }
            }
          }
        );
      });
    },
    editSeller({ id, name, zone }) {
      this.tempSellerId = id;
      this.editSellerForm.name = name;
      this.editSellerForm.zone = zone.id;
      this.showEditSeller = true;
    },
    submitEditSeller(formName, sellerId, { name, zone }) {
      this.$refs[formName].validate(async valid => {
        if (!valid) {
          return false;
        }

        this.$confirm(
          "¿Estás seguro que deseas actualizar este vendedor?",
          "Confirmación",
          {
            confirmButtonText: "Si, actualizar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";
                axios
                  .post("/", {
                    query: `mutation { 
                      invoicesSellerUpdate(
                        where: {
                          id: "${sellerId}"
                        },
                        data: {
                          name: "${name}",
                          zone: "${zone}"
                        }
                      ){ id name active zone { id name } }
                    }`
                  })
                  .then(res => {
                    const { data, errors } = res.data;
                    if (R.isNil(errors)) {
                      this.rawSellers = data.invoicesSellerUpdate;
                      this.showEditSeller = false;
                    }
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se ha actualizado el vendedor correctamente"
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, actualizar";
                    done();
                  })
                  .catch(err =>
                    this.$message.error(this.$store.state.error.queryDb)
                  );
              } else {
                done();
              }
            }
          }
        );
      });
    },
    changeSellerActive(seller) {
      const { id, active } = seller;
      const actionName = active ? "desactivar" : "activar";
      this.$confirm(
        `¿Estás seguro que deseas ${actionName} este vendedor?`,
        "Confirmación",
        {
          confirmButtonText: `Si, ${actionName}`,
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation { 
                      invoicesSellerUpdateStatus(
                        where: { id: "${id}" } 
                        data: { active: ${!active} }
                      )
                      { id name active zone { id name } }
                    }`
                })
                .then(res => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawSellers = data.invoicesSellerUpdateStatus;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? `Se ha ${actionName.substring(
                          0,
                          actionName.length - 1
                        )}do el vendedor correctamente`
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, ${actionName}`;
                  done();
                })
                .catch(err =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          }
        }
      );
    },
    deleteSeller({ id }) {
      this.$confirm(
        "¿Estás seguro que deseas eliminar este vendedor?",
        "Confirmación",
        {
          confirmButtonText: `Si, eliminar`,
          cancelButtonText: "Cancelar",
          confirmButtonClass: "bg-red-500 border-red-500",
          type: "error",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation { 
                      invoicesSellerDelete(
                        where: { id: "${id}" } 
                      )
                      { id name active zone { id name } }
                    }`
                })
                .then(res => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawSellers = data.invoicesSellerDelete;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? "Se ha eliminado el vendedor correctamente"
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, eliminar`;
                  done();
                })
                .catch(err =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          }
        }
      );
    }
  },
  computed: {
    activeZones() {
      return this.rawZones.filter(zone => zone.active);
    }
  }
};
</script>
