<template>
  <Content>
    <el-dialog
      title="Vista previa"
      :visible.sync="previewInvoice"
      :modal="true"
      :append-to-body="true"
      width="65%"
      :close-on-click-modal="false"
    >
      <div class="text-xs">
        <el-row :gutter="15" class="mb-2">
          <el-col :span="6">
            <p class="font-semibold">Tipo de documento</p>
            <span>{{
              invoice !== null
                ? `${invoice.documentType.code} - ${invoice.documentType.name}`
                : ""
            }}</span>
          </el-col>
          <el-col :span="4" :offset="3">
            <p class="font-semibold">No. autorización</p>
            <span>{{ invoice !== null ? invoice.authorization : "" }}</span>
          </el-col>
          <el-col :span="3">
            <p class="font-semibold">Correlativo</p>
            <span>{{ invoice !== null ? invoice.sequence : "" }}</span>
          </el-col>
          <el-col :span="4">
            <p class="font-semibold">Fecha de factura</p>
            <span>{{ invoice !== null ? invoice.invoiceDate : "" }}</span>
          </el-col>
          <el-col :span="4">
            <p class="font-semibold">Estado</p>
            <el-tag
              size="small"
              type="info"
              v-if="invoice !== null && invoice.status.id === '1'"
              >{{ invoice.status.name }}</el-tag
            >
            <el-tag
              size="small"
              type="success"
              v-else-if="invoice !== null && invoice.status.id === '2'"
              >{{ invoice.status.name }}</el-tag
            >
            <el-tag
              size="small"
              type="warning"
              v-else-if="invoice !== null && invoice.status.id === '4'"
              >{{ invoice.status.name }}</el-tag
            >
            <el-tag
              size="small"
              type="danger"
              v-else-if="invoice !== null && invoice.status.id === '3'"
              >{{ invoice.status.name }}</el-tag
            >
          </el-col>
        </el-row>
        <el-row :gutter="15" class="mb-3">
          <el-col :span="10">
            <p class="font-semibold">Cliente:</p>
            <span>{{ invoice !== null ? invoice.customerName : "" }}</span>
          </el-col>
          <el-col :span="4">
            <p class="font-semibold">Sucursal:</p>
            <span>{{
              invoice !== null ? invoice.customerBranch.name : ""
            }}</span>
          </el-col>
          <el-col :span="5">
            <p class="font-semibold">Condiciones de pago:</p>
            <span>{{
              invoice !== null ? invoice.paymentConditionName : ""
            }}</span>
          </el-col>
          <el-col :span="5">
            <p class="font-semibold">Venta a cuenta de:</p>
            <span>{{ invoice !== null ? invoice.sellerName : "" }}</span>
          </el-col>
        </el-row>
        <el-row :gutter="15" class="mb-3">
          <el-col :span="7">
            <p class="font-semibold">Dirección 1:</p>
            <span>{{ invoice !== null ? invoice.customerAddress1 : "" }}</span>
          </el-col>
          <el-col :span="7">
            <p class="font-semibold">Dirección 2:</p>
            <span>{{ invoice !== null ? invoice.customerAddress2 : "" }}</span>
          </el-col>
          <el-col :span="5">
            <p class="font-semibold">Departamento:</p>
            <span>{{ invoice !== null ? invoice.customerState : "" }}</span>
          </el-col>
          <el-col :span="5">
            <p class="font-semibold">Municipio:</p>
            <span>{{ invoice !== null ? invoice.customerCity : "" }}</span>
          </el-col>
        </el-row>
        <el-row :gutter="15" class="mb-3">
          <el-col :span="6">
            <p class="font-semibold">NIT:</p>
            <span>{{ invoice !== null ? invoice.customerNit : "" }}</span>
          </el-col>
          <el-col :span="5">
            <p class="font-semibold">DUI:</p>
            <span>{{ invoice !== null ? invoice.customerDui : "" }}</span>
          </el-col>
          <el-col :span="3">
            <p class="font-semibold">NRC:</p>
            <span>{{ invoice !== null ? invoice.customerNrc : "" }}</span>
          </el-col>
          <el-col :span="10">
            <p class="font-semibold">Giro:</p>
            <span>{{ invoice !== null ? invoice.customerGiro : "" }}</span>
          </el-col>
        </el-row>
        <el-row :gutter="15" v-if="invoice !== null">
          <el-col :span="24">
            <el-table
              :data="invoice.details"
              stripe
              style="width: 100%"
              size="mini"
            >
              <el-table-column type="index" label="#" />
              <el-table-column
                prop="quantity"
                label="Cant."
                min-width="50"
              ></el-table-column>
              <el-table-column
                prop="chargeDescription"
                label="Descripción"
                min-width="270"
              />
              <el-table-column
                label="Precio Unit."
                min-width="75"
                align="right"
              >
                <template slot-scope="scope">
                  <span>{{ scope.row.unitPrice | formatMoney }}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="V. No sujeta"
                min-width="75"
                align="right"
              >
                <template slot-scope="scope">
                  <span v-if="scope.row.sellingType.id === '1'">{{
                    calcSujeta(invoice.documentType.id, scope.row) | formatMoney
                  }}</span>
                </template>
              </el-table-column>
              <el-table-column label="V. Exenta" min-width="75" align="right">
                <template slot-scope="scope">
                  <span v-if="scope.row.sellingType.id === '2'">{{
                    calcExenta(invoice.documentType.id, scope.row) | formatMoney
                  }}</span>
                </template>
              </el-table-column>
              <el-table-column label="V. Gravada" min-width="75" align="right">
                <template slot-scope="scope">
                  <span v-if="scope.row.sellingType.id === '3'">{{
                    calcGravada(invoice.documentType.id, scope.row)
                      | formatMoney
                  }}</span>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>
        <el-row :gutter="15" class="pt-2" v-if="invoice !== null">
          <el-col :span="24" class="flex justify-end">
            <table>
              <tbody>
                <tr class="border-t">
                  <td align="right" class="text-blue-900" width="200px">
                    SUMAS:
                  </td>
                  <td align="right" class="pl-15 pr-2 text-gray-800">
                    {{
                      invoice.documentType.id === "1"
                        ? parseFloat(invoice.sum) + parseFloat(invoice.iva)
                        : invoice.sum | formatMoney
                    }}
                  </td>
                </tr>
                <tr class="border-t" v-if="invoice.documentType.id === '2'">
                  <td align="right" class="text-blue-900" width="200px">
                    13% Iva:
                  </td>
                  <td align="right" class="pl-15 pr-2 text-gray-800">
                    {{ invoice.iva | formatMoney }}
                  </td>
                </tr>
                <tr class="border-t">
                  <td align="right" class="text-blue-900" width="200px">
                    Subtotal:
                  </td>
                  <td align="right" class="pl-15 pr-2 text-gray-800">
                    {{ invoice.subtotal | formatMoney }}
                  </td>
                </tr>
                <tr class="border-t">
                  <td align="right" class="text-blue-900" width="200px">
                    Iva retenido:
                  </td>
                  <td align="right" class="pl-15 pr-2 text-gray-800">
                    {{ invoice.ivaRetenido | formatMoney }}
                  </td>
                </tr>
                <tr class="border-t">
                  <td align="right" class="text-blue-900" width="200px">
                    Ventas exentas:
                  </td>
                  <td align="right" class="pl-15 pr-2 text-gray-800">
                    {{ invoice.ventasExentas | formatMoney }}
                  </td>
                </tr>
                <tr class="border-t">
                  <td align="right" class="text-blue-900" width="200px">
                    Ventas no sujetas:
                  </td>
                  <td align="right" class="pl-15 pr-2 text-gray-800">
                    {{ invoice.ventasNoSujetas | formatMoney }}
                  </td>
                </tr>
                <tr class="border-t">
                  <td
                    align="right"
                    class="text-blue-900 font-semibold"
                    width="200px"
                  >
                    Venta total:
                  </td>
                  <td align="right" class="pl-15 pr-2 text-gray-800">
                    {{ invoice.ventaTotal | formatMoney }}
                  </td>
                </tr>
              </tbody>
            </table>
          </el-col>
        </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="previewInvoice = false" size="small"
          >Cerrar</el-button
        >
      </span>
    </el-dialog>

    <el-form label-position="top">
      <el-row class="mb-4" :gutter="15" type="flex" justify="end">
        <el-col :span="6" :offset="13">
          <el-input
            suffix-icon="el-icon-search"
            placeholder="Buscar..."
            v-model="searchValue"
            size="small"
          />
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="8">
          <el-form-item label="Rango de fechas:">
            <el-date-picker
              style="margin-top: 9px"
              class="w-full"
              size="small"
              v-model="filterBy.dateRange"
              type="daterange"
              align="left"
              unlink-panels
              range-separator="-"
              start-placeholder="Fecha inicio"
              end-placeholder="Fecha final"
              :editable="false"
              format="dd/MM/yyyy"
            />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="Cliente:">
            <el-select
              v-model="filterBy.customer"
              placeholder="Seleccionar cliente"
              size="small"
              class="w-full"
              filterable
              default-first-option
            >
              <el-option label="Todos los clientes" :value="null" />
              <el-option-group label="ACTIVOS">
                <el-option
                  v-for="customer in activeCustomers"
                  :key="customer.id"
                  :label="customer.name"
                  :value="customer.id"
                />
              </el-option-group>
              <el-option-group label="INACTIVOS">
                <el-option
                  v-for="customer in inactiveCustomers"
                  :key="customer.id"
                  :label="customer.name"
                  :value="customer.id"
                />
              </el-option-group>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="Tipo fact.:">
            <el-select
              v-model="filterBy.invoiceDocumentType"
              placeholder="Seleccionar"
              size="small"
              class="w-full"
              default-first-option
            >
              <el-option label="Todos los tipos" :value="null" />
              <el-option
                v-for="invoicesDocumentType in rawInvoicesDocumentTypes"
                :key="invoicesDocumentType.id"
                :label="
                  `${invoicesDocumentType.code} - ${invoicesDocumentType.name}`
                "
                :value="invoicesDocumentType.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="Estado:">
            <el-select
              v-model="filterBy.status"
              placeholder="Seleccionar"
              size="small"
              class="w-full"
              default-first-option
            >
              <el-option label="Todos los estados" :value="null" />
              <el-option
                v-for="status in rawStatuses"
                :key="status.id"
                :label="status.name"
                :value="status.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="6">
          <el-form-item label="Vendedor:">
            <el-select
              v-model="filterBy.seller"
              placeholder="Seleccionar vendedor"
              size="small"
              class="w-full"
              filterable
              default-first-option
            >
              <el-option label="Todos los vendedores" :value="null" />
              <el-option-group label="ACTIVOS">
                <el-option
                  v-for="seller in activeSellers"
                  :key="seller.id"
                  :label="seller.name"
                  :value="seller.id"
                />
              </el-option-group>
              <el-option-group label="INACTIVOS">
                <el-option
                  v-for="seller in inactiveSellers"
                  :key="seller.id"
                  :label="seller.name"
                  :value="seller.id"
                />
              </el-option-group>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Zona:">
            <el-select
              v-model="filterBy.zone"
              placeholder="Seleccionar zona"
              size="small"
              class="w-full"
              filterable
              default-first-option
            >
              <el-option label="Todas las zonas" :value="null" />
              <el-option-group label="ACTIVOS">
                <el-option
                  v-for="zone in activeZones"
                  :key="zone.id"
                  :label="zone.name"
                  :value="zone.id"
                />
              </el-option-group>
              <el-option-group label="INACTIVOS">
                <el-option
                  v-for="zone in inactiveZones"
                  :key="zone.id"
                  :label="zone.name"
                  :value="zone.id"
                />
              </el-option-group>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Servicio:">
            <el-select
              v-model="filterBy.service"
              placeholder="Seleccionar servicio"
              size="small"
              class="w-full"
              filterable
              default-first-option
            >
              <el-option label="Todos los servicios" :value="null" />
              <el-option-group label="ACTIVOS">
                <el-option
                  v-for="service in activeServices"
                  :key="service.id"
                  :label="service.name"
                  :value="service.id"
                />
              </el-option-group>
              <el-option-group label="INACTIVOS">
                <el-option
                  v-for="service in inactiveServices"
                  :key="service.id"
                  :label="service.name"
                  :value="service.id"
                />
              </el-option-group>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-row :gutter="15">
      <el-col :span="24">
        <el-table :data="paginatedInvoices" stripe size="mini">
          <el-table-column type="index" min-width="40" />
          <el-table-column label="# Factura" min-width="120">
            <template slot-scope="scope">
              <span
                >{{ scope.row.authorization }} - {{ scope.row.sequence }}</span
              >
            </template>
          </el-table-column>
          <el-table-column label="Tipo fact." min-width="80">
            <template slot-scope="scope">
              <span>{{ scope.row.documentType.code }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Fecha" min-width="100">
            <template slot-scope="scope">
              <span>{{
                scope.row.invoiceDate | formatDate("YYYY-MM-DD")
              }}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="Cliente"
            prop="customerName"
            min-width="350"
          />
          <el-table-column label="Estado" prop="nrc" min-width="100">
            <template slot-scope="scope">
              <el-tag
                size="small"
                type="info"
                v-if="scope.row.status.id === '1'"
                >{{ scope.row.status.name }}</el-tag
              >
              <el-tag
                size="small"
                type="success"
                v-else-if="scope.row.status.id === '2'"
                >{{ scope.row.status.name }}</el-tag
              >
              <el-tag
                size="small"
                type="warning"
                v-else-if="scope.row.status.id === '4'"
                >{{ scope.row.status.name }}</el-tag
              >
              <el-tag
                size="small"
                type="danger"
                v-else-if="scope.row.status.id === '3'"
                >{{ scope.row.status.name }}</el-tag
              >
            </template>
          </el-table-column>
          <el-table-column label="Total" min-width="80" align="right">
            <template slot-scope="scope">
              <span>{{ scope.row.ventaTotal | formatMoney }}</span>
            </template>
          </el-table-column>
          <el-table-column label min-width="80" align="center">
            <template slot-scope="scope">
              <el-dropdown trigger="click">
                <el-button icon="el-icon-fa-ellipsis-v" size="small" />
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item
                    @click.native="openPreviewInvoice(scope.row.id)"
                  >
                    <i class="el-icon-view"></i> Vista previa
                  </el-dropdown-item>
                  <el-dropdown-item
                    @click.native="
                      $router.push(`invoices/edit/${scope.row.id}`)
                    "
                    v-if="scope.row.status.id === '1'"
                  >
                    <i class="el-icon-edit-outline"></i> Editar factura
                  </el-dropdown-item>
                  <el-dropdown-item
                    @click.native="printInvoice(scope.row)"
                    v-if="scope.row.status.id === '1'"
                  >
                    <i class="el-icon-printer"></i> Imprimir factura
                  </el-dropdown-item>
                  <el-dropdown-item
                    @click.native="printInvoice(scope.row)"
                    v-if="scope.row.status.id === '2'"
                  >
                    <i class="el-icon-printer"></i> Re imprimir factura
                  </el-dropdown-item>
                  <el-dropdown-item
                    :divided="true"
                    v-if="
                      scope.row.status.id === '2' || scope.row.status.id === '3'
                    "
                    @click.native="
                      updateStatus(
                        scope.row.id,
                        parseInt(scope.row.status.id) - 1
                      )
                    "
                  >
                    <i class="el-icon-fa-reply"></i> Revertir estado
                  </el-dropdown-item>
                  <el-dropdown-item
                    :divided="true"
                    class="text-red-500 font-semibold"
                    v-if="
                      scope.row.status.id === '1' &&
                        !isLastInvoice(
                          scope.row.sequence,
                          scope.row.documentType.id,
                          scope.row.authorization
                        )
                    "
                    @click.native="deleteInvoice(scope.row.id)"
                  >
                    <i class="el-icon-delete"></i> Eliminar factura
                  </el-dropdown-item>
                  <el-dropdown-item
                    :divided="true"
                    class="text-red-500 font-semibold"
                    @click.native="updateStatus(scope.row.id, 3)"
                    v-if="
                      scope.row.status.id === '2' ||
                        (isLastInvoice(
                          scope.row.sequence,
                          scope.row.documentType.id,
                          scope.row.authorization
                        ) &&
                          scope.row.status.id !== '3')
                    "
                  >
                    <i class="el-icon-circle-close"></i> Anular factura
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row :gutter="15" class="mt-2">
      <el-col :span="24" class="flex justify-end">
        <el-pagination
          @size-change="handleSizeChange"
          :current-page.sync="page.number"
          :page-sizes="[5, 10, 15, 25, 50, 100]"
          :page-size="page.size"
          layout="total, sizes, prev, pager, next"
          :total="filteredInvoices.length"
          :pager-count="5"
        />
      </el-col>
    </el-row>
  </Content>
</template>

<script>
import Content from "./../../layout/Content";
import axios from "axios";
import * as R from "ramda";
import * as moment from "moment";
import jsPDF from "jspdf";

import { calculatedAmount, numeroALetras } from "./../../../utils";

export default {
  name: "InvoicesAll",
  components: { Content },
  beforeRouteEnter(to, from, next) {
    NProgress.start();
    axios
      .post("/", {
        query: `{
          invoices {
            id
            authorization
            sequence
            documentType { id code }
            invoiceDate
            customerName
            customer { id }
            status { id name }
            invoicesSeller { id }
            invoicesZone { id }
            ventaTotal
          }
          customers { id name isActiveCustomer }
          services { id name active }
          invoicesSellers { id name active }
          invoicesZones { id name active }
          invoicesStatuses { id name }
          invoicesDocumentTypes { id name code }
        }`
      })
      .then(res => {
        const { data, errors } = res.data;
        if (R.isNil(errors)) {
          next(vm =>
            vm.setData(
              data.invoices,
              data.customers,
              data.services,
              data.invoicesSellers,
              data.invoicesZones,
              data.invoicesStatuses,
              data.invoicesDocumentTypes
            )
          );
        } else {
          next(new Error(errors[0].message));
        }
      })
      .catch(err => {
        next(vm => vm.$message.error(vm.$store.state.error.queryDb));
      });
  },
  data() {
    return {
      filterBy: {
        dateRange: null,
        customer: null,
        service: null,
        seller: null,
        zone: null,
        invoiceDocumentType: null,
        status: null
      },
      searchValue: "",
      status: "",
      rawInvoices: [],
      rawCustomers: [],
      rawServices: [],
      rawSellers: [],
      rawZones: [],
      rawStatuses: [],
      rawInvoicesDocumentTypes: [],
      previewInvoice: false,
      invoice: null,
      page: {
        size: 10,
        number: 1
      }
    };
  },
  methods: {
    handleSizeChange(val) {
      this.page.size = val;
    },
    setData(
      invoices,
      customers,
      services,
      sellers,
      zones,
      statuses,
      invoicesDocumentTypes
    ) {
      this.rawInvoices = invoices;
      this.rawCustomers = customers;
      this.rawServices = services;
      this.rawSellers = sellers;
      this.rawZones = zones;
      this.rawStatuses = statuses;
      this.rawInvoicesDocumentTypes = invoicesDocumentTypes;
    },
    updateStatus(invoice, newStatus) {
      let statusName = "revertir";
      switch (newStatus) {
        case 3:
          statusName = "anular";
          break;
      }
      this.$confirm(
        `¿Estás seguro que deseas ${statusName} esta factura?`,
        "Confirmación",
        {
          confirmButtonText: `Si, ${statusName}`,
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              this.processUpdateStatus(invoice, newStatus)
                .then(res => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawInvoices = data.invoiceUpdateStatus;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? `Se ha ${statusName.substring(
                          0,
                          statusName.length - 1
                        )}do la factura correctamente`
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, ${statusName}`;
                  done();
                })
                .catch(err =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          }
        }
      );
    },
    async processUpdateStatus(invoice, newStatus) {
      return await axios.post("/", {
        query: `mutation {
              invoiceUpdateStatus(
                where: { id: "${invoice}" }
                data: { status: "${newStatus}" }
              )
              {
                id
                authorization
                sequence
                documentType { id code }
                invoiceDate
                customerName
                customer { id }
                status { id name }
                invoicesSeller { id }
                invoicesZone { id }
                ventaTotal
              }
            }`
      });
    },
    deleteInvoice(invoice) {
      this.$confirm(
        `¿Estás seguro que deseas eliminar esta factura?`,
        "Confirmación",
        {
          confirmButtonText: `Si, eliminar`,
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation {
                      invoiceDelete(
                        where: { id: "${invoice}" }
                      )
                      {
                        id
                        authorization
                        sequence
                        documentType { id code }
                        invoiceDate
                        customerName
                        customer { id }
                        status { id name }
                        invoicesSeller { id }
                        invoicesZone { id }
                        ventaTotal
                      }
                    }`
                })
                .then(res => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawInvoices = data.invoiceDelete;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? `Se ha eliminado la factura correctamente`
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, eliminar`;
                  done();
                })
                .catch(err =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          }
        }
      );
    },
    isLastInvoice(sequence, documentTypeId, authorization) {
      // Filtra las facturas del mismo tipo y numero de autorizacion.
      const invoices = this.rawInvoices.filter(
        invoice =>
          invoice.documentType.id === documentTypeId &&
          invoice.authorization === authorization
      );

      // Obtiene la secuencia maxima de las facturas
      const maxSequence = Math.max.apply(
        Math,
        invoices.map(invoice => invoice.sequence)
      );

      // Verifica si la secuencia a analizar es menor que la secuencia maxima
      return parseInt(sequence) < maxSequence;
    },
    openPreviewInvoice(invoiceId) {
      axios
        .post("/", {
          query: `{
            invoice (where: { id: "${invoiceId}" }) {
              documentType { id code name }
              authorization
              sequence
              invoiceDate
              customerName
              customerBranch { name }
              paymentConditionName
              sellerName
              customerAddress1
              customerAddress2
              customerState
              customerCity
              customerNit
              customerDui
              customerNrc
              customerGiro
              status { id name }
              details { chargeDescription, sellingType { id }, quantity, unitPrice, incTax, ventaPrice }
              sum
              iva
              subtotal
              ivaRetenido
              ventasExentas
              ventasNoSujetas
              ventaTotal
            }
          }`
        })
        .then(res => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            this.invoice = data.invoice;
            this.previewInvoice = true;
          } else {
            next(new Error(errors[0].message));
          }
        })
        .catch(console.log);
    },
    calcSujeta(documentType, { unitPrice, quantity, sellingType, incTax }) {
      return calculatedAmount(
        sellingType.id,
        documentType,
        unitPrice,
        quantity,
        incTax
      ).sujeta;
    },
    calcExenta(documentType, { unitPrice, quantity, sellingType, incTax }) {
      return calculatedAmount(
        sellingType.id,
        documentType,
        unitPrice,
        quantity,
        incTax
      ).exenta;
    },
    calcGravada(documentType, { unitPrice, quantity, sellingType, incTax }) {
      return calculatedAmount(
        sellingType.id,
        documentType,
        unitPrice,
        quantity,
        incTax
      ).gravada;
    },
    printInvoice(invoice) {
      this.$confirm(
        `¿Estás seguro que deseas imprimir esta factura?`,
        "Confirmación",
        {
          confirmButtonText: `Si, imprimir`,
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `{
                    invoicesDocument( where: {documentType: ${invoice.documentType.id}} ){
                      documentConfiguration
                    }
                    invoice(where:{id:"${invoice.id}"}){
                      authorization
                      sequence
                      customerName
                      invoiceDate
                      customerAddress1
                      customerAddress2
                      customerNrc
                      customerNit
                      customerCity
                      customerGiro
                      customerState
                      sellerName
                      paymentConditionName
                      details { quantity chargeDescription unitPrice sellingType { id } incTax ventaPrice }
                      sum
                      iva
                      subtotal
                      ivaRetenido
                      ventasNoSujetas
                      ventasExentas
                      ventaTotal
                      ventaTotalText
                    }
                  }`
                })
                .then(res => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    try {
                      const vadd = 1;
                      const hadd = 3;
                      const conf = JSON.parse(
                        data.invoicesDocument.documentConfiguration
                      );

                      // Crea el documento base
                      const pdfDocument = new jsPDF({
                        orientation: "portrait",
                        unit: "mm",
                        format: conf.resolution
                      });
                      pdfDocument.setFontSize(9.5);

                      // Agrega el encabezado
                      for (const header of conf.header) {
                        let value = "";
                        switch (header.value) {
                          case "invoice_autorization":
                            value = data.invoice.authorization;
                            break;
                          case "invoice_number":
                            value = data.invoice.sequence;
                            break;
                          case "customer_name":
                            value = data.invoice.customerName;
                            break;
                          case "invoice_date":
                            const options = {
                              year: "numeric",
                              month: "2-digit",
                              day: "2-digit"
                            };
                            const date = data.invoice.invoiceDate;
                            value = new Intl.DateTimeFormat(
                              "es-ES",
                              options
                            ).format(
                              new Date(date).setDate(
                                new Date(date).getDate() + 1
                              )
                            );
                            break;
                          case "customer_address1":
                            value = data.invoice.customerAddress1;
                            break;
                          case "customer_address2":
                            value = data.invoice.customerAddress2;
                            break;
                          case "customer_nrc":
                            value = data.invoice.customerNrc;
                            break;
                          case "customer_nit":
                            value = data.invoice.customerNit;
                            break;
                          case "customer_city":
                            value = data.invoice.customerCity;
                            break;
                          case "customer_giro":
                            value = data.invoice.customerGiro;
                            break;
                          case "customer_state":
                            value = data.invoice.customerState;
                            break;
                          case "seller_name":
                            value = data.invoice.sellerName;
                            break;
                          case "payment_condition":
                            value = data.invoice.paymentConditionName;
                            break;
                        }
                        const splitText = pdfDocument.splitTextToSize(
                          value,
                          header.lenght
                        );
                        pdfDocument.text(
                          splitText[0],
                          parseInt(header.position[0][0]) + vadd,
                          parseInt(header.position[0][1]) + hadd
                        );
                      }

                      // Agrega los detalles
                      let acumRows = 0;
                      for (const detail of data.invoice.details) {
                        const acumHeight = acumRows * 5;
                        const position_x = 1;
                        const position_y =
                          acumHeight + hadd + conf.details.position_y;
                        const {
                          quantity,
                          chargeDescription,
                          unitPrice,
                          sellingType,
                          incTax,
                          ventaPrice
                        } = detail;

                        // Quantity
                        pdfDocument.text(
                          parseFloat(quantity).toFixed(2),
                          conf.details.quantity.position[0] + position_x,
                          position_y
                        );
                        // Description
                        const splitDescription = pdfDocument.splitTextToSize(
                          chargeDescription,
                          conf.details.description.lenght
                        );
                        acumRows = acumRows + splitDescription.length;
                        pdfDocument.text(
                          splitDescription,
                          conf.details.description.position[0] + position_x,
                          position_y
                        );
                        // Price
                        pdfDocument.text(
                          new Intl.NumberFormat("en-US", {
                            style: "currency",
                            currency: "USD"
                          }).format(unitPrice),
                          conf.details.price.position[0] + position_x,
                          position_y
                        );

                        // Ventas sujetas
                        pdfDocument.text(
                          sellingType.id == 1
                            ? new Intl.NumberFormat("en-US", {
                                style: "currency",
                                currency: "USD"
                              }).format(
                                calculatedAmount(
                                  sellingType.id,
                                  invoice.documentType.id,
                                  unitPrice,
                                  quantity,
                                  incTax
                                ).sujeta
                              )
                            : "",
                          conf.details.sujeto.position[0] + position_x,
                          position_y
                        );
                        // Ventas exentas
                        pdfDocument.text(
                          sellingType.id == 2
                            ? new Intl.NumberFormat("en-US", {
                                style: "currency",
                                currency: "USD"
                              }).format(
                                calculatedAmount(
                                  sellingType.id,
                                  invoice.documentType.id,
                                  unitPrice,
                                  quantity,
                                  incTax
                                ).exenta
                              )
                            : "",
                          conf.details.exento.position[0] + position_x,
                          position_y
                        );
                        // Ventas afectas
                        pdfDocument.text(
                          sellingType.id == 3
                            ? new Intl.NumberFormat("en-US", {
                                style: "currency",
                                currency: "USD"
                              }).format(
                                calculatedAmount(
                                  sellingType.id,
                                  invoice.documentType.id,
                                  unitPrice,
                                  quantity,
                                  incTax
                                ).gravada
                              )
                            : "",
                          conf.details.afecto.position[0] + position_x,
                          position_y
                        );
                      }

                      // Agrega los totales
                      for (const total of conf.totals) {
                        let value = "";
                        switch (total.value) {
                          case "sum":
                            value = new Intl.NumberFormat("en-US", {
                              style: "currency",
                              currency: "USD"
                            }).format(data.invoice.sum);
                            break;
                          case "iva":
                            value = new Intl.NumberFormat("en-US", {
                              style: "currency",
                              currency: "USD"
                            }).format(data.invoice.iva);
                            break;
                          case "subtotal":
                            value = new Intl.NumberFormat("en-US", {
                              style: "currency",
                              currency: "USD"
                            }).format(data.invoice.subtotal);
                            break;
                          case "iva_retenido":
                            value = new Intl.NumberFormat("en-US", {
                              style: "currency",
                              currency: "USD"
                            }).format(data.invoice.ivaRetenido);
                            break;
                          case "ventas_no_sujetas":
                            value = new Intl.NumberFormat("en-US", {
                              style: "currency",
                              currency: "USD"
                            }).format(data.invoice.ventasNoSujetas);
                            break;
                          case "ventas_exentas":
                            value = new Intl.NumberFormat("en-US", {
                              style: "currency",
                              currency: "USD"
                            }).format(data.invoice.ventasExentas);
                            break;
                          case "venta_total":
                            value = new Intl.NumberFormat("en-US", {
                              style: "currency",
                              currency: "USD"
                            }).format(data.invoice.ventaTotal);
                            break;
                          case "venta_total_text":
                            value = numeroALetras(data.invoice.ventaTotal);
                            break;
                        }
                        const splitText = pdfDocument.splitTextToSize(
                          value,
                          total.lenght
                        );
                        pdfDocument.text(
                          splitText,
                          parseInt(total.position[0]) + vadd,
                          parseInt(total.position[1]) + hadd
                        );
                      }

                      setTimeout(() => {
                        this.$confirm(
                          "¿Se ha impreso la factura correctamente?",
                          "Confirmación",
                          {
                            confirmButtonText: "Si, gracias",
                            cancelButtonText: "No",
                            type: "warning",
                            beforeClose: (action, instance, done) => {
                              if (action === "confirm") {
                                instance.confirmButtonLoading = true;
                                instance.confirmButtonText = "Procesando...";
                                this.processUpdateStatus(invoice.id, 2).then(
                                  res => {
                                    const { data, errors } = res.data;
                                    if (R.isNil(errors)) {
                                      this.rawInvoices =
                                        data.invoiceUpdateStatus;
                                    } else {
                                      this.$notify({
                                        title: "Error",
                                        message: errors[0].message,
                                        type: "error",
                                        duration: 3500
                                      });
                                    }
                                    instance.confirmButtonLoading = false;
                                    instance.confirmButtonText = "Si, gracias";
                                    done();
                                  }
                                );
                              } else {
                                done();
                              }
                            }
                          }
                        ).catch(() => {
                          this.$confirm(
                            "¿Deseas intentar imprimirlo nuevamente?",
                            "Confirmación",
                            {
                              confirmButtonText: "Si, porfavor",
                              cancelButtonText: "No, gracias",
                              type: "warning"
                            }
                          ).then(() => {
                            this.printInvoice(invoice);
                          });
                        });
                      }, 3000);

                      pdfDocument.autoPrint();
                      window.open(pdfDocument.output("bloburl"), "_blank");
                    } catch (error) {
                      this.$message.error(
                        "Error al generar el PDF, contacta con tu administrador."
                      );
                    }
                  } else {
                    this.$notify({
                      title: "Error",
                      message:
                        "Ha ocurrido un error al obtener la informacion. Contacta con tu administrador.",
                      type: "error",
                      duration: 3500
                    });
                  }
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, imprimir`;
                  done();
                })
                .catch(err =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          }
        }
      );
    }
  },
  computed: {
    filteredInvoices() {
      const searchValue = this.searchValue.trim().toLowerCase();
      const {
        dateRange,
        customer,
        service,
        seller,
        zone,
        invoiceDocumentType,
        status
      } = this.filterBy;

      let filteredInvoices = this.rawInvoices;

      // Filtra por  buscador general
      if (!R.isEmpty(searchValue)) {
        filteredInvoices = filteredInvoices.filter(invoice => {
          return (
            invoice.customerName
              .trim()
              .toLowerCase()
              .includes(searchValue) ||
            invoice.status.name
              .trim()
              .toLowerCase()
              .includes(searchValue) ||
            invoice.ventaTotal
              .toFixed(2)
              .trim()
              .toLowerCase()
              .includes(searchValue) ||
            invoice.documentType.code.toLowerCase().includes(searchValue) ||
            invoice.authorization.toLowerCase().includes(searchValue) ||
            invoice.sequence.toLowerCase().includes(searchValue)
          );
        });
      }

      // Filtra por rango de fechas
      if (!R.isNil(dateRange)) {
        filteredInvoices = filteredInvoices.filter(invoice => {
          let date = new Date(invoice.invoiceDate);
          return moment(date)
            .add(1, "days")
            .isBetween(dateRange[0], moment(dateRange[1]).add(1, "days"));
        });
      }

      // Filtra por cliente
      if (!R.isNil(customer)) {
        filteredInvoices = filteredInvoices.filter(
          invoice => invoice.customer.id === customer
        );
      }

      // Filtra por tipo de factura
      if (!R.isNil(invoiceDocumentType)) {
        filteredInvoices = filteredInvoices.filter(
          invoice => invoice.documentType.id === invoiceDocumentType
        );
      }

      // Filtra por estado
      if (!R.isNil(status)) {
        filteredInvoices = filteredInvoices.filter(
          invoice => invoice.status.id === status
        );
      }

      // Filtra por vendedor
      if (!R.isNil(seller)) {
        filteredInvoices = filteredInvoices.filter(
          invoice => invoice.invoicesSeller.id === seller
        );
      }

      // Filtra por zona
      if (!R.isNil(zone)) {
        filteredInvoices = filteredInvoices.filter(
          invoice => invoice.invoicesZone.id === zone
        );
      }

      // Filtra por servicio
      if (!R.isNil(service)) {
        filteredInvoices = filteredInvoices.filter(
          invoice => invoice.service.id === service
        );
      }

      return filteredInvoices.sort((a, b) => {
        const dateA = new Date(a.invoiceDate);
        const dateB = new Date(b.invoiceDate);
        return dateB - dateA;
      });
    },
    paginatedInvoices() {
      return this.filteredInvoices.slice(
        this.page.number * this.page.size - this.page.size,
        this.page.size * this.page.number
      );
    },
    activeCustomers() {
      return this.rawCustomers.filter(customer => customer.isActiveCustomer);
    },
    inactiveCustomers() {
      return this.rawCustomers.filter(customer => !customer.isActiveCustomer);
    },
    activeServices() {
      return this.rawServices.filter(service => service.active);
    },
    inactiveServices() {
      return this.rawServices.filter(service => !service.active);
    },
    activeSellers() {
      return this.rawSellers.filter(seller => seller.active);
    },
    inactiveSellers() {
      return this.rawSellers.filter(seller => !seller.active);
    },
    activeZones() {
      return this.rawZones.filter(zone => zone.active);
    },
    inactiveZones() {
      return this.rawZones.filter(zone => !zone.active);
    }
  }
};
</script>
