<template>
  <div>
    <el-dialog
      title="Nueva condición de pago"
      :visible.sync="showNewCondition"
      width="30%"
      :append-to-body="true"
      :close-on-click-modal="false"
    >
      <el-form
        :model="newConditionForm"
        status-icon
        :rules="newConditionFormRules"
        ref="newConditionForm"
        @submit.prevent.native="submitCondition('newConditionForm', newConditionForm)"
      >
        <div>
          <el-form-item label="Nombre de la condición de pago" prop="name">
            <el-input
              clearable
              type="text"
              v-model="newConditionForm.name"
              size="small"
              autocomplete="off"
            />
          </el-form-item>
        </div>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button
          type="primary"
          size="small"
          @click.native="submitCondition('newConditionForm', newConditionForm)"
        >Guardar</el-button>
        <el-button @click="showNewCondition = false" size="small">Cancelar</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Editar condición de pago"
      :visible.sync="showEditCondition"
      width="30%"
      :append-to-body="true"
      :close-on-click-modal="false"
    >
      <el-form
        :model="editConditionForm"
        status-icon
        :rules="editConditionFormRules"
        ref="editConditionForm"
        @submit.prevent.native="submitEditCondition('editConditionForm', tempConditionId, editConditionForm)"
      >
        <div>
          <el-form-item label="Nombre de la condición de pago" prop="name">
            <el-input
              clearable
              type="text"
              v-model="editConditionForm.name"
              size="small"
              autocomplete="off"
            />
          </el-form-item>
        </div>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button
          type="primary"
          size="small"
          @click.native="submitEditCondition('editConditionForm', tempConditionId, editConditionForm)"
        >Guardar</el-button>
        <el-button @click="showEditCondition = false" size="small">Cancelar</el-button>
      </span>
    </el-dialog>

    <el-row :gutter="15">
      <el-col :span="12">
        <el-row :gutter="15" class="text-blue-900 font-semibold mb-3">
          <el-col :span="24" class="flex justify-between items-center">
            <span class="text-lg uppercase">Condiciones de pago</span>
            <el-button type="primary" size="small" icon="el-icon-plus" @click="openNewCondition"/>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="24">
            <el-table :data="rawConditions" stripe style="width: 100%" size="mini">
              <el-table-column type="index" label="#"/>
              <el-table-column prop="name" label="Condicion de pago" min-width="200"/>
              <el-table-column prop="active" label="Estado" min-width="80">
                <template slot-scope="scope">
                  <el-tag size="small" type="success" v-if="scope.row.active">Activo</el-tag>
                  <el-tag size="small" type="warning" v-else>Inactivo</el-tag>
                </template>
              </el-table-column>
              <el-table-column min-width="60" align="right">
                <template slot-scope="scope">
                  <el-dropdown trigger="click">
                    <el-button icon="el-icon-fa-ellipsis-v" size="small"/>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item @click.native="editCondition(scope.row)">
                        <i class="el-icon-edit-outline"></i> Editar condición
                      </el-dropdown-item>
                      <el-dropdown-item @click.native="changeConditionActive(scope.row)">
                        <span v-if="scope.row.active">
                          <i class="el-icon-close"></i> Desactivar
                        </span>
                        <span v-else>
                          <i class="el-icon-check"></i> Activar
                        </span>
                        condición
                      </el-dropdown-item>
                      <el-dropdown-item
                        :divided="true"
                        class="text-red-500 font-semibold"
                        @click.native="deleteCondition(scope.row)"
                      >
                        <i class="el-icon-delete"></i> Eliminar condición
                      </el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { inputValidate } from "./../../../utils";
import axios from "axios";
import * as R from "ramda";

export default {
  name: "InvoicesSettingsConditions",
  props: ["conditions"],
  data() {
    return {
      rawConditions: [],
      showNewCondition: false,
      newConditionForm: {
        name: ""
      },
      newConditionFormRules: {
        name: inputValidate("blur", true, 5, 60)
      },
      showEditCondition: false,
      editConditionForm: {
        name: ""
      },
      editConditionFormRules: {
        name: inputValidate("blur", true, 5, 60)
      },
      tempConditionId: null
    };
  },
  watch: {
    conditions() {
      this.rawConditions = this.conditions;
    }
  },
  methods: {
    openNewCondition() {
      this.showNewCondition = true;
      this.$refs["newConditionForm"].resetFields();
    },
    submitCondition(formName, data) {
      this.$refs[formName].validate(async valid => {
        if (!valid) {
          return false;
        }

        this.$confirm(
          "¿Estás seguro que deseas guardar esta nueva condición de pago?",
          "Confirmación",
          {
            confirmButtonText: "Si, guardar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";
                axios
                  .post("/", {
                    query: `mutation { 
                      invoicesPaymentsConditionCreate(
                        data: {
                          name: "${data.name}",
                        }
                      ){ id name active }
                    }`
                  })
                  .then(res => {
                    const { data, errors } = res.data;
                    if (R.isNil(errors)) {
                      this.rawConditions = data.invoicesPaymentsConditionCreate;
                      this.showNewCondition = false;
                    }
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se ha guardado la nueva condición de pago correctamente"
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, guardar";
                    done();
                  })
                  .catch(err =>
                    this.$message.error(this.$store.state.error.queryDb)
                  );
              } else {
                done();
              }
            }
          }
        );
      });
    },
    editCondition({ id, name }) {
      this.tempConditionId = id;
      this.editConditionForm.name = name;
      this.showEditCondition = true;
    },
    submitEditCondition(formName, conditionId, { name }) {
      this.$refs[formName].validate(async valid => {
        if (!valid) {
          return false;
        }

        this.$confirm(
          "¿Estás seguro que deseas actualizar esta condición de pago?",
          "Confirmación",
          {
            confirmButtonText: "Si, actualizar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";
                axios
                  .post("/", {
                    query: `mutation { 
                      invoicesPaymentsConditionUpdate(
                      where: {
                        id: "${conditionId}"
                      },
                      data: {
                          name: "${name}",
                        }
                      ){ id name active}
                    }`
                  })
                  .then(res => {
                    const { data, errors } = res.data;
                    if (R.isNil(errors)) {
                      this.rawConditions = data.invoicesPaymentsConditionUpdate;
                      this.showEditCondition = false;
                    }
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se ha actualizado la condición de pago correctamente"
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, actualizar";
                    done();
                  })
                  .catch(err =>
                    this.$message.error(this.$store.state.error.queryDb)
                  );
              } else {
                done();
              }
            }
          }
        );
      });
    },
    changeConditionActive(condition) {
      const { id, active } = condition;
      const actionName = active ? "desactivar" : "activar";
      this.$confirm(
        `¿Estás seguro que deseas ${actionName} esta condición de pago?`,
        "Confirmación",
        {
          confirmButtonText: `Si, ${actionName}`,
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation { 
                      invoicesPaymentsConditionUpdateStatus(
                        where: { id: "${id}" } 
                        data: { active: ${!active} }
                      )
                      { id name active }
                    }`
                })
                .then(res => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawConditions =
                      data.invoicesPaymentsConditionUpdateStatus;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? `Se ha ${actionName.substring(
                          0,
                          actionName.length - 1
                        )}do la condición de pago correctamente`
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, ${actionName}`;
                  done();
                })
                .catch(err =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          }
        }
      );
    },
    deleteCondition({ id }) {
      this.$confirm(
        "¿Estás seguro que deseas eliminar esta condición de pago?",
        "Confirmación",
        {
          confirmButtonText: `Si, eliminar`,
          cancelButtonText: "Cancelar",
          confirmButtonClass: "bg-red-500 border-red-500",
          type: "error",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation { 
                      invoicesPaymentsConditionDelete(
                        where: { id: "${id}" } 
                      )
                      { id name active }
                    }`
                })
                .then(res => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawConditions = data.invoicesPaymentsConditionDelete;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? "Se ha eliminado la condiciónde pago correctamente"
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, eliminar`;
                  done();
                })
                .catch(err =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          }
        }
      );
    }
  }
};
</script>
