<template>
  <Content>
    <el-dialog
      title="Agregar servicio"
      :visible.sync="showAddService"
      width="35%"
      :append-to-body="true"
      :close-on-click-modal="false"
      @open="openDialog('newServiceForm')"
    >
      <el-form
        :model="newServiceForm"
        status-icon
        :rules="newServiceFormRules"
        ref="newServiceForm"
        @submit.prevent.native="addToDetails('service', 'newServiceForm', newServiceForm)"
      >
        <el-row :gutter="15">
          <el-col :span="24">
            <el-form-item label="Servicio" prop="service">
              <el-select
                size="small"
                v-model="newServiceForm.service"
                placeholder="Seleccionar servicio"
                class="w-full"
                clearable
                filterable
                @change="selectService(newServiceForm.service, 'new')"
                default-first-option
              >
                <el-option
                  v-for="service in services"
                  :key="service.id"
                  :label="service.name"
                  :value="service.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="12">
            <el-form-item label="Cantidad" prop="quantity">
              <el-input
                size="small"
                type="number"
                v-model="newServiceForm.quantity"
                :disabled="newServiceForm.service === ''"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Precio" prop="cost">
              <div class="flex w-full items-center">
                <el-input
                  step="0.01"
                  size="small"
                  type="number"
                  v-model="newServiceForm.cost"
                  :disabled="newServiceForm.service === ''"
                />
                <el-checkbox
                  v-model="newServiceForm.incTax"
                  border
                  size="small"
                  class="mt-1 px-3"
                  :disabled="newServiceForm.service === ''"
                  v-if="showIvaInc"
                >IVA incl.</el-checkbox>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="24">
            <el-form-item label="Descripción" prop="description">
              <el-input
                class="mt-2"
                type="textarea"
                :rows="3"
                v-model="newServiceForm.description"
                :disabled="newServiceForm.service === ''"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button
          type="primary"
          size="small"
          @click.native="addToDetails('service', 'newServiceForm', newServiceForm)"
        >Guardar</el-button>
        <el-button @click="showAddService = false" size="small">Cancelar</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Editar servicio"
      :visible.sync="showEditService"
      width="35%"
      :append-to-body="true"
      :close-on-click-modal="false"
      @open="openDialog('editServiceForm')"
    >
      <el-form
        :model="editServiceForm"
        status-icon
        :rules="newServiceFormRules"
        ref="editServiceForm"
        @submit.prevent.native="updateDetail(editingDetail, 'editServiceForm', editServiceForm)"
      >
        <el-row :gutter="15">
          <el-col :span="24">
            <el-form-item label="Servicio" prop="service">
              <el-select
                size="small"
                v-model="editServiceForm.service"
                placeholder="Seleccionar servicio"
                class="w-full"
                clearable
                filterable
                @change="selectService(editServiceForm.service, 'edit')"
                default-first-option
              >
                <el-option
                  v-for="service in services"
                  :key="service.id"
                  :label="service.name"
                  :value="service.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="12">
            <el-form-item label="Cantidad" prop="quantity">
              <el-input
                size="small"
                type="number"
                v-model="editServiceForm.quantity"
                :disabled="editServiceForm.service === ''"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Precio" prop="cost">
              <div class="flex w-full items-center">
                <el-input
                  step="0.01"
                  size="small"
                  type="number"
                  v-model="editServiceForm.cost"
                  :disabled="editServiceForm.service === ''"
                />
                <el-checkbox
                  v-model="editServiceForm.incTax"
                  border
                  size="small"
                  class="mt-1 px-3"
                  :disabled="editServiceForm.service === ''"
                  v-if="showIvaInc"
                >IVA incl.</el-checkbox>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="24">
            <el-form-item label="Descripción" prop="description">
              <el-input
                class="mt-2"
                type="textarea"
                :rows="3"
                v-model="editServiceForm.description"
                :disabled="editServiceForm.service === ''"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button
          type="primary"
          size="small"
          @click.native="updateDetail(editingDetail, 'editServiceForm', editServiceForm)"
        >Guardar</el-button>
        <el-button @click="showEditService = false" size="small">Cancelar</el-button>
      </span>
    </el-dialog>

    <el-form
      :model="newInvoiceForm"
      status-icon
      :rules="newInvoiceFormRules"
      ref="newInvoiceForm"
      @submit.prevent.native="saveUpdateInvoice('newInvoiceForm', newInvoiceForm, details, customer, branch, condition, seller, sumas, taxes, subtotal, ivaRetenido, ventasExentas, ventasNoSujetas, ventaTotal)"
    >
      <notification
        v-if="!proceed.status"
        type="error"
        title="Atención"
        :message="proceed.message"
        style="margin-bottom: 12px"
      />
      <el-row :gutter="15">
        <el-col :span="6">
          <el-form-item label="Tipo de documento" prop="documentType">
            <el-select
              v-model="newInvoiceForm.documentType"
              placeholder="Select"
              class="w-full"
              size="small"
              clearable
              disabled
            >
              <el-option
                v-for="d in documents"
                :key="d.documentType.id"
                :label="`${d.documentType.code} - ${d.documentType.name}`"
                :value="d.documentType.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4" :offset="6">
          <el-form-item label="N° de autorización">
            <el-input
              v-model="newInvoiceForm.authorization"
              autocomplete="off"
              size="small"
              disabled
              readonly
            />
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="N° de correlativo">
            <el-input
              v-model="newInvoiceForm.sequence"
              autocomplete="off"
              size="small"
              disabled
              readonly
            />
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="Fecha de factura" prop="date">
            <el-date-picker
              size="small"
              class="w-full"
              v-model="newInvoiceForm.date"
              type="date"
              format="dd/MM/yyyy"
              value-format="yyyy-MM-dd"
              :picker-options="dateOptions"
            />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="8">
          <el-form-item label="Cliente" prop="customer">
            <el-select
              v-model="newInvoiceForm.customer"
              placeholder="Select"
              class="w-full"
              size="small"
              clearable
              filterable
              @change="changeCustomer(customers, newInvoiceForm.customer)"
              default-first-option
            >
              <el-option v-for="c in customers" :key="c.id" :label="c.name" :value="c.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="Sucursal" prop="branch">
            <el-select
              v-model="newInvoiceForm.branch"
              placeholder="Select"
              class="w-full"
              size="small"
              filterable
              clearable
              default-first-option
            >
              <el-option v-for="b in branches" :key="b.id" :label="b.name" :value="b.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Condiciones de pago" prop="condition">
            <div class="flex w-full items-center">
              <el-select
                v-model="newInvoiceForm.condition"
                placeholder="Select"
                class="w-full"
                size="small"
              >
                <el-option v-for="c in conditions" :key="c.id" :label="c.name" :value="c.id" />
              </el-select>
              <el-checkbox
                v-model="newInvoiceForm.pass"
                border
                size="small"
                class="mt-1 px-3"
                disabled
              />
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Venta a cuenta de" prop="seller">
            <div class="flex w-full items-center">
              <el-select
                v-model="newInvoiceForm.seller"
                placeholder="Select"
                class="w-full"
                size="small"
              >
                <el-option v-for="s in sellers" :key="s.id" :label="s.name" :value="s.id" />
              </el-select>
              <el-checkbox
                v-model="newInvoiceForm.pass"
                border
                size="small"
                class="mt-1 px-3"
                disabled
              />
            </div>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="2">
          <el-form-item label="NRC" class="flex flex-col items-start overflow-auto">
            <span class="text-xs truncate text-gray-700">{{customer != null ? customer.nrc : ''}}</span>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="NIT" class="flex flex-col items-start overflow-auto">
            <span class="text-xs truncate text-gray-700">{{customer != null ? customer.nit : ''}}</span>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Dirección" class="flex flex-col items-start overflow-auto">
            <p class="text-xs truncate text-gray-700">{{branch != null ? `${branch.address1}` : ''}}</p>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="Departamento" class="flex flex-col items-start overflow-auto">
            <span class="text-xs truncate text-gray-700">{{branch != null ? branch.state.name : ''}}</span>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="Municipio" class="flex flex-col items-start overflow-auto">
            <span class="text-xs truncate text-gray-700">{{branch != null ? branch.city.name : ''}}</span>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="Giro" class="flex flex-col items-start overflow-auto">
            <span class="text-xs truncate text-gray-700">{{customer != null ? customer.giro : ''}}</span>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="24" class="flex justify-end">
          <el-button type="primary" size="small" @click="openAddService">Agregar servicio</el-button>
          <el-button type="primary" size="small" v-if="false">Agregar producto</el-button>
        </el-col>
      </el-row>
      <el-row :gutter="15" class="my-3">
        <el-col :span="24">
          <el-table
            :data="filteredDetails"
            ref="detailsTable"
            stripe
            style="width: 100%"
            size="mini"
          >
            <el-table-column type="index" label="#" />
            <el-table-column prop="quantity" label="Cant." min-width="50"></el-table-column>
            <el-table-column label="Descripción" min-width="270">
              <template slot-scope="scope">
                <p class="break-words">{{ scope.row.description }}</p>
              </template>
            </el-table-column>
            <el-table-column label="Precio Unit." min-width="75" align="right">
              <template slot-scope="scope">
                <span>{{ calcUnitPrice(newInvoiceForm.documentType, scope.row) | formatMoney }}</span>
              </template>
            </el-table-column>
            <el-table-column label="V. No sujeta" min-width="75" align="right">
              <template slot-scope="scope">
                <span>{{ calcSujeta(newInvoiceForm.documentType, scope.row) | formatMoney }}</span>
              </template>
            </el-table-column>
            <el-table-column label="V. Exenta" min-width="75" align="right">
              <template slot-scope="scope">
                <span>{{ calcExenta(newInvoiceForm.documentType, scope.row) | formatMoney }}</span>
              </template>
            </el-table-column>
            <el-table-column label="V. Gravada" min-width="75" align="right">
              <template slot-scope="scope">
                <span>{{ calcGravada(newInvoiceForm.documentType, scope.row) | formatMoney }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="name" min-width="80">
              <template slot-scope="scope">
                <div class="flex flex-row items-center justify-center">
                  <i
                    class="actionB hover:text-gray-200 hover:bg-blue-900 hover:border-blue-900 el-icon-edit-outline"
                    @click="openEditDetail(scope.$index, scope.row)"
                  ></i>
                  <i
                    class="actionB hover:text-gray-200 hover:bg-red-700 hover:border-red-700 el-icon-delete"
                    @click="deleteDetail(scope.$index)"
                  ></i>
                </div>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row :gutter="15" class="pt-1 mb-4">
        <el-col :span="24" class="flex justify-end">
          <table>
            <tbody class="text-sm">
              <tr class="border-t">
                <td align="right" class="text-blue-900" width="200px">SUMAS:</td>
                <td align="right" class="pl-15 pr-2 text-gray-800">{{sumas | formatMoney}}</td>
              </tr>
              <tr class="border-t" v-if="newInvoiceForm.documentType === '2'">
                <td align="right" class="text-blue-900" width="200px">13% Iva:</td>
                <td align="right" class="pl-15 pr-2 text-gray-800">{{taxes | formatMoney}}</td>
              </tr>
              <tr class="border-t">
                <td align="right" class="text-blue-900" width="200px">Subtotal:</td>
                <td align="right" class="pl-15 pr-2 text-gray-800">{{subtotal | formatMoney}}</td>
              </tr>
              <tr class="border-t">
                <td align="right" class="text-blue-900" width="200px">Iva retenido:</td>
                <td align="right" class="pl-15 pr-2 text-gray-800">{{ivaRetenido | formatMoney}}</td>
              </tr>
              <tr class="border-t">
                <td align="right" class="text-blue-900" width="200px">Ventas exentas:</td>
                <td align="right" class="pl-15 pr-2 text-gray-800">{{ventasExentas | formatMoney}}</td>
              </tr>
              <tr class="border-t">
                <td align="right" class="text-blue-900" width="200px">Ventas no sujetas:</td>
                <td align="right" class="pl-15 pr-2 text-gray-800">{{ventasNoSujetas | formatMoney}}</td>
              </tr>
              <tr class="border-t">
                <td align="right" class="text-blue-900 font-semibold" width="200px">Venta total:</td>
                <td align="right" class="pl-15 pr-2 text-gray-800">{{ventaTotal | formatMoney}}</td>
              </tr>
            </tbody>
          </table>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="24" class="flex justify-end">
          <el-button type="primary" native-type="submit" size="small" v-if="proceed.status">Guardar</el-button>
          <el-button size="small">Cancelar</el-button>
        </el-col>
      </el-row>
    </el-form>
  </Content>
</template>

<script>
import axios from "axios";
import * as R from "ramda";
import * as moment from "moment";
import {
  inputValidate,
  amountValidate,
  numeroALetras,
  calculatedAmount
} from "./../../../utils.js";
import Content from "./../../layout/Content";
import Notification from "./../../../components/Notification";

export default {
  name: "InvoicesEdit",
  components: { Content, Notification },
  beforeRouteEnter(to, from, next) {
    const invoiceId = to.params.id;
    NProgress.start();
    axios
      .post("/", {
        query: `{
          invoicesDocuments(where: { active: true }) { 
            id authorization initial final current active documentType { id code name } 
          }
          invoice(where: { id: "${invoiceId}" }) {
            documentType { id name code }
            authorization
            sequence
            invoiceDate
            customer { id }
            customerBranch { id }
            paymentsCondition { id }
            invoicesSeller { id }
            customerType { id }
            customerTypeNatural { id }
            details { id service { id } chargeDescription sellingType { id } quantity unitPrice incTax }
            status { id }
          }
          customers(where: { isCustomer: true, isActiveCustomer: true }) { 
            id 
            name 
            dui 
            nrc 
            nit 
            giro 
            customerType { id } 
            customerTypeNatural { id } 
            customerTaxerType { id name }
            branches { id name address1 address2 country { id name } state { id name } city { id name } } 
          }
          invoicesPaymentsConditions(where: { active: true }) { id name }
          invoicesSellers(where: { active: true }) { id name zone { id name } }
          services(where: { active: true }) { id name description cost active sellingType { id name } }
        }`
      })
      .then(res => {
        const { data, errors } = res.data;
        if (R.isNil(errors)) {
          // Verifica si la factura tiene estado que se pueda editar
          if (R.includes(data.invoice.status.id, ["1"])) {
            next(vm =>
              vm.setData(
                data.invoicesDocuments,
                data.invoice,
                data.customers,
                data.invoicesPaymentsConditions,
                data.invoicesSellers,
                data.services
              )
            );
          } else {
            next(false);
            NProgress.done();
          }
        } else {
          // Si contiene errores lo regresa a invoice
          next("invoices");
          NProgress.done();
        }
      })
      .catch(err => {
        next(vm => vm.$message.error(vm.$store.state.error.queryDb));
      });
  },
  data() {
    return {
      invoiceId: null,
      proceed: {
        status: true,
        message: ""
      },
      documents: [],
      customers: [],
      branches: [],
      conditions: [],
      sellers: [],
      newInvoiceForm: {
        documentType: "",
        authorization: "",
        sequence: "",
        date: "",
        customer: "",
        branch: "",
        customerType: "",
        customerTypeNatural: "",
        condition: "",
        seller: "",
        branch: ""
      },
      newInvoiceFormRules: {
        date: inputValidate("blur", true),
        customer: inputValidate("change", true),
        branch: inputValidate("change", true),
        condition: inputValidate("change", true),
        seller: inputValidate("change", true)
      },
      dateOptions: {
        shortcuts: [
          {
            text: "Hoy",
            onClick(picker) {
              picker.$emit("pick", new Date());
            }
          },
          {
            text: "Ayer",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit("pick", date);
            }
          },
          {
            text: "Mañana",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() + 3600 * 1000 * 24);
              picker.$emit("pick", date);
            }
          }
        ]
      },
      details: [],
      showAddService: false,
      services: [],
      newServiceForm: {
        service: "",
        quantity: "",
        cost: "",
        description: "",
        incTax: false
      },
      newServiceFormRules: {
        service: inputValidate("change", true),
        quantity: amountValidate("blur", true, 1),
        cost: amountValidate("blur", true, 0),
        description: inputValidate("blur", true)
      },
      showEditService: false,
      editingDetail: null,
      editServiceForm: {
        service: "",
        quantity: "",
        cost: "",
        description: "",
        incTax: false
      },
      editServiceFormRules: {
        service: inputValidate("change", true),
        quantity: amountValidate("blur", true, 1),
        cost: amountValidate("blur", true, 0),
        description: inputValidate("blur", true)
      },
      selectedService: null
    };
  },
  methods: {
    setData(
      invoicesDocuments,
      invoice,
      customers,
      conditions,
      sellers,
      services
    ) {
      this.documents = invoicesDocuments;
      this.customers = customers;
      this.branches = customers.find(
        customer => customer.id === invoice.customer.id
      ).branches;
      this.conditions = conditions;
      this.sellers = sellers;
      this.services = services;
      this.newInvoiceForm = {
        documentType: invoice.documentType.id,
        sequence: invoice.sequence,
        authorization: invoice.authorization,
        date: moment(invoice.invoiceDate).format(),
        customer: invoice.customer.id,
        branch: invoice.customerBranch.id,
        customerType: invoice.customerType.id,
        customerTypeNatural: R.isNil(invoice.customerTypeNatural)
          ? null
          : invoice.customerTypeNatural.id,
        condition: invoice.paymentsCondition.id,
        seller: invoice.invoicesSeller.id
      };
      for (const detail of invoice.details) {
        this.details.push({
          id: detail.id,
          cost: parseFloat(detail.unitPrice),
          description: detail.chargeDescription,
          incTax: detail.incTax,
          quantity: parseFloat(detail.quantity),
          sellingType: detail.sellingType.id,
          service: detail.service.id,
          type: "service",
          action: "update"
        });
      }
    },
    changeCustomer(customers, customerId) {
      // Obtiene sucursales
      this.branches = customers.find(
        customer => customer.id === customerId
      ).branches;

      // Tipo de cliente
      this.newInvoiceForm.customerType = customers.find(
        customer => customer.id === customerId
      ).customerType.id;

      // Tipo de cliente natural
      const typeNatural = customers.find(
        customer => customer.id === customerId
      );
      const typeNaturalId = !R.isNil(typeNatural.customerTypeNatural)
        ? typeNatural.customerTypeNatural.id
        : null;
      this.newInvoiceForm.customerTypeNatural = !R.isNil(typeNaturalId)
        ? typeNaturalId
        : "";

      this.validateIfCredit(
        this.newInvoiceForm.documentType,
        this.newInvoiceForm.customerType,
        typeNaturalId
      );
      this.newInvoiceForm.branch = "";
    },
    validateIfCredit(documentType, customerType, typeNatural) {
      this.proceed.status = true;
      if (documentType === "2" && customerType === "2" && typeNatural === "1") {
        this.proceed.status = false;
        this.proceed.message =
          "No puedes dar un crédito fiscal a un cliente que no declara IVA.";
      }
    },
    openDialog(formName) {
      if (!R.isNil(this.$refs[formName])) {
        this.$refs[formName].resetFields();
      }
      switch (formName) {
        case "newServiceForm":
          this[formName].incTax = false;
          break;
      }
    },
    openAddService() {
      axios
        .post("/", {
          query: `{
            services(where: { active: true })
            { id name description cost active sellingType { id name } }
          }`
        })
        .then(res => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            this.services = data.services;
          }
        })
        .catch(console.log);
      this.showAddService = true;
    },
    selectService(serviceId, type) {
      const service = this.services.find(service => service.id === serviceId);
      this.selectedService = service;
      switch (type) {
        case "new":
          this.newServiceForm.cost = service.cost;
          this.newServiceForm.description = service.description;
          break;
        case "edit":
          this.editServiceForm.cost = service.cost;
          this.editServiceForm.description = service.description;
          break;
      }
    },
    addToDetails(type, formName, data) {
      this.$refs[formName].validate(async valid => {
        if (!valid) {
          return false;
        }
        const sellingType = this.services.find(
          service => service.id === data.service
        ).sellingType.id;
        this.details.push({
          action: "insert",
          type,
          ...data,
          sellingType
        });
        this.showAddService = false;
      });
    },
    calcUnitPrice(documentType, { cost, incTax, sellingType }) {
      let unitPrice = null;
      const amount = parseFloat(cost);
      if (R.includes(sellingType, ["1", "2"])) {
        unitPrice = amount;
      } else {
        switch (documentType) {
          case "1":
            unitPrice = amount * (incTax ? 1 : 1.13);
            break;
          case "2":
            unitPrice = amount / (incTax ? 1.13 : 1);
            break;
        }
      }
      return unitPrice;
    },
    calcSujeta(documentType, { cost, quantity, sellingType, incTax }) {
      return calculatedAmount(sellingType, documentType, cost, quantity, incTax)
        .sujeta;
    },
    calcExenta(documentType, { cost, quantity, sellingType, incTax }) {
      return calculatedAmount(sellingType, documentType, cost, quantity, incTax)
        .exenta;
    },
    calcGravada(documentType, { cost, quantity, sellingType, incTax }) {
      return calculatedAmount(sellingType, documentType, cost, quantity, incTax)
        .gravada;
    },
    deleteDetail(index) {
      this.$confirm(
        "¿Estás seguro que deseas eliminar este detalle?",
        "Confirmación",
        {
          confirmButtonText: "Si, eliminar",
          cancelButtonText: "Cancelar",
          type: "warning"
        }
      ).then(() => {
        this.details[index].action = "delete";
      });
    },
    openEditDetail(index, detail) {
      axios
        .post("/", {
          query: `{
            services(where: { active: true })
            { id name description cost active sellingType { id name } }
          }`
        })
        .then(res => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            this.services = data.services;
            const { type } = detail;
            this.editingDetail = index;
            switch (type) {
              case "service":
                this.editServiceForm = { ...detail };
                this.showEditService = true;
                break;
            }
          }
        })
        .catch(console.log);
    },
    updateDetail(index, formName, form) {
      this.$refs[formName].validate(async valid => {
        if (!valid) {
          return false;
        }
        const sellingType = this.services.find(
          service => service.id === form.service
        ).sellingType.id;
        this.details.splice(index, 1, { ...form, sellingType });
        this.showEditService = false;
      });
    },
    saveUpdateInvoice(
      formName,
      form,
      details,
      customer,
      branch,
      condition,
      seller,
      sumas,
      taxes,
      subtotal,
      ivaRetenido,
      ventasExentas,
      ventasNoSujetas,
      ventaTotal
    ) {
      this.$refs[formName].validate(async valid => {
        if (!valid) {
          return false;
        }
        if (R.isEmpty(this.filteredDetails)) {
          this.$notify({
            title: "Error",
            message:
              "Debes incluir al menos un detalle a facturar para poder actualizar el documento.",
            type: "error",
            duration: 3500
          });
          return false;
        }
        this.$confirm(
          "¿Estás seguro que deseas actualizar esta factura?",
          "Confirmación",
          {
            confirmButtonText: "Si, actualizar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";

                const invoice = `
                  invoiceDate: "${form.date}"
                  customer: "${customer.id}"
                  customerBranch: "${branch.id}"
                  customerType: "${customer.customerType.id}"
                  customerTypeNatural: ${
                    R.isNil(customer.customerTypeNatural)
                      ? null
                      : `"${customer.customerTypeNatural.id}"`
                  }
                  customerName: "${customer.name}"
                  customerAddress1: "${branch.address1}"
                  customerAddress2: "${branch.address2}"
                  customerCountry: "${branch.country.name}"
                  customerState: "${branch.state.name}"
                  customerCity: "${branch.city.name}"
                  customerDui: "${customer.dui}"
                  customerNit: "${customer.nit}"
                  customerNrc: "${customer.nrc}"
                  customerGiro: "${customer.giro}"
                  paymentsCondition: "${condition.id}"
                  paymentConditionName: "${condition.name}"
                  invoicesSeller: "${seller.id}"
                  sellerName: "${seller.name}"
                  invoicesZone: "${seller.zone.id}"
                  zoneName: "${seller.zone.name}"
                  sum: ${sumas}
                  iva: ${taxes}
                  subtotal: ${subtotal}
                  ivaRetenido: ${ivaRetenido}
                  ventasExentas: ${ventasExentas}
                  ventasNoSujetas: ${ventasNoSujetas}
                  ventaTotal: ${ventaTotal}
                  ventaTotalText: "${numeroALetras(ventaTotal)}"
                `;

                let invoiceDetails = "";
                for (const detail of details) {
                  const service = this.services.find(
                    service => service.id === detail.service
                  );
                  const qty = parseFloat(detail.quantity);
                  invoiceDetails += `{
                    action: "${detail.action}"
                    id: "${detail.id}"
                    service: "${service.id}"
                    chargeName: "${service.name}"
                    chargeDescription: """${detail.description}"""
                    sellingType: "${detail.sellingType}"
                    quantity: ${qty}
                    unitPrice: ${detail.cost}
                    incTax: ${detail.incTax}
                    ventaPrice: ${qty * detail.cost}
                  }`;
                }

                axios
                  .post("/", {
                    query: `
                      mutation { 
                        invoiceUpdate(
                          where: { id: "${this.$route.params.id}" }
                          data: {
                            invoice: {${invoice}},
                            details: [${invoiceDetails}]
                          }
                        ) { id }
                      }`
                  })
                  .then(res => {
                    const { data, errors } = res.data;
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se ha actualizado la factura correctamente"
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, actualizar";
                    if (R.isNil(errors)) {
                      setTimeout(() => {
                        this.$router.push("/invoices");
                      }, 500);
                    }
                    done();
                  })
                  .catch(err =>
                    this.$message.error(this.$store.state.error.queryDb)
                  );
              } else {
                done();
              }
            }
          }
        );
      });
    }
  },
  computed: {
    customer() {
      return this.customers.find(
        customer => customer.id === this.newInvoiceForm.customer
      );
    },
    condition() {
      return this.conditions.find(
        condition => condition.id === this.newInvoiceForm.condition
      );
    },
    seller() {
      return this.sellers.find(
        seller => seller.id === this.newInvoiceForm.seller
      );
    },
    branch() {
      let branch = undefined;
      if (!R.isNil(this.customer)) {
        branch = this.customer.branches.find(
          branch => branch.id === this.newInvoiceForm.branch
        );
      }
      return branch;
    },
    sumas() {
      const details = this.filteredDetails;
      let sumas = 0;
      if (!R.isEmpty(details)) {
        switch (this.newInvoiceForm.documentType) {
          case "1":
            for (const d of details) {
              if (d.sellingType === "3") {
                sumas +=
                  parseInt(d.quantity) *
                  parseFloat(d.cost) *
                  (d.incTax ? 1 : 1.13);
              }
            }
            break;
          case "2":
            for (const d of details) {
              if (d.sellingType === "3") {
                sumas +=
                  (parseInt(d.quantity) * parseFloat(d.cost)) /
                  (d.incTax ? 1.13 : 1);
              }
            }
            break;
        }
      }
      return sumas;
    },
    taxes() {
      const details = this.filteredDetails;
      let taxes = 0;
      if (!R.isEmpty(details)) {
        switch (this.newInvoiceForm.documentType) {
          case "2":
            for (const d of details) {
              if (d.sellingType === "3") {
                if (d.incTax) {
                  const total = parseInt(d.quantity) * parseFloat(d.cost);
                  taxes += total - total / 1.13;
                } else {
                  const total = parseInt(d.quantity) * parseFloat(d.cost);
                  taxes += total * 1.13 - total;
                }
              }
            }
            break;
        }
      }
      return taxes;
    },
    subtotal() {
      return this.sumas + this.taxes;
    },
    ivaRetenido() {
      let ivaRetenido = 0;
      const customer = this.customer;
      if (
        !R.isNil(customer) &&
        !R.isNil(customer.customerTaxerType) &&
        customer.customerTaxerType.id === "3"
      ) {
        switch (this.newInvoiceForm.documentType) {
          case "1":
            ivaRetenido = this.sumas > 100 ? (this.sumas / 1.13) * 0.01 : 0;
            break;
          case "2":
            ivaRetenido = this.sumas * (this.sumas > 100 ? 0.01 : 0);
            break;
        }
      }
      return ivaRetenido;
    },
    ventasExentas() {
      const details = this.filteredDetails;
      let exentas = 0;
      if (!R.isEmpty(details)) {
        for (const d of details) {
          if (d.sellingType === "2") {
            exentas += parseInt(d.quantity) * parseFloat(d.cost);
          }
        }
      }
      return exentas;
    },
    ventasNoSujetas() {
      const details = this.filteredDetails;
      let sujetas = 0;
      if (!R.isEmpty(details)) {
        for (const d of details) {
          if (d.sellingType === "1") {
            sujetas += parseInt(d.quantity) * parseFloat(d.cost);
          }
        }
      }
      return sujetas;
    },
    ventaTotal() {
      return (
        this.subtotal -
        this.ivaRetenido +
        this.ventasExentas +
        this.ventasNoSujetas
      );
    },
    showIvaInc() {
      let show = true;
      const service = this.selectedService;
      if (!R.isNil(service)) {
        show = !R.includes(service.sellingType.id, ["1", "2"]);
      }
      return show;
    },
    filteredDetails() {
      return this.details.filter(detail => detail.action !== "delete");
    }
  }
};
</script>

<style <style lang="postcss" scoped>
.actionB {
  @apply text-sm text-gray-600 flex flex-row items-center justify-center h-7 w-7 rounded-full border border-gray-600 mx-1 cursor-pointer;
}
</style>
