<template>
  <Content>
    <el-form
      :model="reportsForm"
      :rules="reportsFormRules"
      status-icon
      ref="reportsForm"
      @submit.native.prevent="generateReport('reportsForm', reportsForm)"
    >
      <el-row :gutter="15">
        <el-col :span="6">
          <el-form-item prop="name">
            <span slot="label">Seleccione el reporte</span>
            <el-select
              filterable
              clearable
              v-model="reportsForm.reportType"
              placeholder="Seleccione el reporte"
              size="small"
              class="w-full"
              default-first-option
            >
              <el-option
                v-for="report in reports"
                :key="report.id"
                :label="report.name"
                :value="report.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <div class="mt-5" v-if="reportsForm.reportType == 'details'">
        <el-row :gutter="15">
          <el-col :span="8">
            <el-form-item label="Rango de fechas:" prop="dateRange">
              <el-date-picker
                style="margin-top: 9px;"
                class="w-full"
                size="small"
                v-model="reportsForm.dateRange"
                type="daterange"
                align="left"
                unlink-panels
                range-separator="-"
                start-placeholder="Fecha inicio"
                end-placeholder="Fecha final"
                :editable="false"
                format="dd/MM/yyyy"
              />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Cliente:">
              <el-select
                v-model="reportsForm.customer"
                placeholder="Seleccionar cliente"
                size="small"
                class="w-full"
                clearable
                filterable
                default-first-option
              >
                <el-option-group label="ACTIVOS">
                  <el-option
                    v-for="customer in activeCustomers"
                    :key="customer.id"
                    :label="customer.name"
                    :value="customer.id"
                  />
                </el-option-group>
                <el-option-group label="INACTIVOS">
                  <el-option
                    v-for="customer in inactiveCustomers"
                    :key="customer.id"
                    :label="customer.name"
                    :value="customer.id"
                  />
                </el-option-group>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item label="Tipo fact.:">
              <el-select
                v-model="reportsForm.documentType"
                placeholder="Seleccionar"
                size="small"
                class="w-full"
                clearable
                filterable
                default-first-option
              >
                <el-option
                  v-for="documentType in documentTypes"
                  :key="documentType.id"
                  :label="`${documentType.code} - ${documentType.name}`"
                  :value="documentType.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item label="Estado:">
              <el-select
                v-model="reportsForm.status"
                placeholder="Seleccionar"
                size="small"
                class="w-full"
                clearable
                filterable
                default-first-option
              >
                <el-option
                  v-for="status in statuses"
                  :key="status.id"
                  :label="status.name"
                  :value="status.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="6">
            <el-form-item label="Vendedor:">
              <el-select
                v-model="reportsForm.seller"
                placeholder="Seleccionar vendedor"
                size="small"
                class="w-full"
                clearable
                filterable
                default-first-option
              >
                <el-option-group label="ACTIVOS">
                  <el-option
                    v-for="seller in activeSellers"
                    :key="seller.id"
                    :label="seller.name"
                    :value="seller.id"
                  />
                </el-option-group>
                <el-option-group label="INACTIVOS">
                  <el-option
                    v-for="seller in inactiveSellers"
                    :key="seller.id"
                    :label="seller.name"
                    :value="seller.id"
                  />
                </el-option-group>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Zona:">
              <el-select
                v-model="reportsForm.zone"
                placeholder="Seleccionar zona"
                size="small"
                class="w-full"
                clearable
                filterable
                default-first-option
              >
                <el-option-group label="ACTIVOS">
                  <el-option
                    v-for="zone in activeZones"
                    :key="zone.id"
                    :label="zone.name"
                    :value="zone.id"
                  />
                </el-option-group>
                <el-option-group label="INACTIVOS">
                  <el-option
                    v-for="zone in inactiveZones"
                    :key="zone.id"
                    :label="zone.name"
                    :value="zone.id"
                  />
                </el-option-group>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Servicio:">
              <el-select
                v-model="reportsForm.service"
                placeholder="Seleccionar servicio"
                size="small"
                class="w-full"
                clearable
                filterable
                default-first-option
              >
                <el-option-group label="ACTIVOS">
                  <el-option
                    v-for="service in activeServices"
                    :key="service.id"
                    :label="service.name"
                    :value="service.id"
                  />
                </el-option-group>
                <el-option-group label="INACTIVOS">
                  <el-option
                    v-for="service in inactiveServices"
                    :key="service.id"
                    :label="service.name"
                    :value="service.id"
                  />
                </el-option-group>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
      <div class="mt-5" v-if="reportsForm.reportType == 'statistics'">
        <el-row :gutter="15">
          <el-col :span="8">
            <el-form-item label="Rango de fechas:">
              <el-date-picker
                style="margin-top: 9px;"
                class="w-full"
                size="small"
                v-model="reportsForm.dateRange"
                type="daterange"
                align="left"
                unlink-panels
                range-separator="-"
                start-placeholder="Fecha inicio"
                end-placeholder="Fecha final"
                :editable="false"
                format="dd/MM/yyyy"
              />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Cliente:">
              <el-select
                v-model="reportsForm.customer"
                placeholder="Seleccionar cliente"
                size="small"
                class="w-full"
                clearable
                filterable
                default-first-option
              >
                <el-option-group label="ACTIVOS">
                  <el-option
                    v-for="customer in activeCustomers"
                    :key="customer.id"
                    :label="customer.name"
                    :value="customer.id"
                  />
                </el-option-group>
                <el-option-group label="INACTIVOS">
                  <el-option
                    v-for="customer in inactiveCustomers"
                    :key="customer.id"
                    :label="customer.name"
                    :value="customer.id"
                  />
                </el-option-group>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
      <el-row :gutter="15" class="mb-2">
        <el-col :span="24" class="flex justify-end items-center">
          <el-button
            type="primary"
            size="small"
            native-type="submit"
            icon="el-icon-download"
            :disabled="reportsForm.reportType == null"
            :loading="generating"
          >Descargar</el-button>
          <el-button size="small" @click="cancel()">Cancelar</el-button>
        </el-col>
      </el-row>
    </el-form>
  </Content>
</template>

<script>
import Content from "./../../layout/Content";
import axios from "axios";
import * as R from "ramda";
import * as moment from "moment";
import jsPDF from "jspdf";
import {
  lastDayOfMonth,
  format,
  isAfter,
  isBefore,
  subDays,
  addDays,
} from "date-fns";
import {
  getHeader,
  getFooter,
  formatMoney,
  inputValidate,
} from "./../../../utils.js";

import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
pdfMake.vfs = pdfFonts.pdfMake.vfs;

export default {
  name: "InvoicesReports",
  components: { Content },
  beforeRouteEnter(to, from, next) {
    NProgress.start();
    axios
      .post("/", {
        query: `{
          customers { id name isActiveCustomer }
          invoicesDocumentTypes { id code name }
          invoicesStatuses { id name }
          invoicesSellers { id name }
          invoicesZones { id name }
          services { id name }
        }`,
      })
      .then((res) => {
        const { data, errors } = res.data;
        if (R.isNil(errors)) {
          next((vm) =>
            vm.setData(
              data.invoicesDocumentTypes,
              data.customers,
              data.invoicesStatuses,
              data.invoicesSellers,
              data.invoicesZones,
              data.services
            )
          );
        } else {
          next(new Error(errors[0].message));
        }
      })
      .catch((err) => {
        next((vm) => vm.$message.error(vm.$store.state.error.queryDb));
      });
  },
  data() {
    return {
      reports: [
        { name: "Detalle de facturación", id: "details" },
        // { name: "Estadístico de ventas", id: "statistics" }
      ],
      reportsForm: {
        reportType: null,
        dateRange: null,
        customer: null,
        documentType: null,
        status: null,
        seller: null,
        zone: null,
      },
      reportsFormRules: {
        dateRange: inputValidate("blur", true),
      },
      documentTypes: [],
      statuses: [],
      customers: [],
      sellers: [],
      zones: [],
      services: [],
      generating: false,
    };
  },
  methods: {
    setData(documentTypes, customers, statuses, sellers, zones, services) {
      this.documentTypes = documentTypes;
      this.customers = customers;
      this.statuses = statuses;
      this.sellers = sellers;
      this.zones = zones;
      this.services = services;
    },
    generateReport(formName, formData) {
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          return false;
        }
        this.generating = true;
        axios
          .post("/", {
            query: `{
              myCompany { name nit nrc }
              invoices {
                documentType { id }
                invoicesSeller { id }
                invoicesZone { id }
                customer { id }
                status { id }
                details { service { id } }
                customerName
                authorization
                sequence
                invoiceDate
                sum
                ventasExentas
                ventasNoSujetas
                iva
                ivaRetenido
                ventaTotal
              }
            }`,
          })
          .then((res) => {
            const { data, errors } = res.data;
            if (R.isNil(errors)) {
              const invoices = data.invoices.filter((i) => i.status.id != 3);
              switch (formData.reportType) {
                case "details":
                  this.generateDetailsReport(
                    this.documentTypes,
                    data.myCompany,
                    invoices,
                    formData
                  );
                  break;
              }
            }
          })
          .catch((err) => {
            console.log(err);
            this.generating = false;
          });
      });
    },
    generateDetailsReport(
      documentTypes,
      { name, nit, nrc },
      invoices,
      { dateRange, customer, documentType, status, seller, zone, service }
    ) {
      const values = [];

      // Iguala filteredInvoices a invoices (no incluye los anulados)
      let filteredInvoices = invoices;

      // Filtra por fecha
      if (!R.isNil(dateRange)) {
        filteredInvoices = filteredInvoices.filter((i) => {
          const invoiceDate = addDays(new Date(i.invoiceDate), 1);
          return (
            isAfter(invoiceDate, subDays(dateRange[0], 1)) &&
            isBefore(invoiceDate, addDays(dateRange[1], 1))
          );
        });
      }

      // Filtra por cliente
      if (!R.isNil(customer)) {
        filteredInvoices = filteredInvoices.filter(
          (i) => i.customer.id === customer
        );
      }

      // Filtra por tipo de factura
      if (!R.isNil(documentType)) {
        documentTypes = documentTypes.filter((d) => d.id === documentType);
        filteredInvoices = filteredInvoices.filter(
          (i) => i.documentType.id === documentType
        );
      }

      // Filtra por estado
      if (!R.isNil(status)) {
        filteredInvoices = filteredInvoices.filter(
          (i) => i.status.id === status
        );
      }

      // Filtra por vendedor
      if (!R.isNil(seller)) {
        filteredInvoices = filteredInvoices.filter(
          (i) => i.invoicesSeller.id === seller
        );
      }

      // Filtra por zona
      if (!R.isNil(zone)) {
        filteredInvoices = filteredInvoices.filter(
          (i) => i.invoicesZone.id === zone
        );
      }

      // Filtra por servicio
      if (!R.isNil(service)) {
        filteredInvoices = filteredInvoices.filter(
          (i) => i.details.filter((d) => d.service.id === service).length > 0
        );
      }

      // Crea variables para guardar el total
      let sumGT = 0;
      let ventasExentasGT = 0;
      let ventasNoSujetasGT = 0;
      let ivaGT = 0;
      let ivaRetenidoGT = 0;
      let ventaTotalGT = 0;

      // Recorre los tipos de documentos
      for (const documentType of documentTypes) {
        values.push(new Array(9).fill(""));

        let typeHeader = new Array(9).fill("");
        typeHeader[0] = {
          text: documentType.code,
          style: "tableHeader",
        };
        values.push(typeHeader);

        // Filtra por tipo de documento
        const filteredSection = filteredInvoices.filter(
          (i) => i.documentType.id === documentType.id
        );

        // Ordena por nombre
        filteredSection = filteredSection.sort((a, b) => {
          if (a.invoiceDate < b.invoiceDate) {
            return -1;
          }
          if (a.invoiceDate > b.invoiceDate) {
            return 1;
          }
          return 0;
        });

        let count = 0;
        let sumT = 0;
        let ventasExentasT = 0;
        let ventasNoSujetasT = 0;
        let ivaT = 0;
        let ivaRetenidoT = 0;
        let ventaTotalT = 0;
        for (const invoice of filteredSection) {
          count++;
          sumT += invoice.sum;
          ventasExentasT += invoice.ventasExentas;
          ventasNoSujetasT += invoice.ventasNoSujetas;
          ivaT += invoice.iva;
          ivaRetenidoT += invoice.ivaRetenido;
          ventaTotalT += invoice.ventaTotal;
          values.push([
            {
              text: invoice.customerName,
              style: "text",
            },
            {
              text: format(
                addDays(new Date(invoice.invoiceDate), 1),
                "dd/MM/yyyy"
              ),
              style: "text",
            },
            {
              text: `${invoice.authorization} ${invoice.sequence}`,
              style: "text",
            },
            {
              text: formatMoney(invoice.sum),
              style: "text",
              alignment: "right",
            },
            {
              text: formatMoney(invoice.ventasExentas),
              style: "text",
              alignment: "right",
            },
            {
              text: formatMoney(invoice.ventasNoSujetas),
              style: "text",
              alignment: "right",
            },
            {
              text: formatMoney(invoice.iva),
              style: "text",
              alignment: "right",
            },
            {
              text: formatMoney(invoice.ivaRetenido),
              style: "text",
              alignment: "right",
            },
            {
              text: formatMoney(invoice.ventaTotal),
              style: "text",
              alignment: "right",
            },
          ]);
        }
        sumGT += sumT;
        ventasExentasGT += ventasExentasT;
        ventasNoSujetasGT += ventasNoSujetasT;
        ivaGT += ivaT;
        ivaRetenidoGT += ivaRetenidoT;
        ventaTotalGT += ventaTotalT;
        values.push([
          {
            text: `${count} Registros para ${documentType.code}`,
            style: "tableHeader",
          },
          "",
          "",
          {
            text: formatMoney(sumT),
            style: "tableHeader",
            alignment: "right",
          },
          {
            text: formatMoney(ventasExentasT),
            style: "tableHeader",
            alignment: "right",
          },
          {
            text: formatMoney(ventasNoSujetasT),
            style: "tableHeader",
            alignment: "right",
          },
          {
            text: formatMoney(ivaT),
            style: "tableHeader",
            alignment: "right",
          },
          {
            text: formatMoney(ivaRetenidoT),
            style: "tableHeader",
            alignment: "right",
          },
          {
            text: formatMoney(ventaTotalT),
            style: "tableHeader",
            alignment: "right",
          },
        ]);
      }

      // Agrega una linea en blanco
      values.push(new Array(9).fill(""));

      // Agrega los totales del reporte
      values.push([
        {
          text: "TOTAL GENERAL",
          style: "tableHeader",
        },
        "",
        "",
        {
          text: formatMoney(sumGT),
          style: "tableHeader",
          alignment: "right",
        },
        {
          text: formatMoney(ventasExentasGT),
          style: "tableHeader",
          alignment: "right",
        },
        {
          text: formatMoney(ventasNoSujetasGT),
          style: "tableHeader",
          alignment: "right",
        },
        {
          text: formatMoney(ivaGT),
          style: "tableHeader",
          alignment: "right",
        },
        {
          text: formatMoney(ivaRetenidoGT),
          style: "tableHeader",
          alignment: "right",
        },
        {
          text: formatMoney(ventaTotalGT),
          style: "tableHeader",
          alignment: "right",
        },
      ]);

      // Genera el documento
      const docDefinition = {
        pageSize: "LETTER",
        pageOrientation: "landscape",
        pageMargins: [20, 60, 20, 40],
        header: getHeader(
          name,
          nit,
          nrc,
          dateRange,
          "DETALLE DE FACTURACIÓN",
          "period"
        ),
        footer: getFooter(),
        content: [
          {
            fontSize: 9,
            layout: "noBorders",
            table: {
              headerRows: 1,
              widths: ["38%", "7%", "9%", "9%", "6%", "6%", "8%", "8%", "9%"],
              heights: -5,
              body: [
                [
                  {
                    text: "CLIENTE",
                    style: "tableHeader",
                  },
                  {
                    text: "FECHA",
                    style: "tableHeader",
                  },
                  {
                    text: "DOC. N°",
                    style: "tableHeader",
                  },
                  {
                    alignment: "right",
                    text: "V. GRAV.",
                    style: "tableHeader",
                  },
                  {
                    alignment: "right",
                    text: "V. SUJ.",
                    style: "tableHeader",
                  },
                  {
                    alignment: "right",
                    text: "V. EXEN.",
                    style: "tableHeader",
                  },
                  {
                    alignment: "right",
                    text: "13% IVA",
                    style: "tableHeader",
                  },
                  {
                    alignment: "right",
                    text: "IVA RET.",
                    style: "tableHeader",
                  },
                  {
                    alignment: "right",
                    text: "V. TOTAL",
                    style: "tableHeader",
                  },
                ],
                ...values,
              ],
            },
          },
        ],
        styles: {
          tableHeader: {
            bold: true,
            fontSize: 9,
          },
          text: {
            fontSize: 8.5,
          },
        },
      };

      this.generating = false;
      pdfMake.createPdf(docDefinition).open();
    },
    cancel() {
      this.$confirm("¿Estás seguro que deseas salir?", "Confirmación", {
        confirmButtonText: "Si, salir",
        cancelButtonText: "Cancelar",
        type: "warning",
      }).then(() => {
        this.$router.push("/invoices");
      });
    },
  },
  computed: {
    activeCustomers() {
      return this.customers.filter((c) => c.isActiveCustomer);
    },
    inactiveCustomers() {
      return this.customers.filter((c) => !c.isActiveCustomer);
    },
    activeSellers() {
      return this.sellers.filter((s) => s.active);
    },
    inactiveSellers() {
      return this.sellers.filter((s) => !s.active);
    },
    activeZones() {
      return this.zones.filter((z) => z.active);
    },
    inactiveZones() {
      return this.zones.filter((z) => !z.active);
    },
    activeServices() {
      return this.services.filter((s) => s.active);
    },
    inactiveServices() {
      return this.services.filter((s) => !s.active);
    },
  },
};
</script>
