<template>
  <Content>
    <el-form label-position="top">
      <el-row :gutter="15">
        <el-col :span="5">
          <el-form-item label="Estado">
            <el-select
              v-model="status"
              placeholder="Seleccionar"
              size="small"
              class="w-full"
              default-first-option
            >
              <el-option label="Todos los estados" :value="null" />
              <el-option label="Activo" :value="true" />
              <el-option label="Inactivo" :value="false" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item label="Tipo de venta">
            <el-select
              v-model="type"
              placeholder="Seleccionar"
              size="small"
              class="w-full"
              default-first-option
            >
              <el-option label="Todos los tipos" :value="null" />
              <el-option
                v-for="item in sellingTypes"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6" :offset="8">
          <el-input
            suffix-icon="el-icon-search"
            placeholder="Buscar..."
            v-model="searchValue"
            size="small"
            style="margin-top: 27px"
            clearable
          />
        </el-col>
      </el-row>
    </el-form>
    <el-row :gutter="15">
      <el-col :span="24">
        <el-table :data="paginatedServices" stripe size="mini">
          <el-table-column type="index" min-width="40" />
          <el-table-column label="Nombre" prop="name" min-width="200" />
          <el-table-column
            label="Descripción"
            prop="description"
            min-width="300"
          />
          <el-table-column label="Precio" min-width="100" align="right">
            <template slot-scope="scope">
              <span>{{ scope.row.cost | formatMoney }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Tipo de venta" prop="type" min-width="110">
            <template slot-scope="scope">
              <span>{{ scope.row.sellingType.name }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Estado" prop="status" min-width="100">
            <template slot-scope="scope">
              <el-tag size="small" type="success" v-if="scope.row.active"
                >Activo</el-tag
              >
              <el-tag size="small" type="warning" v-else>Inactivo</el-tag>
            </template>
          </el-table-column>
          <el-table-column label min-width="80" align="center">
            <template slot-scope="scope">
              <el-dropdown trigger="click">
                <el-button icon="el-icon-fa-ellipsis-v" size="small" />
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item @click.native="goToEditPage(scope.row)">
                    <i class="el-icon-edit-outline"></i> Editar servicio
                  </el-dropdown-item>
                  <el-dropdown-item @click.native="changeActive(scope.row)">
                    <span v-if="scope.row.active">
                      <i class="el-icon-close"></i> Desactivar
                    </span>
                    <span v-else> <i class="el-icon-check"></i> Activar </span>
                    servicio
                  </el-dropdown-item>
                  <el-dropdown-item
                    :divided="true"
                    class="text-red-500 font-semibold"
                    @click.native="deleteService(scope.row)"
                  >
                    <i class="el-icon-delete"></i> Eliminar servicio
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row :gutter="15" class="mt-2">
      <el-col :span="24" class="flex justify-end">
        <el-pagination
          @size-change="handleSizeChange"
          :current-page.sync="page.number"
          :page-sizes="[5, 10, 15, 25, 50, 100]"
          :page-size="page.size"
          layout="total, sizes, prev, pager, next"
          :total="filteredServices.length"
          :pager-count="5"
        />
      </el-col>
    </el-row>
  </Content>
</template>

<script>
import axios from "axios";
import * as R from "ramda";
import * as moment from "moment";

import Content from "./../../layout/Content";
export default {
  name: "ServicesAll",
  components: { Content },
  beforeRouteEnter(to, from, next) {
    NProgress.start();
    axios
      .post("/", {
        query: `{
          services { id name description cost active sellingType { id name } createdAt }
          sellingTypes { id name }
        }`,
      })
      .then((res) => {
        const { data, errors } = res.data;
        if (R.isNil(errors)) {
          next((vm) =>
            vm.setData({
              services: data.services,
              sellingTypes: data.sellingTypes,
            })
          );
        } else {
          next(new Error(errors[0].message));
        }
      })
      .catch((err) => {
        next((vm) => vm.$message.error(vm.$store.state.error.queryDb));
      });
  },
  data() {
    return {
      status: null,
      sellingTypes: [],
      type: null,
      types: [],
      searchValue: "",
      rawServices: [],
      page: {
        size: 10,
        number: 1,
      },
    };
  },
  methods: {
    handleSizeChange(val) {
      this.page.size = val;
    },
    setData({ services, sellingTypes }) {
      this.rawServices = services;
      this.sellingTypes = sellingTypes;
    },
    goToEditPage(service) {
      this.$router.push({ path: `/services/edit/${service.id}` });
    },
    changeActive(service) {
      const { id, active } = service;
      const actionName = active ? "desactivar" : "activar";
      this.$confirm(
        `¿Estás seguro que deseas ${actionName} este servicio?`,
        "Confirmación",
        {
          confirmButtonText: `Si, ${actionName}`,
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation {
                      serviceUpdateStatus(
                        where: { id: "${service.id}" }
                        data: { active: ${!service.active} }
                      )
                      { id name description cost active sellingType { id name } createdAt }
                    }`,
                })
                .then((res) => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawServices = data.serviceUpdateStatus;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? `Se ha ${actionName.substring(
                          0,
                          actionName.length - 1
                        )}do el servicio correctamente`
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500,
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, ${actionName}`;
                  done();
                })
                .catch((err) =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          },
        }
      );
    },
    deleteService(service) {
      const { id } = service;
      this.$confirm(
        "¿Estás seguro que deseas eliminar este servicio?",
        "Atención",
        {
          confirmButtonText: "Si, eliminar",
          cancelButtonText: "Cancelar",
          confirmButtonClass: "bg-red-500 border-red-500",
          type: "error",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation {
                      serviceDelete(
                        where: { id: "${service.id}" }
                      )
                      { id name description cost active sellingType { id name } createdAt }
                    }`,
                })
                .then((res) => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawServices = data.serviceDelete;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? "Se ha eliminado el servicio correctamente"
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500,
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, eliminar`;
                  done();
                })
                .catch((err) =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          },
        }
      );
    },
  },
  computed: {
    filteredServices() {
      const searchValue = this.searchValue.toLowerCase();
      const filteredServices = this.rawServices.filter((service) => {
        const search =
          service.name.toLowerCase().includes(searchValue) ||
          service.description.toLowerCase().includes(searchValue) ||
          service.cost.toString().includes(searchValue) ||
          service.sellingType.name.toLowerCase().includes(searchValue);

        const active = service.active === this.status || R.isNil(this.status);

        const type = service.sellingType.id === this.type || R.isNil(this.type);
        return search && active && type;
      });
      return filteredServices.sort((a, b) => {
        const dateA = moment(parseInt(a.createdAt));
        const dateB = moment(parseInt(b.createdAt));
        return dateB - dateA;
      });
    },
    paginatedServices() {
      return this.filteredServices.slice(
        this.page.number * this.page.size - this.page.size,
        this.page.size * this.page.number
      );
    },
  },
};
</script>
