<template>
  <Content>
    <el-form
      :model="servicesNewForm"
      :rules="servicesNewFormRules"
      status-icon
      ref="servicesNewForm"
      v-shortkey="{
        n: ['ctrl', 'alt', 'n'], 
        c: ['ctrl', 'alt', 'c'], 
        t: ['ctrl', 'alt', 't'],
        d: ['ctrl', 'alt', 'd']
      }"
      @shortkey.native="theAction"
      @submit.native.prevent="submitNewService('servicesNewForm', servicesNewForm)"
    >
      <el-row :gutter="15">
        <el-col :span="12">
          <el-form-item prop="name">
            <span slot="label">
              <span class="selection">N</span>ombre del servicio
            </span>
            <el-input
              ref="name"
              type="text"
              v-model="servicesNewForm.name"
              size="small"
              autocomplete="off"
            />
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item prop="cost">
            <span slot="label">
              <span class="selection">C</span>osto
            </span>
            <el-input
              ref="cost"
              type="number"
              min="0"
              step="0.01"
              v-model="servicesNewForm.cost"
              size="small"
              autocomplete="off"
            />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item prop="sellingType">
            <span slot="label">
              <span class="selection">T</span>ipo de venta
            </span>
            <el-radio-group ref="sellingType" v-model="servicesNewForm.sellingType" class="w-full">
              <el-row :gutter="15" style="margin-top: 8px;">
                <el-col :span="8" v-for="(s, k) in sellingTypes" :key="k">
                  <el-radio :label="s.id" border class="w-full" size="small">{{s.name}}</el-radio>
                </el-col>
              </el-row>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="24">
          <el-form-item prop="description">
            <span slot="label">
              <span class="selection">D</span>escripción del servicio
            </span>
            <el-input
              ref="description"
              type="textarea"
              :rows="4"
              placeholder="Ingresa la descripción aquí"
              v-model="servicesNewForm.description"
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="24" class="flex justify-end items-center">
          <span
            class="text-red-500 font-semibold mr-5"
            v-if="formIncomplete"
          >* Formulario incompleto</span>
          <el-button type="primary" size="small" native-type="submit">Guardar</el-button>
          <el-button size="small" @click="cancel()">Cancelar</el-button>
        </el-col>
      </el-row>
    </el-form>
  </Content>
</template>

<script>
import axios from "axios";
import * as R from "ramda";
import Content from "./../../layout/Content";
import { inputValidate, amountValidate } from "./../../../utils.js";

export default {
  name: "ServicesNew",
  components: { Content },
  beforeRouteEnter(to, from, next) {
    NProgress.start();
    axios
      .post("/", {
        query: `{
          sellingTypes { id name }
        }`
      })
      .then(res => {
        const { data, errors } = res.data;
        if (R.isNil(errors)) {
          next(vm => vm.setData(data.sellingTypes));
        } else {
          next(vm => {
            vm.$message.error(vm.$store.state.error.queryDb);
            vm.$router.replace("/services");
          });
        }
      })
      .catch(err => {
        next(vm => vm.$message.error(vm.$store.state.error.queryDb));
      });
  },
  data() {
    return {
      sellingTypes: [],
      servicesNewForm: {
        name: "",
        cost: "",
        sellingType: "",
        description: ""
      },
      servicesNewFormRules: {
        name: inputValidate("blur", true, 5, 60),
        cost: amountValidate("blur", true, 0),
        sellingType: inputValidate("change", "array", true),
        description: inputValidate("blur", false, 5)
      },
      formIncomplete: false
    };
  },
  methods: {
    setData(data) {
      this.sellingTypes = data;
    },
    submitNewService(formName, data) {
      this.$refs[formName].validate(async valid => {
        this.formIncomplete = false;
        if (!valid) {
          this.formIncomplete = true;
          return false;
        }

        const { name, cost, sellingType, description } = data;

        this.$confirm(
          "¿Estás seguro que deseas guardar este nuevo servicio?",
          "Confirmación",
          {
            confirmButtonText: "Si, guardar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";
                axios
                  .post("/", {
                    query: `mutation { 
                      serviceCreate(
                        data: {
                          name: "${name}",
                          description: """${description}""",
                          cost: ${cost},
                          sellingType: "${sellingType}"
                        }
                      )
                      { id }
                    }`
                  })
                  .then(res => {
                    const { data, errors } = res.data;
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se ha guardado el nuevo servicio correctamente"
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, guardar";
                    if (R.isNil(errors)) {
                      setTimeout(() => {
                        this.$confirm(
                          "¿Deseas crear un nuevo servicio?",
                          "Confirmación",
                          {
                            confirmButtonText: "Si, porfavor",
                            cancelButtonText: "No, gracias",
                            type: "warning",
                            closeOnClickModal: false,
                            closeOnPressEscape: false
                          }
                        )
                          .then(() => {
                            this.$refs[formName].resetFields();
                          })
                          .catch(() => {
                            this.$router.push("/services");
                          });
                      }, 500);
                    }
                    done();
                  })
                  .catch(err =>
                    this.$message.error(this.$store.state.error.queryDb)
                  );
              } else {
                done();
              }
            }
          }
        );
      });
    },
    theAction(event) {
      if (!R.isNil(event.srcKey)) {
        switch (event.srcKey) {
          case "n":
            this.$refs.name.$el.getElementsByTagName("input")[0].focus();
            break;
          case "c":
            this.$refs.cost.$el.getElementsByTagName("input")[0].focus();
            break;
          case "t":
            this.$refs.sellingType.$el.getElementsByTagName("input")[0].focus();
            break;
          case "d":
            this.$refs.description.$el
              .getElementsByTagName("textarea")[0]
              .focus();
            break;

          default:
            break;
        }
      }
    },
    cancel() {
      this.$confirm("¿Estás seguro que deseas salir?", "Confirmación", {
        confirmButtonText: "Si, salir",
        cancelButtonText: "Cancelar",
        type: "warning"
      }).then(() => {
        this.$router.push("/services");
      });
    }
  }
};
</script>

<style lang="postcss">
.selection {
  @apply underline font-bold;
}
</style>
