<template>
  <Content>
    <el-form
      :model="servicesEditForm"
      :rules="servicesEditFormRules"
      status-icon
      ref="servicesEditForm"
      @submit.native.prevent="submitEditService('servicesEditForm', servicesEditForm)"
    >
      <el-row :gutter="15">
        <el-col :span="12">
          <el-form-item label="Nombre del servicio" prop="name">
            <el-input type="text" v-model="servicesEditForm.name" size="small" autocomplete="off" />
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="Costo" prop="cost">
            <el-input
              type="number"
              min="0"
              step="0.01"
              v-model="servicesEditForm.cost"
              size="small"
              autocomplete="off"
            />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="Tipo de venta" prop="sellingType">
            <el-radio-group v-model="servicesEditForm.sellingType" class="w-full">
              <el-radio v-for="(s, k) in sellingTypes" :key="k" :label="s.id">{{s.name}}</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="24">
          <el-form-item label="Descripción del servicio" prop="description">
            <el-input
              type="textarea"
              :rows="4"
              placeholder="Ingresa la descripción aquí"
              v-model="servicesEditForm.description"
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="24" class="flex justify-end">
          <el-button type="primary" size="small" native-type="submit">Guardar</el-button>
          <el-button size="small" @click="cancel()">Cancelar</el-button>
        </el-col>
      </el-row>
    </el-form>
  </Content>
</template>

<script>
import axios from "axios";
import * as R from "ramda";
import Content from "./../../layout/Content";
import { inputValidate, amountValidate } from "./../../../utils.js";

export default {
  name: "ServicesEdit",
  components: { Content },
  beforeRouteEnter(to, from, next) {
    NProgress.start();
    axios
      .post("/", {
        query: `{
          service(where: { id: "${to.params.id}"}) { id name description cost active sellingType { id name } }
          sellingTypes { id name }
        }`
      })
      .then(res => {
        const { data, errors } = res.data;
        if (R.isNil(errors)) {
          next(vm =>
            vm.setData({
              service: data.service,
              sellingTypes: data.sellingTypes
            })
          );
        } else {
          next(vm => {
            vm.$message.error(vm.$store.state.error.queryDb);
            vm.$router.replace("/services");
          });
        }
      })
      .catch(err => {
        next(vm => vm.$message.error(vm.$store.state.error.queryDb));
      });
  },
  data() {
    return {
      sellingTypes: [],
      servicesEditForm: {
        name: "",
        cost: "",
        sellingType: "",
        description: ""
      },
      servicesEditFormRules: {
        name: inputValidate("blur", true, 5, 60),
        cost: amountValidate("blur", true, 0),
        sellingType: inputValidate("change", "array", true),
        description: inputValidate("blur", false, 5)
      }
    };
  },
  methods: {
    setData({ service, sellingTypes }) {
      const { name, cost, sellingType, description } = service;
      this.servicesEditForm = {
        name,
        cost,
        description,
        sellingType: sellingType.id
      };
      this.sellingTypes = sellingTypes;
    },
    submitEditService(formName, data) {
      this.$refs[formName].validate(async valid => {
        if (!valid) {
          return false;
        }

        const { name, cost, sellingType, description } = data;

        this.$confirm(
          "¿Estás seguro que deseas editar este servicio?",
          "Confirmación",
          {
            confirmButtonText: "Si, editar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";
                axios
                  .post("/", {
                    query: `mutation { 
                      serviceUpdate(
                        where: {
                          id: "${this.$route.params.id}"
                        },
                        data: {
                          name: "${name}",
                          description: """${description}""",
                          cost: ${cost},
                          sellingType: "${sellingType}"
                        }
                      )
                      { id }
                    }`
                  })
                  .then(res => {
                    const { data, errors } = res.data;
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se ha editado el servicio correctamente"
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, editar";
                    this.$router.push("/services");
                    done();
                  })
                  .catch(err =>
                    this.$message.error(this.$store.state.error.queryDb)
                  );
              } else {
                done();
              }
            }
          }
        );
      });
    },
    cancel() {
      this.$confirm("¿Estás seguro que deseas salir?", "Confirmación", {
        confirmButtonText: "Si, salir",
        cancelButtonText: "Cancelar",
        type: "warning"
      }).then(() => {
        this.$router.push("/services");
      });
    }
  }
};
</script>
