<template>
  <div class="flex bg-gray-100 w-screen h-screen">
    <Bar :style="{width: `${barWidth}px`}" />
    <div class="relative flex flex-col h-screen" :style="{width: `${contentWidth}px`}">
      <router-view class="flex h-full w-full"></router-view>
      <ChatBar v-if="false" />
    </div>
    <Notifications :style="{width: `${notificationWidth}px`}" />
  </div>
</template>

<script>
import Bar from "./layout/Bar";
import ChatBar from "./layout/ChatBar";
import Notifications from "./layout/Notifications";

export default {
  name: "Layout",
  components: { Bar, ChatBar, Notifications },
  data() {
    return {
      barWidth: 56,
      notificationWidth: 44,
      contentWidth: 0
    };
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener("resize", this.getWindowWidth);
      this.getWindowWidth();
    });
  },
  methods: {
    getWindowWidth(event) {
      this.contentWidth =
        document.documentElement.clientWidth -
        (this.barWidth + this.notificationWidth);
    }
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.getWindowWidth);
  }
};
</script>
