<template>
  <div class="flex">
    <Menu page-name="Contabilidad" :icon="icon" :menu="menu" />
    <router-view class="flex h-full w-full"></router-view>
  </div>
</template>

<script>
import Menu from "./../layout/Menu";

export default {
  name: "Accounting",
  components: { Menu },
  data() {
    return {
      icon:
        '<path d="M 27.9375 4.75 L 3.15625 9 L 15 9 L 26.3125 7.0625 L 26.65625 9 L 28.6875 9 L 27.9375 4.75 z M 2 10 L 2 11 L 2 12.5 L 2 25 L 2 26 L 3 26 L 29 26 L 30 26 L 30 25 L 30 11 L 30 10 L 29 10 L 4.5 10 L 3 10 L 2 10 z M 6.9375 12 L 25.0625 12 C 25.029198 12.162744 25 12.327411 25 12.5 C 25 13.880712 26.119288 15 27.5 15 C 27.672589 15 27.837256 14.970802 28 14.9375 L 28 21.0625 C 27.837256 21.029198 27.672589 21 27.5 21 C 26.119288 21 25 22.119288 25 23.5 C 25 23.672589 25.029198 23.837256 25.0625 24 L 6.9375 24 C 6.9708022 23.837256 7 23.672589 7 23.5 C 7 22.119288 5.8807119 21 4.5 21 C 4.327411 21 4.162744 21.029198 4 21.0625 L 4 14.9375 C 4.162744 14.970802 4.327411 15 4.5 15 C 5.8807119 15 7 13.880712 7 12.5 C 7 12.327411 6.9708022 12.162744 6.9375 12 z M 16 13 C 13.250421 13 11 15.250421 11 18 C 11 20.749579 13.250421 23 16 23 C 18.749579 23 21 20.749579 21 18 C 21 15.250421 18.749579 13 16 13 z M 16 15 C 17.668699 15 19 16.331301 19 18 C 19 19.668699 17.668699 21 16 21 C 14.331301 21 13 19.668699 13 18 C 13 16.331301 14.331301 15 16 15 z"/>',
      menu: [
        {
          name: "Nueva partida",
          icon: "plus",
          path: "/entries/new",
        },
        {
          name: "Partidas contables",
          icon: "list-ul",
          path: "/entries",
        },
        {
          name: "Reportes",
          icon: "file-text",
          path: "/entries/reports",
        },
        {
          name: "Configuraciones",
          icon: "cogs",
          path: "/entries/settings",
        },
      ],
    };
  },
};
</script>
