<template>
  <el-breadcrumb separator-class="el-icon-arrow-right" class="mb-3">
    <el-breadcrumb-item
      class="text-sm"
      v-for="(path, k) of fullPath"
      v-bind:key="k"
      :to="{path: path.path }"
    >{{ path.name }}</el-breadcrumb-item>
  </el-breadcrumb>
</template>

<script>
export default {
  name: "Breadcrumb",
  computed: {
    routes() {
      return {
        fullPath: []
      };
    }
  },
  created() {
    this.fullPath = this.$router.currentRoute.matched;
  }
};
</script>