<template>
  <div :class="`bg-${colors.lightest}`">
    <div class="flex items-center border rounded p-5" :class="`border-${colors.light}`">
      <div
        :class="`bg-${colors.light}`"
        class="flex justify-center items-center w-10 h-9 rounded-full"
      >
        <div
          class="flex justify-center items-center p-2 w-6 h-6 border-2 rounded-full"
          :class="`bg-${colors.lightest} border-${colors.base}`"
        >
          <i :class="`${icon} text-${colors.dark}`"></i>
        </div>
      </div>
      <div class="flex flex-col ml-2 w-full">
        <span class="uppercase font-semibold mb-1" :class="`text-${colors.darker}`">{{ title }}</span>
        <span :class="`text-${colors.dark}`">{{ message }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Notification",
  props: ["type", "title", "message"],
  computed: {
    icon() {
      let icon;
      switch (this.type) {
        case "warning":
          icon = "el-icon-warning";
          break;
        case "error":
          icon = "el-icon-error";
          break;
        case "success":
          icon = "el-icon-success";
          break;
        case "info":
          icon = "el-icon-info";
          break;
      }
      return icon;
    },
    colors() {
      switch (this.type) {
        case "warning":
          return {
            lightest: "orange-100",
            light: "orange-400",
            base: "orange-500",
            dark: "orange-600",
            darker: "orange-800"
          };
          break;
        case "error":
          return {
            lightest: "red-100",
            light: "red-400",
            base: "red-500",
            dark: "red-600",
            darker: "red-800"
          };
          break;
        case "success":
          return {
            lightest: "green-100",
            light: "green-400",
            base: "green-600",
            dark: "green-700",
            darker: "green-800"
          };
          break;
        case "info":
          return {
            lightest: "blue-100",
            light: "blue-400",
            base: "blue-600",
            dark: "blue-700",
            darker: "blue-800"
          };
          break;
      }
    }
  }
};
</script>
