<template>
  <div class="space-y-4">
    <el-dialog
      title="Cambiar nombre en reporte"
      :visible.sync="showChangeDisplayName"
      width="550px"
      :append-to-body="true"
    >
      <div class="flex flex-col space-y-2">
        <span>Cambiar de: {{ selectedParentAccount.name }}</span>
        <div class="flex flex-row items-center space-x-2">
          <el-checkbox
            size="small"
            v-model="allowNewDisplayName"
            label="Personalizar"
            border
            class="mt-1"
            @change="changeAllowDisplayName(selectedParentAccount, allowNewDisplayName, newDisplayName)"
          />
          <el-input
            placeholder="Nombre a mostrar en reporte"
            v-model="newDisplayName"
            size="small"
            clearable
            :disabled="!allowNewDisplayName"
          />
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showChangeDisplayName = false" size="small">Cancelar</el-button>
        <el-button
          type="primary"
          @click="changeDisplayName(selectedParentAccount, newDisplayName, allowNewDisplayName)"
          size="small"
        >Agregar</el-button>
      </span>
    </el-dialog>
    <el-dialog
      :title="`Agregar cuenta a: ${selectedParentAccount.name}`"
      :visible.sync="showAddAccount"
      width="700px"
      :append-to-body="true"
      @open="selectedCatalog = ''"
    >
      <el-select
        filterable
        remote
        reserve-keyword
        default-first-option
        clearable
        v-model="selectedCatalog"
        placeholder="Escribe el numero o nombre de la cuenta"
        :remote-method="findAccount"
        :loading="loadingAccount"
        class="w-full"
        size="small"
      >
        <el-option
          v-for="item in filteredCatalog"
          :key="item.id"
          :label="`${item.code} - ${item.name}`"
          :value="item.id"
        ></el-option>
      </el-select>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddAccount = false" size="small">Cancelar</el-button>
        <el-button
          type="primary"
          @click="addSubAccount(selectedParentAccount, selectedCatalog)"
          size="small"
        >Agregar</el-button>
      </span>
    </el-dialog>

    <notification
      type="info"
      title="Información"
      message="Acá puedes configurar los detalles que deseas que aparezcan en el estado de resultados, asi como definir si deseas que aparezca desglosado o solo sus totales."
    />
    <el-row :gutter="15">
      <el-col :span="24">
        <el-table ref="table" :data="tableData" row-key="id" border default-expand-all size="mini">
          <el-table-column label="Nombre" min-width="300">
            <template slot-scope="scope">
              <span :class="{'font-semibold': scope.row.bold}">{{ scope.row.id }} - {{ scope.row.display }}</span>
              <i class="el-icon-right mx-2" v-if="scope.row.display != scope.row.name"></i>
              <span
                class="italic text-gray-600"
                style="font-size: 10px;"
                v-if="scope.row.display != scope.row.name"
              >({{ scope.row.name }})</span>
            </template>
          </el-table-column>
          <el-table-column align="center" min-width="40">
            <template slot-scope="scope">
              <el-tooltip
                v-if="scope.row.showUpdateName"
                :open-delay="600"
                class="item"
                effect="dark"
                content="Editar nombre a mostrar en reporte"
                placement="top"
              >
                <el-button icon="el-icon-edit" size="mini" @click="openChangeDisplay(scope.row)" />
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column label="Incluir en reporte" align="center" min-width="65">
            <template slot-scope="scope">
              <el-switch v-model="scope.row.show" v-if="scope.row.showAdd" />
            </template>
          </el-table-column>
          <el-table-column label="Mostrar detalle" align="center" min-width="65">
            <template slot-scope="scope">
              <el-switch v-model="scope.row.details" v-if="scope.row.showAdd" />
            </template>
          </el-table-column>
          <el-table-column align="center" min-width="35">
            <template slot-scope="scope">
              <el-tooltip
                :open-delay="600"
                v-if="scope.row.showAdd"
                class="item"
                effect="dark"
                content="Agregar nueva cuenta"
                placement="top"
              >
                <el-button
                  type="primary"
                  icon="el-icon-plus"
                  size="small"
                  @click="openAddAccount(scope.row)"
                />
              </el-tooltip>
              <el-tooltip
                :open-delay="600"
                v-if="scope.row.canDelete"
                class="item"
                effect="dark"
                content="Eliminar esta cuenta"
                placement="top"
              >
                <el-button
                  type="danger"
                  icon="el-icon-delete"
                  size="small"
                  @click="deleteSubAccount(scope.row)"
                />
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row :gutter="15">
      <el-col class="flex justify-end" :span="24">
        <el-button type="default" size="small" @click="cancel()">Cancelar</el-button>
        <el-button type="primary" size="small" @click="saveBalanceSettings(tableData)">Guardar</el-button>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Notification from "../../../components/Notification";
import { add } from "date-fns";
import axios from "axios";
import * as R from "ramda";
export default {
  components: { Notification },
  props: ["catalog", "settings"],
  watch: {
    settings() {
      const estadoResultadoSettings = this.settings.find(
        (s) => s.type == "estado-resultados"
      );
      if (estadoResultadoSettings) {
        this.tableData = estadoResultadoSettings.settings;
      }
    },
  },
  data() {
    return {
      tableData: [
        {
          name: "Ingreso de actividades ordinarias",
          display: "Ingreso de actividades ordinarias",
          showUpdateName: true,
          showAdd: true,
          children: [],
          show: true,
          details: false,
          id: 1,
        },
        {
          name: "Costo de ventas, producción o servicios",
          display: "Costo de ventas, producción o servicios",
          showUpdateName: true,
          showAdd: true,
          children: [],
          show: true,
          details: false,
          id: 2,
        },
        {
          name: "Utilidad/Perdida bruta",
          display: "Utilidad/Perdida bruta",
          showUpdateName: true,
          bold: true,
        },
        {
          name: "Otros ingresos",
          display: "Otros ingresos",
          showUpdateName: true,
          showAdd: true,
          children: [],
          show: true,
          details: false,
          id: 3,
        },
        {
          name: "Otros gastos",
          display: "Otros gastos",
          showUpdateName: true,
          showAdd: true,
          children: [],
          show: true,
          details: false,
          id: 4,
        },
        {
          name: "Gastos de distribucion y venta",
          display: "Gastos de distribucion y venta",
          showUpdateName: true,
          showAdd: true,
          children: [],
          show: true,
          details: false,
          id: 5,
        },
        {
          name: "Gastos de administracion",
          display: "Gastos de administracion",
          showUpdateName: true,
          showAdd: true,
          children: [],
          show: true,
          details: false,
          id: 6,
        },
        {
          name: "Utilidad/Perdida de operacion",
          display: "Utilidad/Perdida de operacion",
          showUpdateName: true,
          bold: true,
        },
        {
          name: "Ingresos financieros",
          display: "Ingresos financieros",
          showUpdateName: true,
          showAdd: true,
          children: [],
          show: true,
          details: false,
          id: 7,
        },
        {
          name: "Gastos financieros",
          display: "Gastos financieros",
          showUpdateName: true,
          showAdd: true,
          children: [],
          show: true,
          details: false,
          id: 8,
        },
        {
          name:
            "Utiidad/Perdida antes de impuesto sobre la renta y las ganancias",
          display:
            "Utiidad/Perdida antes de impuesto sobre la renta y las ganancias",
          showUpdateName: true,
          bold: true,
        },
        {
          name: "Reserva legal",
          display: "Reserva legal",
          showUpdateName: true,
          showAdd: true,
          children: [],
          show: true,
          details: false,
          id: 9,
        },
        {
          name: "Utiidad/Perdida antes de impuesto sobre la renta",
          display: "Utiidad/Perdida antes de impuesto sobre la renta",
          showUpdateName: true,
          bold: true,
        },
        {
          name: "Impuesto sobre la renta",
          display: "Impuesto sobre la renta",
          showUpdateName: true,
          showAdd: true,
          children: [],
          show: true,
          details: false,
          id: 10,
        },
        {
          name:
            "Utilidad/Perdida antes de contribucion especial a las ganancias",
          display:
            "Utilidad/Perdida antes de contribucion especial a las ganancias",
          showUpdateName: true,
          bold: true,
        },
        {
          name: "Contribucion especial a las ganancias",
          display: "Contribucion especial a las ganancias",
          showUpdateName: true,
          showAdd: true,
          children: [],
          show: true,
          details: false,
          id: 11,
        },
        {
          name: "Resultado del ejercicio",
          display: "Resultado del ejercicio",
          showUpdateName: true,
          bold: true,
        },
        {
          name: "Otros resultados integrales del ejercicio neto de impuestos",
          display:
            "Otros resultados integrales del ejercicio neto de impuestos",
          showUpdateName: true,
          showAdd: true,
          children: [],
          show: true,
          details: false,
          id: 12,
        },
        {
          name: "RESULTADO INTEGRAL TOTAL DEL AÑO",
          display: "RESULTADO INTEGRAL TOTAL DEL AÑO",
          showUpdateName: true,
          bold: true,
        },
      ],
      showAddAccount: false,
      selectedParentAccount: {},
      selectedCatalog: "",
      loadingAccount: false,
      filteredCatalog: [],
      showChangeDisplayName: false,
      allowNewDisplayName: false,
      newDisplayName: "",
    };
  },
  methods: {
    openAddAccount(parent) {
      this.showAddAccount = true;
      this.selectedParentAccount = { ...parent };
    },
    findAccount(query) {
      if (query !== "") {
        this.loadingAccount = true;
        setTimeout(() => {
          this.filteredCatalog = this.catalog.filter((c) => {
            return (
              c.code.toLowerCase().includes(query.toLowerCase()) ||
              c.name.toLowerCase().includes(query.toLowerCase())
            );
          });
          this.loadingAccount = false;
        }, 200);
      } else {
        this.options = [];
      }
    },
    addSubAccount(selected, code) {
      const account = this.catalog.find((c) => c.id == code);
      const tableData = [...this.tableData]
      this.tableData = []
      const addTo = tableData.find((d) => d.id == selected.id);
      addTo.children.push({
        id: account.code,
        name: account.name,
        display: account.name,
        canDelete: true,
        showUpdateName: false,
      });
      this.showAddAccount = false;
      setTimeout(() => {
        console.log('entra')
        this.tableData = [...tableData]
      }, 500);
    },
    deleteSubAccount(selected) {
      let parent = null;
      const tableData = [...this.tableData]
      this.tableData = []
      for (const acc of tableData) {
        if (acc.hasOwnProperty("children")) {
          for (const c of acc.children) {
            if (c.id == selected.id) {
              parent = acc;
            }
          }
        }
      }
      const index = parent.children.findIndex((e) => e.id == selected.id);
      parent.children.splice(index, 1);
      setTimeout(() => {
        this.tableData = [...tableData]
      }, 500);
    },
    openChangeDisplay(account) {
      this.selectedParentAccount = account;
      this.newDisplayName = account.display;
      this.showChangeDisplayName = true;
    },
    changeDisplayName(account, display, allow) {
      if (display == "") {
        return this.$notify.error({
          title: "Error",
          message: "Debes incluir un nombre a mostrar",
        });
      }
      account.display = allow ? display : account.name;
      this.showChangeDisplayName = false;
    },
    changeAllowDisplayName(account, allowNewDisplayName, newDisplayName) {
      this.newDisplayName == allowNewDisplayName
        ? newDisplayName
        : account.display;
      console.log(account, allowNewDisplayName, newDisplayName);
      console.log(allowNewDisplayName ? newDisplayName : account.name);
    },
    cancel() {
      this.$confirm("¿Estás seguro que deseas salir?", "Confirmación", {
        confirmButtonText: "Si, salir",
        cancelButtonText: "Cancelar",
        type: "warning",
      }).then(() => {
        this.$router.push("/entries");
      });
    },
    saveBalanceSettings(settings) {
      this.$confirm(
        "¿Estás seguro que deseas guardar esta configuración para el estado de resultados?",
        "Confirmación",
        {
          confirmButtonText: "Si, guardar",
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation {
                      accountingSettingUpdate(
                        data: {
                          type: "estado-resultados"
                          settings: ${JSON.stringify(JSON.stringify(settings))}
                        },
                      ){ id }
                    }`,
                })
                .then((res) => {
                  const { data, errors } = res.data;
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? "Se ha guardado la configuración correctamente."
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500,
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = "Si, guardar";
                  done();
                })
                .catch((err) => {
                  this.$message.error(this.$store.state.error.queryDb);
                  done();
                });
            } else {
              done();
            }
          },
        }
      );
    },
  },
};
</script>
