<template>
  <div>
    <el-dialog
      title="Nueva cuenta mayor"
      :visible.sync="showCreateCatalogDialog"
      :append-to-body="true"
      width="900px"
    >
      <el-form
        :model="mayorAccountForm"
        :rules="mayorAccountFormRules"
        status-icon
        ref="mayorAccountForm"
      >
        <el-row :gutter="15" v-for="(item, i) in mayorAccountForm.items" :key="i">
          <el-col :span="3">
            <el-form-item
              label="Código"
              :prop="`items.${i}.code`"
              :rules="{required: true, message: 'Requerido', trigger: 'blur'}"
            >
              <el-input v-model="item.code" type="number" min="1" size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              label="Nombre"
              :prop="`items.${i}.name`"
              :rules="[{required: true, message: 'Este campo es requerido', trigger: 'blur'}, {min: 3, message: 'Debe contener mínimo 3 caracteres.', trigger: 'blur' }]"
            >
              <el-input v-model="item.name" size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item prop="service" style="margin-top: 20px;">
              <el-checkbox
                v-model="item.isAcreedora"
                label="Acreedora"
                size="small"
                border
                class="w-full"
              />
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item prop="service" style="margin-top: 20px;">
              <el-checkbox
                v-model="item.isBalance"
                label="Balance"
                size="small"
                border
                class="w-full"
              />
            </el-form-item>
          </el-col>
          <el-col :span="2">
            <el-form-item prop="service" style="margin-top: 20px;">
              <el-button
                class="w-full"
                type="danger"
                icon="el-icon-delete"
                :disabled="mayorAccountForm.items.length === 1"
                @click="removeMayorAccount(i)"
                size="small"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="24">
            <el-form-item prop="service">
              <el-button
                type="primary"
                icon="el-icon-plus"
                size="mini"
                @click="addNewMayorAccount()"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div class="flex justify-end">
          <el-button
            type="primary"
            size="small"
            @click.native="submitNewCatalog(mayorAccountForm.items, 'mayorAccountForm')"
          >Guardar</el-button>
          <el-button @click="showCreateCatalogDialog = false" size="small">Cancelar</el-button>
        </div>
      </span>
    </el-dialog>
    <el-dialog
      title="Editar cuenta mayor"
      :visible.sync="showEditMayorDialog"
      :append-to-body="true"
      width="900px"
    >
      <el-form
        :model="activeAccount"
        :rules="mayorAccountFormRules"
        status-icon
        ref="activeAccount"
      >
        <el-row :gutter="15" class="mb-4" v-if="activeAccount.subCatalogs.length > 0">
          <el-col :span="24">
            <notification
              type="info"
              title="Atención"
              message="Esta cuenta tiene sub cuentas, y no se puede editar el código, solamente el nombre."
            />
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="4">
            <el-form-item
              label="Código"
              prop="code"
              :rules="{required: true, message: 'Requerido', trigger: 'blur'}"
            >
              <el-input
                v-model="activeAccount.code"
                type="number"
                min="1"
                size="small"
                :disabled="activeAccount.subCatalogs.length > 0"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="Nombre"
              prop="name"
              :rules="[{required: true, message: 'Este campo es requerido', trigger: 'blur'}, {min: 3, message: 'Debe contener mínimo 3 caracteres.', trigger: 'blur' }]"
            >
              <el-input v-model="activeAccount.name" size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item prop="service" style="margin-top: 20px;">
              <el-checkbox
                v-model="activeAccount.isAcreedora"
                label="Acreedora"
                size="small"
                border
                class="w-full"
              />
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item prop="service" style="margin-top: 20px;">
              <el-checkbox
                v-model="activeAccount.isBalance"
                label="Balance"
                size="small"
                border
                class="w-full"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div class="flex justify-end">
          <el-button
            type="primary"
            size="small"
            @click.native="submitEditedCatalog(activeAccount, 'activeAccount')"
          >Guardar</el-button>
          <el-button @click="showEditMayorDialog = false" size="small">Cancelar</el-button>
        </div>
      </span>
    </el-dialog>

    <el-dialog
      title="Nueva cuenta contable"
      :visible.sync="showCreateAccount"
      :append-to-body="true"
      width="1000px"
    >
      <el-form :model="accountForm" :rules="accountFormRules" status-icon ref="accountForm">
        <el-row :gutter="15" class="mb-6">
          <el-col :span="3">
            <span class="font-semibold text-xs">Código padre</span>
            <p class="text-xs">{{activeAccount != null ? activeAccount.code : '' }}</p>
          </el-col>
          <el-col :span="6">
            <span class="font-semibold text-xs">Código padre</span>
            <p class="text-xs">{{activeAccount != null ? activeAccount.name : '' }}</p>
          </el-col>
        </el-row>
        <el-row :gutter="15" v-for="(item, i) in accountForm.items" :key="i">
          <el-col :span="3">
            <el-form-item
              label="Código"
              :prop="`items.${i}.code`"
              :rules="{required: true, message: 'Requerido', trigger: 'blur'}"
            >
              <el-input v-model="item.code" type="number" min="1" size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item
              label="Nombre"
              :prop="`items.${i}.name`"
              :rules="[{required: true, message: 'Este campo es requerido', trigger: 'blur'}, {min: 3, message: 'Debe contener mínimo 3 caracteres.', trigger: 'blur' }]"
            >
              <el-input v-model="item.name" size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="7">
            <el-form-item label="Descripción" :prop="`items.${i}.description`">
              <el-input v-model="item.description" size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item prop="service" style="margin-top: 20px;">
              <el-checkbox
                v-model="item.isAcreedora"
                label="Acreedora"
                size="small"
                border
                class="w-full"
              />
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item prop="service" style="margin-top: 20px;">
              <el-checkbox
                v-model="item.isBalance"
                label="Balance"
                size="small"
                border
                class="w-full"
              />
            </el-form-item>
          </el-col>
          <el-col :span="2">
            <el-form-item prop="service" style="margin-top: 20px;">
              <el-button
                class="w-full"
                type="danger"
                icon="el-icon-delete"
                :disabled="accountForm.items.length === 1"
                @click="removeAccount(i)"
                size="small"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="24">
            <el-form-item prop="service">
              <el-button type="primary" icon="el-icon-plus" size="mini" @click="addNewAccount()" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div class="flex justify-end">
          <el-button
            type="primary"
            size="small"
            @click.native="submitNewCatalog(accountForm.items, 'accountForm', activeAccount)"
          >Guardar</el-button>
          <el-button @click="showCreateAccount = false" size="small">Cancelar</el-button>
        </div>
      </span>
    </el-dialog>
    <el-dialog
      :id="(activeAccount != null) ? activeAccount.id : '' "
      title="Editar cuenta contable"
      :visible.sync="showEditAccount"
      :append-to-body="true"
      width="1000px"
    >
      <el-form :model="activeAccount" :rules="accountFormRules" status-icon ref="accountFormEdit">
        <el-row :gutter="15" class="mb-4" v-if="activeAccount.subCatalogs.length > 0">
          <el-col :span="24">
            <notification
              type="info"
              title="Atención"
              message="Esta cuenta tiene sub cuentas, y no se puede editar el código, solamente el nombre."
            />
          </el-col>
        </el-row>
        <el-row :gutter="15" class="mb-6">
          <el-col :span="3">
            <span class="font-semibold text-xs">Código padre</span>
            <p
              class="text-xs"
            >{{(activeAccount != null && activeAccount.parentCatalog != null) ? activeAccount.parentCatalog.code : '' }}</p>
          </el-col>
          <el-col :span="6">
            <span class="font-semibold text-xs">Código padre</span>
            <p
              class="text-xs"
            >{{(activeAccount != null && activeAccount.parentCatalog != null) ? activeAccount.parentCatalog.name : '' }}</p>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="3">
            <el-form-item
              label="Código"
              prop="code"
              :rules="{required: true, message: 'Requerido', trigger: 'blur'}"
            >
              <el-input
                v-model="activeAccount.code"
                type="number"
                min="1"
                size="small"
                :disabled="activeAccount.subCatalogs.length > 0"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item
              label="Nombre"
              prop="name"
              :rules="[{required: true, message: 'Este campo es requerido', trigger: 'blur'}, {min: 3, message: 'Debe contener mínimo 3 caracteres.', trigger: 'blur' }]"
            >
              <el-input v-model="activeAccount.name" size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="9">
            <el-form-item label="Descripción" prop="description">
              <el-input v-model="activeAccount.description" size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item prop="service" style="margin-top: 20px;">
              <el-checkbox
                v-model="activeAccount.isAcreedora"
                label="Acreedora"
                size="small"
                border
                class="w-full"
              />
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item prop="service" style="margin-top: 20px;">
              <el-checkbox
                v-model="activeAccount.isBalance"
                label="Balance"
                size="small"
                border
                class="w-full"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div class="flex justify-end">
          <el-button
            type="primary"
            size="small"
            @click.native="submitEditedCatalog(activeAccount, 'accountFormEdit', activeAccount.parentCatalog)"
          >Guardar</el-button>
          <el-button @click="showEditAccount = false" size="small">Cancelar</el-button>
        </div>
      </span>
    </el-dialog>

    <el-form label-position="top">
      <el-row class="mb-4" :gutter="15" type="flex" justify="space-between">
        <el-col :span="12">
          <el-button
            type="primary"
            icon="el-icon-plus"
            size="small"
            @click="addMayorAccount()"
          >Agregar cuenta mayor</el-button>
        </el-col>
        <el-col :span="6">
          <el-input
            suffix-icon="el-icon-search"
            placeholder="Buscar..."
            v-model="searchValue"
            size="small"
          />
        </el-col>
      </el-row>
    </el-form>
    <el-row :gutter="15">
      <el-col :span="24">
        <el-table :data="filteredCatalog" stripe size="mini">
          <el-table-column sortable="true" type="index" label="#" min-width="70" align="center"></el-table-column>
          <el-table-column prop="code" label="Código" min-width="90" />
          <el-table-column prop="name" label="Nombre de la cuenta" min-width="270"></el-table-column>
          <el-table-column prop="description" label="Descripción general" min-width="275"></el-table-column>
          <el-table-column
            prop="isAcreedora"
            label="	(A)creedor/(D)eudor"
            min-width="135"
            align="center"
          >
            <template slot-scope="scope">{{ scope.row.isAcreedora ? 'A' : 'D' }}</template>
          </el-table-column>
          <el-table-column label min-width="100" align="center">
            <template slot-scope="scope">
              <div class="flex justify-center">
                <el-tooltip
                  class="item mr-2"
                  effect="dark"
                  content="Agregar cuenta hija"
                  placement="top"
                  :open-delay="500"
                >
                  <el-button
                    size="mini"
                    type="primary"
                    @click="openNewAccountDialog(scope.row)"
                    icon="el-icon-plus"
                  />
                </el-tooltip>
                <el-tooltip
                  class="item"
                  effect="dark"
                  content="Acciones"
                  placement="top"
                  :open-delay="1000"
                >
                  <el-dropdown trigger="click">
                    <el-button size="mini">
                      <i class="el-icon-fa-ellipsis-v"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item @click.native="openEditAccount(scope.row)">
                        <i class="el-icon-edit-outline"></i> Editar cuenta
                      </el-dropdown-item>
                      <el-dropdown-item
                        :divided="true"
                        class="text-red-500 font-semibold"
                        v-if="scope.row.subCatalogs.length == 0"
                        @click.native="deleteAccount(scope.row)"
                      >
                        <i class="el-icon-delete"></i> Eliminar cuenta
                      </el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Notification from "./../../../components/Notification";
import axios from "axios";
import * as R from "ramda";

export default {
  props: ["catalog"],
  components: { Notification },
  data() {
    return {
      rawCatalog: [],
      searchValue: "",
      showCreateCatalogDialog: false,
      showCreateAccount: false,
      mayorAccountFormRules: {},
      mayorAccountForm: {
        items: [
          {
            code: "",
            name: "",
            isAcreedora: false,
            isBalance: false
          }
        ]
      },
      accountFormRules: {},
      accountForm: {
        items: [
          {
            code: "",
            name: "",
            description: "",
            isAcreedora: false,
            isBalance: false
          }
        ]
      },
      activeAccount: {
        code: "",
        name: "",
        description: "",
        isAcreedora: false,
        isBalance: false,
        subCatalogs: []
      },
      showEditMayorDialog: false,
      showEditAccount: false
    };
  },
  watch: {
    catalog() {
      this.rawCatalog = this.catalog;
    }
  },
  methods: {
    addMayorAccount() {
      this.showCreateCatalogDialog = true;
      this.mayorAccountForm.items = [
        {
          code: "",
          name: "",
          isAcreedora: false,
          isBalance: false
        }
      ];
    },
    openNewAccountDialog(parentAccount) {
      this.showCreateAccount = true;
      this.activeAccount = parentAccount;
      this.accountForm.items = [
        {
          code: "",
          name: "",
          description: "",
          isAcreedora: false,
          isBalance: false
        }
      ];
    },
    addNewMayorAccount() {
      this.mayorAccountForm.items.push({
        code: "",
        name: "",
        isAcreedora: false,
        isBalance: false
      });
    },
    addNewAccount() {
      this.accountForm.items.push({
        code: "",
        name: "",
        description: "",
        isAcreedora: false,
        isBalance: false
      });
    },
    removeMayorAccount(index) {
      this.mayorAccountForm.items.splice(index, 1);
    },
    removeAccount(index) {
      this.accountForm.items.splice(index, 1);
    },
    submitNewCatalog(mayorAccounts, formName, activeAccount) {
      console.log(mayorAccounts, formName, activeAccount);
      this.$refs[formName].validate(valid => {
        if (!valid) {
          return false;
        }

        // Verifica si es sub cuenta
        if (!R.isNil(activeAccount)) {
          // Si es sub cuenta actualiza el codigo a utilizar
          mayorAccounts = mayorAccounts.map(a => {
            const code = `${activeAccount.code}${a.code}`;
            return { ...a, code };
          });
        }

        console.log(mayorAccounts);
        // Funcion que identifica codigos duplicados
        const groupByCode = R.groupBy(R.prop("code"));
        const lengthOfGroup = R.mapObjIndexed(R.prop("length"));
        const arrayOfLengths = R.values;
        const checkLengths = R.any(R.lte(2));
        const hasDuplicates = R.pipe(
          groupByCode,
          lengthOfGroup,
          arrayOfLengths,
          checkLengths
        );

        // Verifica si los codigos en la ventana de dialogo estan duplicados entre ellos.
        if (hasDuplicates(mayorAccounts)) {
          this.$notify({
            title: "Error",
            message: "No puedes tener números de códigos duplicados.",
            type: "error",
            duration: 3500
          });
          return false;
        }

        // Verifica si los codigos nuevos y los guardados estan duplicados entre ellos.
        const mayorRegistered = this.rawCatalog.filter(c => c.level === 1);
        const completeMayorAccounts = mayorAccounts.concat(mayorRegistered);
        if (hasDuplicates(completeMayorAccounts)) {
          this.$notify({
            title: "Error",
            message:
              "No pueden existir códigos duplicados entres las nuevas cuentas y las ya existentes.",
            type: "error",
            duration: 3500
          });
          return false;
        }

        this.$confirm(
          "¿Estás seguro que deseas guardar estas cuentas contables?",
          "Confirmación",
          {
            confirmButtonText: "Si, guardar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";
                let dataAccounts = "";
                for (const acc of mayorAccounts) {
                  // Agrega la descripcion
                  const description = R.isNil(acc.description)
                    ? null
                    : `"${acc.description}"`;

                  // Agrega parentCatalog
                  const parentCatalog = R.isNil(activeAccount)
                    ? null
                    : `"${activeAccount.id}"`;

                  dataAccounts += `{
                    code: "${acc.code}",
                    name: "${acc.name}",
                    description: ${description},
                    isAcreedora: ${acc.isAcreedora},
                    isBalance: ${acc.isBalance},
                    parentCatalog: ${parentCatalog},
                  }`;
                }

                let mutation = "";
                let where = "";
                if (R.isNil(activeAccount)) {
                  mutation = "catalogMayorCreate";
                } else {
                  mutation = "catalogAccountCreate";
                  where = `where: { id: "${activeAccount.id}" }`;
                }

                axios
                  .post("/", {
                    query: `mutation {
                      ${mutation}( data: [${dataAccounts}] ${where}){ id code name description isAcreedora isBalance level subCatalogs { id } parentCatalog { id code name } }
                    }`
                  })
                  .then(res => {
                    const { data, errors } = res.data;
                    if (R.isNil(errors)) {
                      const values = R.isNil(activeAccount)
                        ? data.catalogMayorCreate
                        : data.catalogAccountCreate;
                      this.rawCatalog = values;
                    }
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se han guardado las cuentas contables correctamente"
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, guardar";
                    this.showCreateCatalogDialog = false;
                    this.showCreateAccount = false;
                    done();
                  })
                  .catch(err =>
                    this.$message.error(this.$store.state.error.queryDb)
                  );
              } else {
                done();
              }
            }
          }
        );
      });
    },
    deleteAccount({ id }) {
      this.$confirm(
        "¿Estás seguro que deseas eliminar esta cuenta?",
        "Confirmación",
        {
          confirmButtonText: "Si, eliminar",
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation { catalogDeleteAccount(where:{ id: "${id}" })
                    { id code name description isAcreedora isBalance level subCatalogs { id } parentCatalog { id code name } }
                  }`
                })
                .then(res => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawCatalog = data.catalogDeleteAccount;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? "Se ha eliminado la cuenta seleccionada correctamente."
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = "Si, eliminar";
                  done();
                })
                .catch(err =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          }
        }
      );
    },
    openEditAccount(account) {
      if (account.level === 1) {
        this.activeAccount = account;
        this.showEditMayorDialog = true;
      } else {
        this.activeAccount = {
          ...account,
          code: account.code.substr(account.parentCatalog.code.length)
        };
        this.showEditAccount = true;
      }
    },
    submitEditedCatalog(account, formName, activeAccount) {
      this.$refs[formName].validate(valid => {
        if (!valid) {
          return false;
        }

        // Obtiene listado de codigos que tengan en el mismo nivel
        const completeAccounts = this.rawCatalog.filter(
          c => c.level === account.level && c.id !== account.id
        );

        // Genera el codigo real a guardar
        const realCode = R.isNil(activeAccount)
          ? `${account.code}`
          : `${activeAccount.code}${account.code}`;

        // Encuentra si hay codigos similares del mismo nivel
        const foundDuplicated = completeAccounts.find(c => c.code === realCode);

        // Verifica si existe duplicados
        if (!R.isNil(foundDuplicated)) {
          this.$notify({
            title: "Error",
            message:
              "No pueden existir códigos duplicados entres las nuevas cuentas y las ya existentes.",
            type: "error",
            duration: 3500
          });
          return false;
        }

        this.$confirm(
          "¿Estás seguro que deseas actualizar esta cuenta contable?",
          "Confirmación",
          {
            confirmButtonText: "Si, guardar",
            cancelButtonText: "Cancelar",
            type: "warning",
            beforeClose: (action, instance, done) => {
              if (action === "confirm") {
                instance.confirmButtonLoading = true;
                instance.confirmButtonText = "Procesando...";
                const descriptionText = R.isNil(account.description)
                  ? null
                  : `"${account.description}"`;
                axios
                  .post("/", {
                    query: `mutation {
                      catalogAccountUpdate(
                        where: { id: "${account.id}"} 
                        data: {
                          code: "${realCode}",
                          name: "${account.name}",
                          description: ${descriptionText},
                          isAcreedora: ${account.isAcreedora},
                          isBalance: ${account.isBalance},
                        }
                      ){ id code name description isAcreedora isBalance level subCatalogs { id } parentCatalog { id code name } }
                    }`
                  })
                  .then(res => {
                    const { data, errors } = res.data;
                    if (R.isNil(errors)) {
                      this.rawCatalog = data.catalogAccountUpdate;
                    }
                    this.$notify({
                      title: R.isNil(errors) ? "Éxito" : "Error",
                      message: R.isNil(errors)
                        ? "Se ha guardado las cuentas de tipo mayor correctamente"
                        : errors[0].message,
                      type: R.isNil(errors) ? "success" : "error",
                      duration: 3500
                    });
                    instance.confirmButtonLoading = false;
                    instance.confirmButtonText = "Si, guardar";
                    this.showEditMayorDialog = false;
                    this.showEditAccount = false;
                    done();
                  })
                  .catch(err =>
                    this.$message.error(this.$store.state.error.queryDb)
                  );
              } else {
                done();
              }
            }
          }
        );
      });
    }
  },
  computed: {
    filteredCatalog() {
      const searchValue = this.searchValue.toLowerCase();
      let filteredCatalog = this.rawCatalog;

      // Filtra por campo de busqueda
      filteredCatalog = filteredCatalog.filter(c => {
        return (
          c.code.toLowerCase().includes(searchValue) ||
          c.name.toLowerCase().includes(searchValue) ||
          (c.description !== null &&
            c.description.toLowerCase().includes(searchValue))
        );
      });

      return filteredCatalog;
    }
  }
};
</script>