<template>
  <Content>
    <el-dialog
      :close-on-click-modal="false"
      title="Editar detalle de partida"
      :visible.sync="showEditEntryDetail"
      :append-to-body="true"
      width="500px"
    >
      <el-form
        v-loading="loading"
        label-position="top"
        status-icon
        :model="editEntryDetail"
        :rules="editEntryDetailRules"
        ref="editEntryDetailForm"
        @submit.prevent.native="submitEditEntryDetail('editEntryDetailForm', editEntryDetail, activeDetailIndex, catalogs)"
      >
        <el-form-item label="Cuenta contable" prop="accountingCatalog">
          <el-row :gutter="15">
            <el-col :span="24">
              <el-select
                class="w-full"
                size="small"
                v-model="editEntryDetail.accountingCatalog"
                filterable
                clearable
                placeholder="Seleccionar"
                default-first-option
              >
                <el-option
                  v-for="catalog in catalogs"
                  :key="catalog.id"
                  :label="`${catalog.code} - ${catalog.name}`"
                  :value="catalog.id"
                  :disabled="catalog.subCatalogs.length > 0"
                ></el-option>
              </el-select>
            </el-col>
          </el-row>
        </el-form-item>
        <el-row :gutter="15">
          <el-col :span="24">
            <el-form-item label="Concepto" prop="concept">
              <el-input
                v-model="editEntryDetail.concept"
                size="small"
                :disabled="!editEntryDetail.accountingCatalog"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="12">
            <el-form-item label="Cargo" prop="cargo">
              <el-input
                type="number"
                step="0.01"
                min="0.00"
                size="small"
                v-model="editEntryDetail.cargo"
                :disabled="!editEntryDetail.accountingCatalog"
              >
                <el-button slot="prepend" icon="el-icon-fa-dollar"></el-button>
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Abono" prop="abono">
              <el-input
                type="number"
                step="0.01"
                min="0.00"
                size="small"
                v-model="editEntryDetail.abono"
                :disabled="!editEntryDetail.accountingCatalog"
              >
                <el-button slot="prepend" icon="el-icon-fa-dollar"></el-button>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="24" class="flex justify-end">
            <el-form-item>
              <el-button size="small" type="primary" native-type="submit">Guardar</el-button>
              <el-button size="small" @click="showEditEntryDetail = false">Cancelar</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-dialog>
    <el-dialog
      :close-on-click-modal="false"
      title="Agregar detalle de partida"
      :visible.sync="showNewEntryDetail"
      :append-to-body="true"
      width="500px"
    >
      <el-form
        v-loading="loading"
        label-position="top"
        status-icon
        :model="newEntryDetail"
        :rules="newEntryDetailRules"
        ref="newEntryDetailForm"
        @submit.prevent.native="submitNewEntryDetail('newEntryDetailForm', newEntryDetail, catalogs)"
      >
        <el-form-item label="Cuenta contable" prop="accountingCatalog">
          <el-row :gutter="15">
            <el-col :span="24">
              <el-select
                class="w-full"
                size="small"
                v-model="newEntryDetail.accountingCatalog"
                filterable
                clearable
                placeholder="Seleccionar"
                default-first-option
              >
                <el-option
                  v-for="catalog in catalogs"
                  :key="catalog.id"
                  :label="`${catalog.code} - ${catalog.name}`"
                  :value="catalog.id"
                  :disabled="catalog.subCatalogs.length > 0"
                ></el-option>
              </el-select>
            </el-col>
          </el-row>
        </el-form-item>
        <el-row :gutter="15">
          <el-col :span="24">
            <el-form-item label="Concepto" prop="concept">
              <el-input
                v-model="newEntryDetail.concept"
                size="small"
                :disabled="!newEntryDetail.accountingCatalog"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="12">
            <el-form-item label="Cargo" prop="cargo">
              <el-input
                type="number"
                step="0.01"
                min="0.00"
                size="small"
                v-model="newEntryDetail.cargo"
                :disabled="!newEntryDetail.accountingCatalog"
              >
                <el-button slot="prepend" icon="el-icon-fa-dollar"></el-button>
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Abono" prop="abono">
              <el-input
                type="number"
                step="0.01"
                min="0.00"
                size="small"
                v-model="newEntryDetail.abono"
                :disabled="!newEntryDetail.accountingCatalog"
              >
                <el-button slot="prepend" icon="el-icon-fa-dollar"></el-button>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="24" class="flex justify-end">
            <el-form-item>
              <el-button size="small" type="primary" native-type="submit">Guardar</el-button>
              <el-button size="small" @click="showNewEntryDetail = false">Cancelar</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-dialog>

    <el-form
      status-icon
      :model="newEntry"
      :rules="newEntryRules"
      ref="newEntryForm"
      label-position="top"
      @submit.prevent.native="submitNewEntry('newEntryForm', newEntry, details, catalogs)"
    >
      <el-row :gutter="15">
        <el-col :span="7">
          <el-form-item label="Tipo de partida" prop="accountingEntryType">
            <div class="flex flex-col">
              <el-select
                v-model="newEntry.accountingEntryType"
                filterable
                clearable
                placeholder="Seleccionar"
                @change="changeEntryType(newEntry)"
                size="small"
                default-first-option
              >
                <el-option
                  v-for="type in entryTypes"
                  :key="type.id"
                  :label="`${type.code} - ${type.name}`"
                  :value="type.id"
                ></el-option>
              </el-select>
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="3" :offset="9">
          <el-form-item label="N° de correlativo">
            <el-input
              v-model="newEntry.serie"
              disabled
              size="small"
              @change="monitor(newEntry, newEntryDetail)"
            />
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item label="Fecha de partida" prop="date">
            <el-date-picker
              class="w-full"
              v-model="newEntry.date"
              type="date"
              placeholder="Seleccionar"
              :picker-options="datePickerOptions"
              format="dd MMMM yyyy"
              size="small"
              @change="changeEntryType(newEntry)"
            ></el-date-picker>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="16">
          <el-form-item label="Titulo de la partida" prop="title">
            <el-input v-model="newEntry.title" size="small" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="Opciones de partida">
            <el-row :gutter="15" style="margin-top: 5px;">
              <el-col :span="12">
                <el-checkbox
                  class="w-full"
                  label="Cuadrada"
                  v-model="newEntry.squared"
                  size="small"
                  border
                  disabled
                />
              </el-col>
              <el-col :span="12">
                <el-checkbox
                  class="w-full"
                  label="Contabilizada"
                  v-model="newEntry.accounted"
                  size="small"
                  border
                  disabled
                />
              </el-col>
            </el-row>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="24" class="flex justify-end">
          <el-button
            type="primary"
            icon="el-icon-plus"
            size="mini"
            @click="openNewEntryDetailDialog()"
          >Agregar detalle</el-button>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="24">
          <el-table
            ref="details"
            :data="details"
            show-summary
            sum-text
            :summary-method="getSummaries"
            stripe
            size="mini"
          >
            <el-table-column
              sortable="true"
              type="index"
              label="#"
              min-width="70"
              entryTypes
              align="center"
              show-summary="true"
            ></el-table-column>
            <el-table-column label="Cuenta contable" min-width="150">
              <template slot-scope="scope">
                <span>{{ scope.row.code }}</span>
              </template>
            </el-table-column>
            <el-table-column label="Concepto" min-width="460">
              <template slot-scope="scope">
                <span>{{ scope.row.concept }}</span>
              </template>
            </el-table-column>
            <el-table-column label="Cargo" min-width="100" align="center">
              <template slot-scope="scope">
                <span>{{ scope.row.cargo | formatMoney }}</span>
              </template>
            </el-table-column>
            <el-table-column label="Abono" min-width="100" align="center">
              <template slot-scope="scope">
                <span>{{ scope.row.abono | formatMoney }}</span>
              </template>
            </el-table-column>
            <el-table-column label min-width="120" align="right">
              <template slot-scope="scope">
                <el-tooltip
                  class="item"
                  effect="dark"
                  content="Editar"
                  placement="top"
                  :open-delay="1500"
                >
                  <el-button
                    size="mini"
                    @click="openEditEntryDetailDialog(scope.$index, scope.row)"
                  >
                    <i class="el-icon-edit-outline"></i>
                  </el-button>
                </el-tooltip>
                <el-tooltip
                  class="item"
                  effect="dark"
                  content="Eliminar"
                  placement="top"
                  :open-delay="1500"
                >
                  <el-button
                    size="mini"
                    type="danger"
                    @click="deleteEntryDetail(scope.$index, details)"
                  >
                    <i class="el-icon-delete"></i>
                  </el-button>
                </el-tooltip>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="24" class="flex justify-end mt-5">
          <el-button size="small" type="primary" native-type="submit">Guardar</el-button>
          <el-button size="small" @click="cancel()">Cancelar</el-button>
        </el-col>
      </el-row>
    </el-form>
  </Content>
</template>

<script>
import axios from "axios";
import * as R from "ramda";
import * as moment from "moment";
import { format } from "date-fns";
import Content from "./../../layout/Content";
import { inputValidate, amountValidateCompare } from "./../../../utils.js";

export default {
  name: "AccountingNew",
  components: { Content },
  beforeRouteEnter(to, from, next) {
    NProgress.start();
    axios
      .post("/", {
        query: `{ accountingEntryTypes { id code name } }`
      })
      .then(res => {
        const { data, errors } = res.data;
        if (R.isNil(errors)) {
          next(vm => vm.setData(data.accountingEntryTypes));
        } else {
          next(new Error(errors[0].message));
        }
      })
      .catch(err => {
        next(vm => vm.$message.error(vm.$store.state.error.queryDb));
      });
  },
  data() {
    const newCargoValidateCompare = (rule, value, callback) => {
      const val = parseFloat(value);
      const abono = this.newEntryDetail.abono;
      if (R.isEmpty(abono) || R.isNil(abono)) {
        if (R.isEmpty(value) && true) {
          callback(new Error("Este campo es requerido."));
        } else if (typeof parseFloat(value) !== "number") {
          callback(new Error("Ingresa un número valido."));
        } else if (!R.isNil(0) && parseFloat(value) < 0) {
          callback(new Error(`El número debe ser mayor a ${0}`));
        } else if (!R.isNil(null) && parseFloat(value) > null) {
          callback(new Error(`El número debe ser menor a ${null}`));
        } else {
          callback();
        }
      } else if (!R.isEmpty(abono) && !R.isEmpty(value)) {
        return callback(
          new Error("No puedes agregar cargo y abono al mismo tiempo")
        );
      } else {
        callback();
      }
    };
    const newAbonoValidateCompare = (rule, value, callback) => {
      const val = parseFloat(value);
      const cargo = this.newEntryDetail.cargo;
      if (R.isEmpty(cargo) || R.isNil(cargo)) {
        if (R.isEmpty(value) && true) {
          callback(new Error("Este campo es requerido."));
        } else if (typeof parseFloat(value) !== "number") {
          callback(new Error("Ingresa un número valido."));
        } else if (!R.isNil(0) && parseFloat(value) < 0) {
          callback(new Error(`El número debe ser mayor a ${0}`));
        } else if (!R.isNil(null) && parseFloat(value) > null) {
          callback(new Error(`El número debe ser menor a ${null}`));
        } else {
          callback();
        }
      } else if (!R.isEmpty(cargo) && !R.isEmpty(value)) {
        return callback(
          new Error("No puedes agregar cargo y abono al mismo tiempo")
        );
      } else {
        callback();
      }
    };
    const editCargoValidateCompare = (rule, value, callback) => {
      const val = parseFloat(value);
      const abono = this.editEntryDetail.abono;
      if (R.isEmpty(abono) || R.isNil(abono)) {
        if (R.isEmpty(value) && true) {
          callback(new Error("Este campo es requerido."));
        } else if (typeof parseFloat(value) !== "number") {
          callback(new Error("Ingresa un número valido."));
        } else if (!R.isNil(0) && parseFloat(value) < 0) {
          callback(new Error(`El número debe ser mayor a ${0}`));
        } else if (!R.isNil(null) && parseFloat(value) > null) {
          callback(new Error(`El número debe ser menor a ${null}`));
        } else {
          callback();
        }
      } else if (!R.isEmpty(abono) && !R.isEmpty(value)) {
        return callback(
          new Error("No puedes agregar cargo y abono al mismo tiempo")
        );
      } else {
        callback();
      }
    };
    const editAbonoValidateCompare = (rule, value, callback) => {
      const val = parseFloat(value);
      const cargo = this.editEntryDetail.cargo;
      if (R.isEmpty(cargo) || R.isNil(cargo)) {
        if (R.isEmpty(value) && true) {
          callback(new Error("Este campo es requerido."));
        } else if (typeof parseFloat(value) !== "number") {
          callback(new Error("Ingresa un número valido."));
        } else if (!R.isNil(0) && parseFloat(value) < 0) {
          callback(new Error(`El número debe ser mayor a ${0}`));
        } else if (!R.isNil(null) && parseFloat(value) > null) {
          callback(new Error(`El número debe ser menor a ${null}`));
        } else {
          callback();
        }
      } else if (!R.isEmpty(cargo) && !R.isEmpty(value)) {
        return callback(
          new Error("No puedes agregar cargo y abono al mismo tiempo")
        );
      } else {
        callback();
      }
    };
    return {
      loading: true,
      newEntry: {
        accountingEntryType: "",
        serie: "",
        date: new Date(),
        title: "",
        squared: false,
        accounted: false
      },
      newEntryRules: {
        accountingEntryType: inputValidate("change", true),
        date: inputValidate("blur", true),
        title: inputValidate("blur", true, 3, 150)
      },
      entryTypes: [],
      datePickerOptions: {
        shortcuts: [
          {
            text: "Ahora",
            onClick(picker) {
              picker.$emit("pick", new Date());
            }
          },
          {
            text: "Ayer",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit("pick", date);
            }
          },
          {
            text: "Mañana",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() + 3600 * 1000 * 24);
              picker.$emit("pick", date);
            }
          }
        ]
      },
      catalogs: [],
      showNewEntryDetail: false,
      newEntryDetail: {
        accountingCatalog: "",
        concept: "",
        cargo: "",
        abono: ""
      },
      newEntryDetailRules: {
        accountingCatalog: inputValidate("change", true),
        concept: inputValidate("blur", true, 3, 150),
        cargo: [
          {
            validator: newCargoValidateCompare,
            trigger: "blur"
          }
        ],
        abono: [
          {
            validator: newAbonoValidateCompare,
            trigger: "blur"
          }
        ]
      },
      showEditEntryDetail: false,
      editEntryDetail: {
        accountingCatalog: "",
        concept: "",
        cargo: "",
        abono: ""
      },
      editEntryDetailRules: {
        accountingCatalog: inputValidate("change", true),
        concept: inputValidate("blur", true, 3, 150),
        cargo: [
          {
            validator: editCargoValidateCompare,
            trigger: "blur"
          }
        ],
        abono: [
          {
            validator: editAbonoValidateCompare,
            trigger: "blur"
          }
        ]
      },
      activeDetailIndex: null,
      details: []
    };
  },
  methods: {
    setData(entryTypes) {
      this.entryTypes = entryTypes;
    },
    changeEntryType({ date }) {
      if (R.isEmpty(date)) {
        return false;
      }
      const formatedDate = format(date, "yyyy-MM-dd");
      axios
        .post("/", {
          query: `{
            accountingEntries( where: { date: "${formatedDate}" } ) { serie }
           }`
        })
        .then(res => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            const entries = data.accountingEntries;
            let result = 0;
            if (!R.isEmpty(entries)) {
              result = entries.reduce((a, b) => {
                return { serie: Math.max(a.serie, b.serie) };
              }).serie;
            }
            this.newEntry.serie = parseInt(result) + 1;
          }
        });
    },
    openNewEntryDetailDialog() {
      this.loading = true;
      this.showNewEntryDetail = true;
      if (!R.isNil(this.$refs.newEntryDetailForm)) {
        this.$refs.newEntryDetailForm.resetFields();
      }
      axios
        .post("/", {
          query: `{ catalogs { id code name description isParent subCatalogs { id } } }`
        })
        .then(res => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            this.catalogs = data.catalogs;
            this.loading = false;
          }
        })
        .catch(err => console.log(err));
    },
    submitNewEntryDetail(formName, newEntryDetail, catalogs) {
      this.$refs[formName].validate(valid => {
        if (!valid) {
          return false;
        }
        this.details.push({
          code: catalogs.find(c =>
            R.equals(c.id, newEntryDetail.accountingCatalog)
          ).code,
          accountingCatalog: newEntryDetail.accountingCatalog,
          concept: newEntryDetail.concept,
          cargo: R.isEmpty(newEntryDetail.cargo)
            ? ""
            : parseFloat(newEntryDetail.cargo),
          abono: R.isEmpty(newEntryDetail.abono)
            ? ""
            : parseFloat(newEntryDetail.abono)
        });
        this.showNewEntryDetail = false;
        this.checkEntry();
      });
    },
    openEditEntryDetailDialog(index, detail) {
      this.loading = true;
      this.activeDetailIndex = index;
      this.showEditEntryDetail = true;
      if (!R.isNil(this.$refs.editEntryDetailForm)) {
        this.$refs.editEntryDetailForm.resetFields();
      }
      axios
        .post("/", {
          query: `{ catalogs { id code name description isParent subCatalogs { id } } }`
        })
        .then(res => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            const abono = R.isNil(detail.abono) ? "" : detail.abono;
            const cargo = R.isNil(detail.cargo) ? "" : detail.cargo;
            this.catalogs = res.data.data.catalogs;
            this.editEntryDetail = { ...detail, abono, cargo };
            this.loading = false;
          }
        })
        .catch(err => console.log(err));
    },
    submitEditEntryDetail(formName, editEntryDetail, index, catalogs) {
      this.$refs[formName].validate(valid => {
        if (!valid) {
          return false;
        }
        const newDetail = {
          code: catalogs.find(c =>
            R.equals(c.id, editEntryDetail.accountingCatalog)
          ).code,
          accountingCatalog: editEntryDetail.accountingCatalog,
          concept: editEntryDetail.concept,
          cargo: R.isEmpty(editEntryDetail.cargo)
            ? ""
            : parseFloat(editEntryDetail.cargo),
          abono: R.isEmpty(editEntryDetail.abono)
            ? ""
            : parseFloat(editEntryDetail.abono)
        };
        this.details.splice(index, 1, newDetail);
        this.showEditEntryDetail = false;
        this.$refs.details.doLayout();
        this.checkEntry();
      });
    },
    deleteEntryDetail(index, details) {
      this.$confirm(
        "¿Estás seguro que deseas eliminar este detalle?",
        "Confirmación",
        {
          confirmButtonText: "Si, eliminar",
          cancelButtonText: "Cancelar",
          type: "warning"
        }
      ).then(() => {
        details.splice(index, 1);
        this.checkEntry();
      });
    },
    getSummaries(value) {
      const { columns, data } = value;
      let totalAbono = "";
      if (!R.isEmpty(data)) {
        totalAbono = data.reduce((a, b) => {
          const first = R.isEmpty(a.abono) ? 0 : parseFloat(a.abono);
          const second = R.isEmpty(b.abono) ? 0 : parseFloat(b.abono);
          return { abono: first + second };
        }).abono;
      }

      let totalCargo = "";
      if (!R.isEmpty(data)) {
        totalCargo = data.reduce((a, b) => {
          const first = R.isEmpty(a.cargo) ? 0 : parseFloat(a.cargo);
          const second = R.isEmpty(b.cargo) ? 0 : parseFloat(b.cargo);
          return { cargo: first + second };
        }).cargo;
      }

      const result = columns.map(column => {
        if (R.equals(column.label, "Abono")) {
          return this.$options.filters.formatMoney(totalAbono);
        } else if (R.equals(column.label, "Cargo")) {
          return this.$options.filters.formatMoney(totalCargo);
        } else if (R.equals(column.label, "Concepto")) {
          return "TOTALES";
        } else {
          return "";
        }
      });

      return result;
    },
    submitNewEntry(formName, data, details, catalogs) {
      const deta = data //Used for new entry to keep values
      this.$refs[formName].validate(async valid => {
        if (!valid) {
          return false;
        }

        if (R.isEmpty(details)) {
          this.$notify.error({
            title: "Error",
            message: "Debes incluir al menos un detalle en la partida contable",
            duration: 3500
          });
          return false;
        }

        const save = () => {
          this.$confirm(
            "¿Estás seguro que deseas guardar esta partida contable?",
            "Confirmación",
            {
              confirmButtonText: "Si, guardar",
              cancelButtonText: "Cancelar",
              type: "warning",
              beforeClose: (action, instance, done) => {
                let accountingDetails = "";
                for (const d of details) {
                  const catalogName = catalogs.find(
                    c => c.id === d.accountingCatalog
                  ).name;
                  accountingDetails += `{
                    accountingCatalog: "${d.accountingCatalog}"
                    catalogName: "${catalogName}"
                    concept: "${d.concept.text4gql()}"
                    cargo: ${R.isEmpty(d.cargo) ? null : d.cargo}
                    abono: ${R.isEmpty(d.abono) ? null : d.abono}
                  }`;
                }

                if (action === "confirm") {
                  instance.confirmButtonLoading = true;
                  instance.confirmButtonText = "Procesando...";
                  axios
                    .post("/", {
                      query: `mutation {
                      accountingEntryCreate(
                        data: {
                          accountingEntryType: "${data.accountingEntryType}"
                          serie: "${data.serie}"
                          title: "${data.title.text4gql()}"
                          date: "${format(data.date, "yyyy-MM-dd")}"
                          squared: ${data.squared}
                          accounted: ${data.accounted}
                        },
                        details: [${accountingDetails}]
                      ){ id }
                    }`
                    })
                    .then(res => {
                      const { data, errors } = res.data;
                      this.$notify({
                        title: R.isNil(errors) ? "Éxito" : "Error",
                        message: R.isNil(errors)
                          ? "Se ha guardado la partida contable correctamente"
                          : errors[0].message,
                        type: R.isNil(errors) ? "success" : "error",
                        duration: 3500
                      });
                      instance.confirmButtonLoading = false;
                      instance.confirmButtonText = "Si, guardar";
                      if (R.isNil(errors)) {
                        setTimeout(() => {
                          this.$confirm(
                            "¿Deseas crear una nueva partida contable?",
                            "Confirmación",
                            {
                              confirmButtonText: "Si, porfavor",
                              cancelButtonText: "No, gracias",
                              type: "warning",
                              closeOnClickModal: false,
                              closeOnPressEscape: false
                            }
                          )
                            .then(() => {
                              // this.$refs[formName].resetFields();
                              this.details = [];
                              this.newEntry = {
                                  accountingEntryType: deta.accountingEntryType,
                                  serie: parseInt(deta.serie) + 1,
                                  date: deta.date,
                                  title: "",
                                  squared: false,
                                  accounted: false
                                };
                            })
                            .catch(() => {
                              this.$router.push("/entries");
                            });
                        }, 500);
                      }
                      done();
                    })
                    .catch(err =>
                      this.$message.error(this.$store.state.error.queryDb)
                    );
                } else {
                  data.accounted = originalAccounted;
                  done();
                }
              }
            }
          );
        };

        const originalAccounted = data.accounted;
        if (data.squared) {
          this.$confirm(
            "Esta partida esta cuadrada, ¿deseas marcarla como completada?",
            "Confirmación",
            {
              type: "warning",
              distinguishCancelAndClose: true,
              confirmButtonText: "Si, porfavor",
              cancelButtonText: "No, gracias"
            }
          )
            .then(() => {
              data.accounted = true;
              save();
            })
            .catch(action => {
              if (action === "cancel") {
                data.accounted = false;
                save();
              } else {
                return false;
              }
            });
        } else {
          save();
        }
      });
    },
    checkEntry() {
      let totalAbono = this.details.reduce((a, b) => {
        const first = R.isEmpty(a.abono) ? 0 : parseFloat(a.abono);
        const second = R.isEmpty(b.abono) ? 0 : parseFloat(b.abono);
        return { abono: first + second };
      }).abono;
      let totalCargo = this.details.reduce((a, b) => {
        const first = R.isEmpty(a.cargo) ? 0 : parseFloat(a.cargo);
        const second = R.isEmpty(b.cargo) ? 0 : parseFloat(b.cargo);
        return { cargo: first + second };
      }).cargo;

      totalAbono = R.isEmpty(totalAbono) ? "0" : totalAbono;
      totalCargo = R.isEmpty(totalCargo) ? "0" : totalCargo;
      this.newEntry.squared =
        parseFloat(totalAbono).toFixed(3) === parseFloat(totalCargo).toFixed(3);
    },
    cancel() {
      this.$confirm("¿Estás seguro que deseas salir?", "Confirmación", {
        confirmButtonText: "Si, salir",
        cancelButtonText: "Cancelar",
        type: "warning"
      }).then(() => {
        this.$router.push("/entries");
      });
    }
  }
};
</script>
