<template>
  <Content>
    <el-dialog
      title="Vista previa "
      width="900px"
      :visible.sync="showEntryPreview"
      :append-to-body="true"
    >
      <el-row :gutter="15" class="mb-5">
        <el-col :span="8">
          <p class="font-semibold">Tipo de partida</p>
          <span>{{ previewEntry !== null ? previewEntry.accountingEntryType.name : '' }}</span>
        </el-col>
        <el-col :span="8">
          <p class="font-semibold">N° de correlativo</p>
          <span>{{ previewEntry !== null ? previewEntry.serie : '' }}</span>
        </el-col>
        <el-col :span="8">
          <p class="font-semibold">Fecha de partida</p>
          <span>{{ previewEntry !== null ? previewEntry.date : '' }}</span>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="16">
          <p class="font-semibold">Titulo de la partida</p>
          <span>{{ previewEntry !== null ? previewEntry.title : '' }}</span>
        </el-col>
        <el-col :span="8" v-if="previewEntry !== null">
          <p class="font-semibold">Opciones de partida</p>
          <el-checkbox v-model="previewEntry.squared" disabled>Cuadrada</el-checkbox>
          <el-checkbox v-model="previewEntry.accounted" disabled>Contabilizada</el-checkbox>
        </el-col>
      </el-row>
      <el-row :gutter="15" class="mt-8">
        <el-col :span="24">
          <el-table
            :data="previewEntry !== null ? previewEntry.accountingEntryDetails : []"
            stripe
            size="mini"
            show-summary
            sum-text=" "
            :summary-method="getSummaries"
          >
            <el-table-column type="index" label="#" min-width="50" align="center" />
            <el-table-column label="Cta. Contable" min-width="80">
              <template slot-scope="scope">
                <span>{{ scope.row.accountingCatalog.code }}</span>
              </template>
            </el-table-column>
            <el-table-column min-width="300" label="Concepto" prop="concept" />
            <el-table-column min-width="60" label="Cargo" align="center">
              <template slot-scope="scope">
                <span>{{ scope.row.cargo | formatMoney }}</span>
              </template>
            </el-table-column>
            <el-table-column min-width="60" label="Abono" align="center">
              <template slot-scope="scope">
                <span>{{ scope.row.abono | formatMoney }}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showEntryPreview = false" size="small">Cancelar</el-button>
      </span>
    </el-dialog>

    <el-form label-position="top">
      <el-row class="mb-4" :gutter="15" type="flex" justify="end">
        <el-col :span="6" :offset="13">
          <el-input
            suffix-icon="el-icon-search"
            placeholder="Buscar..."
            v-model="searchValue"
            size="small"
          />
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="8">
          <el-form-item label="Rango de fechas:">
            <el-date-picker
              style="margin-top: 9px;"
              class="w-full"
              size="small"
              v-model="filterBy.dateRange"
              type="daterange"
              align="left"
              unlink-panels
              range-separator="-"
              start-placeholder="Fecha inicio"
              end-placeholder="Fecha final"
              :editable="false"
              format="dd/MM/yyyy"
            />
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="Tipo de partida:">
            <el-select
              v-model="filterBy.entryType"
              placeholder="Seleccionar tipo"
              size="small"
              class="w-full"
              clearable
              filterable
              default-first-option
            >
              <el-option
                v-for="entryType in entryTypes"
                :key="entryType.id"
                :label="entryType.name"
                :value="entryType.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="7">
          <el-form-item label="Opciones de partida:">
            <el-row :gutter="15" style="margin-top: 5px;">
              <el-col :span="12">
                <el-checkbox
                  label="Cuadrada"
                  class="w-full"
                  size="small"
                  border
                  v-model="filterBy.squared"
                ></el-checkbox>
              </el-col>
              <el-col :span="12">
                <el-checkbox
                  label="Contabilizada"
                  class="w-full"
                  size="small"
                  border
                  v-model="filterBy.accounted"
                ></el-checkbox>
              </el-col>
            </el-row>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-row :gutter="15">
      <el-col :span="24">
        <el-table :data="paginatedEntries" stripe size="mini">
          <el-table-column type="index" label="#" min-width="50" align="center" />
          <el-table-column label="Serie" prop="serie" min-width="50" />
          <el-table-column label="Fecha" min-width="90">
            <template slot-scope="scope">
              <span>{{ scope.row.date | formatDate('YYYY-MM-DD') }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Titulo" prop="title" min-width="400" />
          <el-table-column label="Cargo" min-width="90" align="right">
            <template slot-scope="scope">
              <span>{{ scope.row.cargo | formatMoney }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Tipo" min-width="80" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.accountingEntryType.name }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Estado" min-width="105">
            <template slot-scope="scope">
              <el-tag
                size="small"
                type="success"
                v-if="scope.row.accounted && scope.row.squared"
              >Completa</el-tag>
              <el-tag size="small" type="warning" v-else-if="scope.row.squared">Cuadrada</el-tag>
              <el-tag size="small" type="danger" v-else>Incompleta</el-tag>
            </template>
          </el-table-column>
          <el-table-column min-width="50" align="center">
            <template slot-scope="scope">
              <div class="flex justify-center">
                <el-tooltip
                  class="item"
                  effect="dark"
                  content="Acciones"
                  placement="top"
                  :open-delay="500"
                >
                  <el-dropdown trigger="click">
                    <el-button size="mini">
                      <i class="el-icon-fa-ellipsis-v"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item @click.native="openPreviewEntry(scope.row)">
                        <i class="el-icon-view"></i> Vista previa
                      </el-dropdown-item>
                      <el-dropdown-item
                        @click.native="$router.push(`entries/edit/${scope.row.id}`)"
                      >
                        <i class="el-icon-edit-outline"></i> Editar partida
                      </el-dropdown-item>
                      <el-dropdown-item @click.native="printEntry(scope.row)">
                        <i class="el-icon-printer"></i> Imprimir partida
                      </el-dropdown-item>
                      <el-dropdown-item
                        :divided="true"
                        class="text-red-500 font-semibold"
                        @click.native="deleteEntry(scope.row.id)"
                      >
                        <i class="el-icon-delete"></i> Eliminar partida
                      </el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row :gutter="15" class="mt-2">
      <el-col :span="24" class="flex justify-end">
        <el-pagination
          @size-change="handleSizeChange"
          :current-page.sync="page.number"
          :page-sizes="[5, 10, 15, 25, 50, 100]"
          :page-size="page.size"
          layout="total, sizes, prev, pager, next"
          :total="filteredEntries.length"
          :pager-count="5"
        />
      </el-col>
    </el-row>
  </Content>
</template>

<script>
import Content from "./../../layout/Content";
import axios from "axios";
import * as R from "ramda";
import * as moment from "moment";
import { format, isAfter, isBefore, addDays, subDays } from "date-fns";
import {
  calculatedAmount,
  getHeader,
  getFooter,
  formatMoney
} from "./../../../utils";

import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
pdfMake.vfs = pdfFonts.pdfMake.vfs;

export default {
  name: "EntriesAll",
  components: { Content },
  beforeRouteEnter(to, from, next) {
    NProgress.start();
    axios
      .post("/", {
        query: `{
          accountingEntries {
            id
            serie
            title
            date
            squared
            accounted
            accountingEntryType { id name }
            accountingEntryDetails { cargo }
          },
          accountingEntryTypes { id code name }
        }`
      })
      .then(res => {
        const { data, errors } = res.data;
        if (R.isNil(errors)) {
          next(vm =>
            vm.setData(data.accountingEntries, data.accountingEntryTypes)
          );
        } else {
          next(new Error(errors[0].message));
        }
      })
      .catch(err => {
        next(vm => vm.$message.error(vm.$store.state.error.queryDb));
      });
  },
  data() {
    return {
      filterBy: {
        dateRange: null,
        entryType: null,
        squared: false,
        accounted: false
      },
      searchValue: "",
      rawEntries: [],
      entryTypes: [],
      entry: null,
      showEntryPreview: false,
      previewEntry: null,
      page: {
        size: 10,
        number: 1
      }
    };
  },
  methods: {
    handleSizeChange(val) {
      this.page.size = val;
    },
    setData(entries, entryTypes) {
      this.rawEntries = entries;
      this.entryTypes = entryTypes;
    },
    deleteEntry(entry) {
      this.$confirm(
        `¿Estás seguro que deseas eliminar esta partida contable?`,
        "Confirmación",
        {
          confirmButtonText: `Si, eliminar`,
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation {
                    accountingEntryDelete(
                      where: { id: "${entry}" }
                    )
                    {
                      id
                      serie
                      title
                      date
                      squared
                      accounted
                      accountingEntryType { id name }
                      accountingEntryDetails { cargo }
                    }
                  }`
                })
                .then(res => {
                  const { data, errors } = res.data;
                  if (R.isNil(errors)) {
                    this.rawEntries = data.accountingEntryDelete;
                  }
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? `Se ha eliminado la partida contable correctamente`
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = `Si, eliminar`;
                  done();
                })
                .catch(err =>
                  this.$message.error(this.$store.state.error.queryDb)
                );
            } else {
              done();
            }
          }
        }
      );
    },
    openPreviewEntry(entry) {
      axios
        .post("/", {
          query: `{
            accountingEntry( where: { id: "${entry.id}" } ) {
              id
              serie
              title
              date
              squared
              accounted
              accountingEntryType { id name }
              accountingEntryDetails {
                accountingCatalog { id code name }
                catalogName
                concept
                cargo
                abono
              }
            }
          }`
        })
        .then(res => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            this.previewEntry = {
              ...data.accountingEntry,
              date: format(
                addDays(new Date(data.accountingEntry.date), 1),
                "dd/MM/yyyy"
              )
            };
            this.showEntryPreview = true;
          }
        });
    },
    getSummaries(value) {
      const { columns, data } = value;
      let totalAbono = "";
      if (!R.isEmpty(data)) {
        totalAbono = data.reduce((a, b) => {
          const first =
            R.isEmpty(a.abono) || R.isNil(a.abono) ? 0 : parseFloat(a.abono);
          const second =
            R.isEmpty(b.abono) || R.isNil(b.abono) ? 0 : parseFloat(b.abono);
          return { abono: first + second };
        }).abono;
      }

      let totalCargo = "";
      if (!R.isEmpty(data)) {
        totalCargo = data.reduce((a, b) => {
          const first =
            R.isEmpty(a.cargo) || R.isNil(a.cargo) ? 0 : parseFloat(a.cargo);
          const second =
            R.isEmpty(b.cargo) || R.isNil(b.cargo) ? 0 : parseFloat(b.cargo);
          return { cargo: first + second };
        }).cargo;
      }

      const result = columns.map(column => {
        if (R.equals(column.label, "Abono")) {
          return this.$options.filters.formatMoney(totalAbono);
        } else if (R.equals(column.label, "Cargo")) {
          return this.$options.filters.formatMoney(totalCargo);
        } else if (R.equals(column.label, "Concepto")) {
          return "TOTALES";
        } else {
          return "";
        }
      });

      return result;
    },
    printEntry({ id }) {
      axios
        .post("/", {
          query: `{
              myCompany { name nit nrc }
              accountingEntry( where: { id: "${id}" } ) {
                title
                serie
                date
                accountingEntryType { name }
                accountingEntryDetails {
                  accountingCatalog { code name }
                  concept
                  cargo
                  abono
                }
              }
            }`
        })
        .then(res => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            const accountingEntry = data.accountingEntry;
            const { name, nit, nrc } = data.myCompany;

            let totalAbono = 0;
            let totalCargo = 0;
            const values = accountingEntry.accountingEntryDetails.map(a => {
              totalAbono += R.isNil(a.abono) ? 0 : a.abono;
              totalCargo += R.isNil(a.cargo) ? 0 : a.cargo;

              return [
                a.accountingCatalog.code.toUpperCase(),
                a.accountingCatalog.name,
                a.concept,
                {
                  text: formatMoney(a.cargo),
                  alignment: "right"
                },
                {
                  text: formatMoney(a.abono),
                  alignment: "right"
                }
              ];
            });

            values.push([
              "",
              "",
              { text: "TOTAL COMPROBANTE", bold: true, alignment: "right" },
              { text: formatMoney(totalCargo), bold: true, alignment: "right" },
              { text: formatMoney(totalAbono), bold: true, alignment: "right" }
            ]);

            const preTitle = [
              {
                text: "Comprobante: ",
                bold: true
              },
              {
                text: accountingEntry.accountingEntryType.name
              },
              {
                text: " | N°: ",
                bold: true
              },
              {
                text: accountingEntry.serie
              },
              {
                text: " | Fecha: ",
                bold: true
              },
              {
                text: format(
                  addDays(new Date(accountingEntry.date), 1),
                  "dd/MM/yyyy"
                )
              }
            ];
            const docDefinition = {
              pageSize: "LETTER",
              pageOrientation: "portrait",
              pageMargins: [15, 80, 15, 40],
              header: getHeader(
                name,
                nit,
                nrc,
                null,
                accountingEntry.title,
                null,
                preTitle
              ),
              footer: getFooter(),
              content: [
                {
                  fontSize: 9,
                  layout: "noBorders",
                  table: {
                    headerRows: 1,
                    widths: ["11%", "auto", "auto", "10%", "10%"],
                    heights: -5,
                    body: [
                      [
                        {
                          text: "N° CUENTA",
                          style: "tableHeader"
                        },
                        {
                          text: "NOMBRE CUENTA",
                          style: "tableHeader"
                        },
                        {
                          text: "DESCRIPCIÓN",
                          style: "tableHeader"
                        },
                        {
                          alignment: "right",
                          text: "CARGO",
                          style: "tableHeader"
                        },
                        {
                          alignment: "right",
                          text: "ABONO",
                          style: "tableHeader"
                        }
                      ],
                      ...values
                    ]
                  }
                }
              ],
              styles: {
                tableHeader: {
                  bold: true,
                  fontSize: 9
                }
              }
            };
            this.generating = false;
            pdfMake.createPdf(docDefinition).open();
          }
        });
    }
  },
  computed: {
    filteredEntries() {
      const searchValue = this.searchValue.trim().toLowerCase();
      const dateRange = this.filterBy.dateRange;
      const entryType = this.filterBy.entryType;
      const squared = this.filterBy.squared;
      const accounted = this.filterBy.accounted;
      let entries = this.rawEntries;

      if (!R.isEmpty(searchValue)) {
        entries = entries.filter(e => {
          return (
            e.serie
              .trim()
              .toLowerCase()
              .includes(searchValue) ||
            format(new Date(e.date), "dd/MM/yyyy").includes(searchValue) ||
            e.title
              .trim()
              .toLowerCase()
              .includes(searchValue) ||
            e.accountingEntryType.name
              .trim()
              .toLowerCase()
              .includes(searchValue)
          );
        });
      }

      if (!R.isNil(entryType)) {
        entries = entries.filter(e => e.accountingEntryType.id === entryType);
      }

      if (!R.isNil(dateRange)) {
        entries = entries.filter(e => {
          const startDate = subDays(new Date(dateRange[0]), 1);
          const endDate = new Date(dateRange[1]);

          return (
            isAfter(new Date(e.date), startDate) &&
            isBefore(new Date(e.date), endDate)
          );
        });
      }

      if (squared) {
        entries = entries.filter(e => e.squared);
      }

      if (accounted) {
        entries = entries.filter(e => e.accounted);
      }
      return entries;
    },
    paginatedEntries() {
      return this.filteredEntries.slice(
        this.page.number * this.page.size - this.page.size,
        this.page.size * this.page.number
      ).map(e => {
        return {
          ...e,
          cargo: e.accountingEntryDetails.reduce((a,b) => {
            return {
              cargo: (a.cargo ? parseFloat(a.cargo) : 0) +( b.cargo ?  parseFloat(b.cargo) : 0)
            }
          }, {cargo: 0}).cargo
        }
      })
    }
  }
};
</script>
