<template>
  <div class="space-y-4">
    <el-dialog
      :title="`Agregar cuenta a: ${selectedParentAccount.name}`"
      :visible.sync="showAddAccount"
      width="500px"
      :append-to-body="true"
      @open="selectedCatalog = []"
    >
      <el-select
        multiple
        filterable
        remote
        reserve-keyword
        default-first-option
        clearable
        v-model="selectedCatalog"
        placeholder="Escribe el numero o nombre de la cuenta"
        :remote-method="findAccount"
        :loading="loadingAccount"
        class="w-full"
        size="small"
      >
        <el-option
          v-for="item in filteredCatalog"
          :key="item.id"
          :label="`${item.code} - ${item.name}`"
          :value="item.id"
        ></el-option>
      </el-select>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddAccount = false" size="small">Cancelar</el-button>
        <el-button
          type="primary"
          @click="addSubAccount(selectedParentAccount, selectedCatalog)"
          size="small"
        >Agregar</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Cambiar nombre en reporte"
      :visible.sync="showChangeDisplayName"
      width="500px"
      :append-to-body="true"
      @open="newDisplayName = ''"
    >
      <div class="flex flex-col space-y-2">
        <span>Cambiar de: {{ selectedParentAccount.display }}</span>
        <el-input
          placeholder="Nombre a mostrar en reporte"
          v-model="newDisplayName"
          size="small"
          clearable
        />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showChangeDisplayName = false" size="small">Cancelar</el-button>
        <el-button
          type="primary"
          @click="addSubAccount(selectedParentAccount, selectedCatalog)"
          size="small"
        >Agregar</el-button>
      </span>
    </el-dialog>

    <el-row :gutter="15">
      <el-col :span="24">
        <notification
          type="info"
          title="Información"
          message="Acá puedes configurar las cuentas a incluir en el balance general asi como el nombre para cada sección que deseas que aparezca."
        />
      </el-col>
    </el-row>
    <el-form :model="specialAccounts">
      <el-row :gutter="15">
      <el-col :span="6">
        <el-form-item label="Utilidad ejercicios anteriores">
          <el-select
        filterable
        default-first-option
        clearable
        v-model="specialAccounts.accum_gain"
        placeholder="Escribe el numero o nombre de la cuenta"
        class="w-full"
        size="small"
      >
        <el-option
          v-for="item in catalog"
          :key="item.id"
          :label="`${item.code} - ${item.name}`"
          :value="item.id"
        ></el-option>
      </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item label="Perdida ejercicios anteriores">
          <el-select
        filterable
        default-first-option
        clearable
        v-model="specialAccounts.accum_lost"
        placeholder="Escribe el numero o nombre de la cuenta"
        class="w-full"
        size="small"
      >
        <el-option
          v-for="item in catalog"
          :key="item.id"
          :label="`${item.code} - ${item.name}`"
          :value="item.id"
        ></el-option>
      </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item label="Utilidad presente ejercicio">
          <el-select
        filterable
        default-first-option
        clearable
        v-model="specialAccounts.curre_gain"
        placeholder="Escribe el numero o nombre de la cuenta"
        class="w-full"
        size="small"
      >
        <el-option
          v-for="item in catalog"
          :key="item.id"
          :label="`${item.code} - ${item.name}`"
          :value="item.id"
        ></el-option>
      </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item label="Perdida presente ejercicio">
          <el-select
        filterable
        default-first-option
        clearable
        v-model="specialAccounts.curre_lost"
        placeholder="Escribe el numero o nombre de la cuenta"
        class="w-full"
        size="small"
      >
        <el-option
          v-for="item in catalog"
          :key="item.id"
          :label="`${item.code} - ${item.name}`"
          :value="item.id"
        ></el-option>
      </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="15">
      <el-col :span="24">
        <el-table :data="tableData" row-key="id" border default-expand-all size="mini">
          <el-table-column label="Cuenta" min-width="200">
            <template slot-scope="scope">
              <span>{{ scope.row.id }} - {{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="display" label="Nombre en reporte" min-width="170">
            <template slot-scope="scope">
              <div class="flex justify-between items-center">
                <span>{{ scope.row.display }}</span>
                <el-tooltip
                  :open-delay="600"
                  class="item"
                  effect="dark"
                  content="Editar nombre a mostrar en reporte"
                  placement="top"
                >
                  <el-button icon="el-icon-edit" size="mini" @click="openChangeDisplay(scope.row)" />
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="display" align="center" min-width="40">
            <template slot-scope="scope">
              <el-tooltip
                :open-delay="600"
                v-if="scope.row.showAdd"
                class="item"
                effect="dark"
                content="Agregar nueva cuenta"
                placement="top"
              >
                <el-button
                  type="primary"
                  icon="el-icon-plus"
                  size="small"
                  @click="openAddAccount(scope.row)"
                />
              </el-tooltip>
              <el-tooltip
                :open-delay="600"
                v-if="scope.row.canDelete"
                class="item"
                effect="dark"
                content="Eliminar esta cuenta"
                placement="top"
              >
                <el-button
                  type="danger"
                  icon="el-icon-delete"
                  size="small"
                  @click="deleteSubAccount(scope.row)"
                />
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row :gutter="15" class="mt-2">
      <el-col class="flex justify-end" :span="24">
        <el-button type="default" size="small" @click="cancel()">Cancelar</el-button>
        <el-button type="primary" size="small" @click="saveBalanceSettings(tableData, specialAccounts)">Guardar</el-button>
      </el-col>
    </el-row>
    </el-form>
  </div>
</template>

<script>
import Notification from "../../../components/Notification";
import { add } from "date-fns";
import axios from "axios";
import * as R from "ramda";
export default {
  components: { Notification },
  props: ["catalog", "settings"],
  watch: {
    settings() {
      const balanceSettings = this.settings.find(
        (s) => s.type == "balance-general"
      );
      if (balanceSettings) {
        this.tableData = balanceSettings.settings.report;
        this.specialAccounts = balanceSettings.settings.special;
      }
    },
  },
  data() {
    return {
      tableData: [
        {
          id: 1,
          name: "ACTIVO",
          display: "ACTIVO",
          children: [
            {
              id: 11,
              name: "ACTIVO CORRIENTE",
              display: "ACTIVO CORRIENTE",
              showAdd: true,
              children: [],
            },
            {
              id: 12,
              name: "ACTIVO NO CORRIENTE",
              display: "ACTIVO NO CORRIENTE",
              showAdd: true,
              children: [],
            },
          ],
        },
        {
          id: 2,
          name: "PASIVO",
          display: "PASIVO",
          children: [
            {
              id: 21,
              name: "PASIVO CORRIENTE",
              display: "PASIVO CORRIENTE",
              showAdd: true,
              children: [],
            },
            {
              id: 22,
              name: "PASIVO NO CORRIENTE",
              display: "PASIVO NO CORRIENTE",
              showAdd: true,
              children: [],
            },
          ],
        },
        {
          id: 3,
          name: "PATRIMONIO",
          display: "PATRIMONIO",
          children: [
            {
              id: 31,
              name: "CAPITAL Y RESERVAS",
              display: "CAPITAL Y RESERVAS",
              showAdd: true,
              children: [],
            },
          ],
        },
      ],
      specialAccounts: {
        accum_gain: '',
        accum_lost: '',
        curre_gain: '',
        curre_lost: '',
      },
      showAddAccount: false,
      selectedParentAccount: {},
      selectedCatalog: [],
      loadingAccount: false,
      filteredCatalog: [],
      showChangeDisplayName: false,
      newDisplayName: "",
    };
  },
  methods: {
    openAddAccount(parent) {
      this.showAddAccount = true;
      this.selectedParentAccount = { ...parent };
    },
    findAccount(query) {
      if (query !== "") {
        this.loadingAccount = true;
        setTimeout(() => {
          this.filteredCatalog = this.catalog.filter((c) => {
            return (
              c.code.toLowerCase().includes(query.toLowerCase()) ||
              c.name.toLowerCase().includes(query.toLowerCase())
            );
          });
          this.loadingAccount = false;
        }, 200);
      } else {
        this.options = [];
      }
    },
    addSubAccount(selected, list) {
      let addTo = this.tableData.find((td) => {
        return td.children.find((c) => c.id == selected.id);
      });
      addTo = addTo.children.find((c) => c.id == selected.id);
      for(const code of list){
        const account = this.catalog.find((c) => c.id == code);
        addTo.children.push({
          id: account.code,
          name: account.name,
          display: account.name,
          canDelete: true,
        });
      }
      this.showAddAccount = false;
    },
    deleteSubAccount(selected) {
      let parent = null;
      for (const acc of this.tableData) {
        for (const ch of acc.children) {
          for (const c of ch.children) {
            if (c.id == selected.id) {
              parent = ch;
            }
          }
        }
      }
      const index = parent.children.findIndex((e) => e.id == selected.id);
      parent.children.splice(index, 1);
    },
    openChangeDisplay(account) {
      this.selectedParentAccount = account;
      this.showChangeDisplayName = true;
    },
    cancel() {
      this.$confirm("¿Estás seguro que deseas salir?", "Confirmación", {
        confirmButtonText: "Si, salir",
        cancelButtonText: "Cancelar",
        type: "warning",
      }).then(() => {
        this.$router.push("/entries");
      });
    },
    saveBalanceSettings(report, special) {
      this.$confirm(
        "¿Estás seguro que deseas guardar esta configuración para el balance general?",
        "Confirmación",
        {
          confirmButtonText: "Si, guardar",
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              axios
                .post("/", {
                  query: `mutation {
                      accountingSettingUpdate(
                        data: {
                          type: "balance-general"
                          settings: ${JSON.stringify(JSON.stringify({report, special}))}
                        },
                      ){ id }
                    }`,
                })
                .then((res) => {
                  const { data, errors } = res.data;
                  this.$notify({
                    title: R.isNil(errors) ? "Éxito" : "Error",
                    message: R.isNil(errors)
                      ? "Se ha guardado la configuración correctamente."
                      : errors[0].message,
                    type: R.isNil(errors) ? "success" : "error",
                    duration: 3500,
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = "Si, guardar";
                  done();
                })
                .catch((err) => {
                  this.$message.error(this.$store.state.error.queryDb);
                  done();
                });
            } else {
              done();
            }
          },
        }
      );
    },
  },
};
</script>
