<template>
  <Content>
    <el-form
      :model="reportsForm"
      :rules="reportsFormRules"
      status-icon
      ref="reportsForm"
      @submit.native.prevent="
        generateReport('reportsForm', reportsForm, catalogs)
      "
    >
      <el-row :gutter="15">
        <el-col :span="6">
          <el-form-item prop="reportType" label="Seleccione el reporte">
            <el-select
              filterable
              clearable
              v-model="reportsForm.reportType"
              placeholder="Seleccione el reporte"
              size="small"
              class="w-full"
              @change="showRequirements(reportsForm.reportType)"
              default-first-option
            >
              <el-option
                v-for="report in reports"
                :key="report.id"
                :label="report.name"
                :value="report.id"
              />
              <el-option-group label="AUXILIARES">
                <el-option
                  v-for="report in auxiliarReports"
                  :key="report.id"
                  :label="report.name"
                  :value="report.id"
                ></el-option>
              </el-option-group>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <div class="mt-5" v-if="requirementForm == 'compact'">
        <el-row :gutter="15">
          <el-col :span="8">
            <el-form-item prop="dateRange" label="Seleccione la fecha">
              <el-date-picker
                v-model="reportsForm.dateRange"
                type="month"
                format="MMMM yyyy"
                placeholder="Selecciona un mes"
                class="w-full"
                size="small"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </div>
      <div class="mt-5" v-if="requirementForm == 'extended'">
        <el-row :gutter="15">
          <el-col :span="8">
            <el-form-item label="Rango de fechas:">
              <el-date-picker
                style="margin-top: 9px"
                class="w-full"
                size="small"
                v-model="reportsForm.dateRange"
                type="daterange"
                align="left"
                unlink-panels
                range-separator="-"
                start-placeholder="Fecha inicio"
                end-placeholder="Fecha final"
                :editable="false"
                format="dd/MM/yyyy"
              />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Cuentas:">
              <el-select
                v-model="reportsForm.catalogs"
                placeholder="Seleccionar cuentas"
                size="small"
                class="w-full"
                clearable
                filterable
                multiple
                default-first-option
              >
                <el-option
                  v-for="catalog in catalogs"
                  :key="catalog.id"
                  :label="catalog.code"
                  :value="catalog.id"
                >
                  <div class="flex flex-row justify-between">
                    <span class="mr-5 text-sm">{{ catalog.name }}</span>
                    <span class="text-gray-600">{{ catalog.code }}</span>
                  </div>
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
      <el-row :gutter="15">
        <el-col :span="24" class="flex justify-end items-center">
          <el-button
            type="primary"
            size="small"
            native-type="submit"
            icon="el-icon-download"
            :disabled="reportsForm.reportType == null"
            :loading="generating"
            >Descargar</el-button
          >
          <el-button size="small" @click="cancel()">Cancelar</el-button>
        </el-col>
      </el-row>
    </el-form>
  </Content>
</template>

<script>
import * as R from "ramda";
import { startsWith } from "voca";
import axios from "axios";
import {
  isAfter,
  isBefore,
  isSameMonth,
  isSameYear,
  addDays,
  format,
  lastDayOfMonth,
  endOfDay,
  endOfMonth,
} from "date-fns";
import {
  inputValidate,
  getHeader,
  getFooter,
  formatMoney,
} from "./../../../utils.js";
import Content from "./../../layout/Content";

import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
pdfMake.vfs = pdfFonts.pdfMake.vfs;

export default {
  name: "AccountingReports",
  components: { Content },
  beforeRouteEnter(to, from, next) {
    NProgress.start();
    axios
      .post("/", {
        query: `{ catalogs { id code name isAcreedora } }`,
      })
      .then((res) => {
        const { data, errors } = res.data;
        if (R.isNil(errors)) {
          next((vm) => vm.setData(data.catalogs));
        } else {
          next(new Error(errors[0].message));
        }
      })
      .catch((err) => {
        next((vm) => vm.$message.error(vm.$store.state.error.queryDb));
      });
  },
  data() {
    return {
      catalogs: [],
      reports: [
        { name: "Balance general", id: "balanceGeneral" },
        { name: "Estado de resultados", id: "estadoResultados" },
        { name: "Balance de comprobación", id: "balanceComprobacion" },
      ],
      auxiliarReports: [
        { name: "Libro diario mayor", id: "diarioMayor" },
        { name: "Libro de auxiliares", id: "libroAuxiliares" },
        { name: "Catalógo de cuentas", id: "catalogoCuentas" },
        //{ name: "Detalle de cuentas", id: "detalleCuentas" },
        { name: "Detalle de movimiento cuentas", id: "movimientoCuentas" },
      ],
      reportsForm: {
        reportType: null,
        dateRange: new Date(),
        catalogs: [],
      },
      reportsFormRules: {
        reportType: inputValidate("change", true),
        dateRange: inputValidate("change", true),
      },
      requirementForm: null,
      generating: false,
    };
  },
  methods: {
    setData(catalogs) {
      this.catalogs = catalogs;
    },
    showRequirements(id) {
      if (R.isEmpty(id)) {
        this.requirementForm = null;
      } else {
        switch (id) {
          case "balanceGeneral":
          case "estadoResultados":
          case "balanceComprobacion":
          case "diarioMayor":
          case "libroAuxiliares":
            this.requirementForm = "compact";
            break;
          case "detalleCuentas":
          case "movimientoCuentas":
            this.requirementForm = "extended";
            break;
          default:
            this.requirementForm = "none";
            break;
        }
      }
    },
    generateReport(formName, { dateRange, reportType, catalogs }, catalogList) {
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          return false;
        }

        this.generating = true;
        switch (reportType) {
          case "balanceGeneral":
            this.generateBalanceGeneral(dateRange);
            break;
          case "estadoResultados":
            this.generateEstadoResultados(dateRange);
            break;
          case "balanceComprobacion":
            this.generateBalanceComprobacion(dateRange);
            break;
          case "diarioMayor":
            this.generateDiarioMayor(dateRange);
            break;
          case "libroAuxiliares":
            this.generateLibroAuxiliares(dateRange);
            break;
          case "catalogoCuentas":
            this.generateCatalogoCuentas(dateRange);
            break;
          case "detalleCuentas":
            this.generateDetalleCuentas(dateRange, catalogs, catalogList);
            break;
          case "movimientoCuentas":
            this.generateMovimientoCuentas(dateRange, catalogs, catalogList);
            break;
        }
      });
    },
    generateEstadoResultados(dateRange) {
      axios
        .post("/", {
          query: `{
              myCompany { name nit nrc }
              catalogs { id level code name isAcreedora }
              accountingEntryDetails {
                accountingEntry { id date }
                accountingCatalog { id code isAcreedora }
                cargo abono
              }
              accountingSetting(where: {type: "estado-resultados"}) {
                id
                type
                settings
              }
            }`,
        })
        .then((res) => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            let details = data.accountingEntryDetails;
            const catalogs = data.catalogs;
            const { name, nit, nrc } = data.myCompany;

            details = details.filter((d) =>
              isBefore(
                addDays(new Date(d.accountingEntry.date), 1),
                endOfMonth(endOfDay(dateRange))
              )
            );

            const settings = data.accountingSetting.settings.filter(
              (s) => s.show
            );
            const items = [];
            let sumtotal = 0
            for (const i of settings) {
              let subtotal = 0;
              const childrens = [];
              if (i.children) {
                for (const si of i.children) {
                  let children_total = 0;
                  const applicable = details.filter((d) =>
                    startsWith(d.accountingCatalog.code, si.id)
                  );
                  const totals = applicable.reduce(
                    (a, b) => {
                      const abono =
                        (a.abono ? a.abono : 0) + (b.abono ? b.abono : 0);
                      const cargo =
                        (a.cargo ? a.cargo : 0) + (b.cargo ? b.cargo : 0);
                      return { abono, cargo };
                    },
                    { abono: 0, cargo: 0 }
                  );
                  children_total =
                    applicable.length > 0 ? totals.abono - totals.cargo : 0;

                  childrens.push([
                    {
                      text: si.display.toUpperCase(),
                      bold: si.bold === true,
                      margin: [10, 0, 0, si.bold === true ? 10 : 0],
                    },
                    {
                      text: formatMoney(subtotal),
                      bold: si.bold === true,
                      alignment: "right",
                    },
                    "",
                  ]);
                  subtotal += children_total;
                }
              }

              items.push([
                {
                  text: i.display.toUpperCase(),
                  bold: i.bold === true,
                  margin: [0, 0, 0, i.bold === true ? 10 : 0],
                },
                "",
                {
                  text: formatMoney(i.bold ? sumtotal : subtotal),
                  bold: i.bold === true,
                  alignment: "right",
                },
              ]);

              if (i.children && i.details) {
                for (const ch of childrens) {
                  items.push(ch);
                }
              }
            }

            const docDefinition = {
              pageSize: "LETTER",
              pageOrientation: "porttrait",
              pageMargins: [20, 60, 20, 40],
              header: getHeader(
                name,
                nit,
                nrc,
                lastDayOfMonth(dateRange),
                "ESTADO DE RESULTADOS"
              ),
              footer: getFooter(),
              content: [
                {
                  fontSize: 9,
                  layout: "noBorders",
                  table: {
                    widths: ["*", "10%", "10%"],
                    body: [
                      [
                        {
                          fontSize: 10,
                          text: "CONCEPTOS",
                          style: "tableHeader",
                          margin: [0, 0, 0, 10],
                        },
                        {
                          fontSize: 10,
                          text: "SALDOS DEL PERIODO",
                          style: "tableHeader",
                          alignment: "right",
                          colSpan: 2,
                        },
                        "",
                      ],
                      ...items,
                    ],
                  },
                },
              ],
              styles: {
                tableHeader: {
                  bold: true,
                  fontSize: 9,
                },
              },
            };
            this.generating = false;
            pdfMake.createPdf(docDefinition).open();
          }
        });
    },
    generateBalanceGeneral(dateRange) {
      axios
        .post("/", {
          query: `{
              myCompany { name nit nrc }
              catalogs { id level code name isAcreedora }
              accountingEntryDetails {
                accountingEntry { id date }
                accountingCatalog { id code isAcreedora }
                cargo abono
              }
              accountingSetting(where: {type: "balance-general"}) {
                id
                type
                settings
              }
            }`,
        })
        .then((res) => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            let details = data.accountingEntryDetails;
            const catalogs = data.catalogs;
            const { name, nit, nrc } = data.myCompany;
            const [
              activo,
              pasivo,
              patrimonio,
            ] = data.accountingSetting.settings.report;

            details = details.filter((d) =>
              isBefore(
                addDays(new Date(d.accountingEntry.date), 1),
                endOfMonth(endOfDay(dateRange))
              )
            );

            let totalActivo = 0;
            let totalPasivo = 0;
            let totalPatrimonio = 0;

            let activoValues = [];
            activoValues.push([
              {
                fontSize: 10,
                alignment: "center",
                text: activo.display,
                style: "tableHeader",
                colSpan: 3,
              },
              "",
              "",
            ]);
            for (const ch of activo.children) {
              const subitems = [];
              let chtotal = 0;
              for (const c of ch.children) {
                const catalog = catalogs.find((ct) => ct.code == c.id);
                const totals = details
                  .filter((d) => d.accountingCatalog.code.startsWith(c.id))
                  .reduce(
                    (a, b) => {
                      return {
                        abono:
                          parseFloat(a.abono != null ? a.abono : 0) +
                          parseFloat(b.abono != null ? b.abono : 0),
                        cargo:
                          parseFloat(a.cargo != null ? a.cargo : 0) +
                          parseFloat(b.cargo != null ? b.cargo : 0),
                      };
                    },
                    { abono: 0, cargo: 0 }
                  );

                const total = catalog.isAcreedora
                  ? totals.abono - totals.cargo
                  : totals.cargo - totals.abono;
                if (total > 0) {
                  subitems.push([
                    { text: c.display, fontSize: 8, margin: [15, 0, 0, 1] },
                    {
                      text: formatMoney(total),
                      fontSize: 8,
                      margin: [15, 0, 0, 1],
                      alignment: "right",
                    },
                    "",
                  ]);
                }
                chtotal += total;
              }
              totalActivo += chtotal;
              activoValues.push([
                {
                  margin: [0, 5, 0, 0],
                  text: ch.display,
                  style: "tableHeader",
                },
                "",
                {
                  margin: [0, 5, 0, 0],
                  text: formatMoney(chtotal),
                  style: "tableHeader",
                  alignment: "right",
                },
              ]);
              activoValues = activoValues.concat(subitems);
            }

            let pasivoValues = [];
            pasivoValues.push([
              {
                fontSize: 10,
                alignment: "center",
                text: pasivo.display,
                style: "tableHeader",
                colSpan: 3,
              },
              "",
              "",
            ]);
            for (const ch of pasivo.children) {
              const subitems = [];
              let chtotal = 0;
              for (const c of ch.children) {
                const catalog = catalogs.find((ct) => ct.code == c.id);
                const totals = details
                  .filter((d) => d.accountingCatalog.code.startsWith(c.id))
                  .reduce(
                    (a, b) => {
                      return {
                        abono:
                          parseFloat(a.abono != null ? a.abono : 0) +
                          parseFloat(b.abono != null ? b.abono : 0),
                        cargo:
                          parseFloat(a.cargo != null ? a.cargo : 0) +
                          parseFloat(b.cargo != null ? b.cargo : 0),
                      };
                    },
                    { abono: 0, cargo: 0 }
                  );

                const total = catalog.isAcreedora
                  ? totals.abono - totals.cargo
                  : totals.cargo - totals.abono;
                if (total > 0) {
                  subitems.push([
                    { text: c.display, fontSize: 8, margin: [15, 0, 0, 1] },
                    {
                      text: formatMoney(total),
                      fontSize: 8,
                      margin: [15, 0, 0, 1],
                      alignment: "right",
                    },
                    "",
                  ]);
                }
                chtotal += total;
              }
              totalPasivo += chtotal;
              pasivoValues.push([
                {
                  margin: [0, 5, 0, 0],
                  text: ch.display,
                  style: "tableHeader",
                },
                "",
                {
                  margin: [0, 5, 0, 0],
                  text: formatMoney(chtotal),
                  style: "tableHeader",
                  alignment: "right",
                },
              ]);
              pasivoValues = pasivoValues.concat(subitems);
            }

            // Obtiene lsa cuentas 4 y 5 e identifica quien es acreedor y deudor
            let resAcreedora = catalogs.find(c =>( c.code == '4' || c.code == '5') && c.isAcreedora)
            let resDeudora = catalogs.find(c =>( c.code == '4' || c.code == '5') && !c.isAcreedora)
            resAcreedora = details
              .filter(d => startsWith(d.accountingCatalog.code, resAcreedora.code))
              .reduce(
                (a,b) => {
                  return {
                    cargo: (a.cargo ? a.cargo : 0) + (b.cargo ? b.cargo : 0),
                    abono: (a.abono ? a.abono : 0) + (b.abono ? b.abono : 0)
                  }
                },
                { cargo: 0, abono:0 }
              )

            resDeudora = details
              .filter(d => startsWith(d.accountingCatalog.code, resDeudora.code))
              .reduce(
                (a,b) => {
                  return {
                    cargo: (a.cargo ? a.cargo : 0) + (b.cargo ? b.cargo : 0),
                    abono: (a.abono ? a.abono : 0) + (b.abono ? b.abono : 0)
                  }
                },
                { cargo: 0, abono:0 }
              )

            const totalAbono = resAcreedora.abono + resDeudora.abono
            const totalCargo = resAcreedora.cargo + resDeudora.cargo
            const totalEjericioActual = totalAbono - totalCargo
            let addToAccount = data.accountingSetting.settings.special.curre_gain
            if(totalEjericioActual < 0){
              // Agrega a perdidas del presente periodo
              addToAccount = data.accountingSetting.settings.special.curre_lost
            }
            details.push({
              cargo: totalCargo,
              abono: totalAbono,
              accountingCatalog: catalogs.find(c => c.id == addToAccount )
            })


            let patrimonioValues = [];
            patrimonioValues.push([
              {
                fontSize: 10,
                alignment: "center",
                text: patrimonio.display,
                style: "tableHeader",
                colSpan: 3,
              },
              "",
              "",
            ]);
            for (const ch of patrimonio.children) {
              const subitems = [];
              let chtotal = 0;
              for (const c of ch.children) {
                const catalog = catalogs.find((ct) => ct.code == c.id);
                const totals = details
                  .filter((d) => d.accountingCatalog.code.startsWith(c.id))
                  .reduce(
                    (a, b) => {
                      return {
                        abono:
                          parseFloat(a.abono != null ? a.abono : 0) +
                          parseFloat(b.abono != null ? b.abono : 0),
                        cargo:
                          parseFloat(a.cargo != null ? a.cargo : 0) +
                          parseFloat(b.cargo != null ? b.cargo : 0),
                      };
                    },
                    { abono: 0, cargo: 0 }
                  );

                const total = catalog.isAcreedora
                  ? totals.abono - totals.cargo
                  : totals.cargo - totals.abono;
                if (total > 0) {
                  subitems.push([
                    { text: c.display, fontSize: 8, margin: [15, 0, 0, 1] },
                    {
                      text: formatMoney(total),
                      fontSize: 8,
                      margin: [15, 0, 0, 1],
                      alignment: "right",
                    },
                    "",
                  ]);
                }
                chtotal += total;
              }
              totalPatrimonio += chtotal;
              patrimonioValues.push([
                {
                  margin: [0, 5, 0, 0],
                  text: ch.display,
                  style: "tableHeader",
                },
                "",
                {
                  margin: [0, 5, 0, 0],
                  text: formatMoney(chtotal),
                  style: "tableHeader",
                  alignment: "right",
                },
              ]);
              patrimonioValues = patrimonioValues.concat(subitems);
            }

            const docDefinition = {
              pageSize: "LETTER",
              pageOrientation: "landscape",
              pageMargins: [15, 55, 15, 40],
              header: getHeader(
                name,
                nit,
                nrc,
                lastDayOfMonth(dateRange),
                "BALANCE GENERAL"
              ),
              footer: getFooter(),
              content: [
                {
                  fontSize: 9,
                  layout: "noBorders",
                  table: {
                    widths: ["49.5%", "1%", "49.5%"],
                    body: [
                      [
                        {
                          layout: "noBorders",
                          table: {
                            widths: ["*", "auto", "auto"],
                            body: activoValues,
                          },
                        },
                        {},
                        {
                          layout: "noBorders",
                          table: {
                            widths: ["*", "auto", "auto"],
                            body: [...pasivoValues, ...patrimonioValues],
                          },
                        },
                      ],
                      [
                        {
                          text: "",
                          margin: [0, 10, 0, 0],
                        },
                        {},
                        {},
                      ],
                      [
                        {
                          table: {
                            widths: ["*", "*"],
                            body: [
                              [
                                {
                                  fontSize: 10,
                                  text: "TOTAL ACTIVO:",
                                  style: "tableHeader",
                                  border: [false, true, false, true],
                                },
                                {
                                  alignment: "right",
                                  fontSize: 10,
                                  text: formatMoney(totalActivo),
                                  style: "tableHeader",
                                  border: [false, true, false, true],
                                },
                              ],
                            ],
                          },
                        },
                        {},
                        {
                          table: {
                            widths: ["*", "*"],
                            body: [
                              [
                                {
                                  fontSize: 10,
                                  text: "TOTAL PASIVO Y PATRIMONIO:",
                                  style: "tableHeader",
                                  border: [false, true, false, true],
                                },
                                {
                                  alignment: "right",
                                  fontSize: 10,
                                  text: formatMoney(
                                    totalPasivo + totalPatrimonio
                                  ),
                                  style: "tableHeader",
                                  border: [false, true, false, true],
                                },
                              ],
                            ],
                          },
                        },
                      ],
                      [
                        {
                          text: "",
                          margin: [0, 60, 0, 0],
                        },
                        {},
                        {},
                      ],
                      [
                        {
                          colSpan: 3,
                          table: {
                            widths: ["*", "2%", "*", "2%", "*"],
                            body: [
                              [
                                {
                                  alignment: "center",
                                  text: [
                                    {
                                      style: "tableHeader",
                                      text: "Nombre Apellido\n",
                                    },
                                    "Representante legal",
                                  ],
                                  border: [false, true, false, false],
                                },
                                {
                                  text: "",
                                  border: [false, false, false, false],
                                },
                                {
                                  alignment: "center",
                                  text: [
                                    {
                                      text: "Nombre Apellido\n",
                                      style: "tableHeader",
                                    },
                                    "Contador",
                                  ],
                                  border: [false, true, false, false],
                                },
                                {
                                  text: "",
                                  border: [false, false, false, false],
                                },
                                {
                                  alignment: "center",
                                  text: [
                                    {
                                      text: "Nombre Apellido\n",
                                      style: "tableHeader",
                                    },
                                    "Auditor",
                                  ],
                                  border: [false, true, false, false],
                                },
                              ],
                            ],
                          },
                        },
                        {},
                        {},
                      ],
                    ],
                  },
                },
              ],
              styles: {
                tableHeader: {
                  bold: true,
                  fontSize: 9,
                },
              },
            };
            this.generating = false;
            pdfMake.createPdf(docDefinition).open();
          }
        });
    },
    generateBalanceComprobacion(dateRange) {
      axios
        .post("/", {
          query: `{
              myCompany { name nit nrc }
              catalogs { id level code name isAcreedora }
              accountingEntryDetails {
                accountingEntry { id date }
                accountingCatalog { id code isAcreedora }
                cargo abono
              }
            }`,
        })
        .then((res) => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            const catalogs = data.catalogs;
            const details = data.accountingEntryDetails;
            const { name, nit, nrc } = data.myCompany;

            const results = [];
            for (const c of catalogs) {
              let aplicableDetails = details.filter((d) => {
                return R.startsWith(c.code, d.accountingCatalog.code);
              });
              let abono = 0;
              let cargo = 0;
              let initial = 0;
              let initialAbono = 0;
              let initialCargo = 0;

              for (const detail of aplicableDetails) {
                // Obtiene los cargos y abonos del periodo
                if (
                  isSameMonth(
                    addDays(new Date(detail.accountingEntry.date), 1),
                    this.reportsForm.dateRange
                  ) &&
                  isSameYear(
                    addDays(new Date(detail.accountingEntry.date), 1),
                    this.reportsForm.dateRange
                  )
                ) {
                  abono += R.isNil(detail.abono) ? 0 : parseFloat(detail.abono);
                  cargo += R.isNil(detail.cargo) ? 0 : parseFloat(detail.cargo);
                }

                // Obtiene los cargos y abonos anteriores al periodo
                if (
                  isBefore(
                    addDays(new Date(detail.accountingEntry.date), 1),
                    this.reportsForm.dateRange
                  )
                ) {
                  initialAbono += R.isNil(detail.abono)
                    ? 0
                    : parseFloat(detail.abono);
                  initialCargo += R.isNil(detail.cargo)
                    ? 0
                    : parseFloat(detail.cargo);

                  initial = detail.accountingCatalog.isAcreedora
                    ? initialAbono - initialCargo
                    : initialCargo - initialAbono;
                }
              }

              if (abono > 0.0001 || cargo > 0.0001 || initial > 0.0001) {
                results.push({
                  ...c,
                  cargo,
                  abono,
                  initial,
                });
              }
            }

            const values = [];
            const emptyRow = [{}, {}, {}, {}, {}, {}, {}];
            const mayores = results.filter((d) => d.level == 1);
            for (const m of mayores) {
              values.push(emptyRow);
              const mresults = results.filter((d) =>
                R.startsWith(m.code, d.code)
              );
              const msaldo = m.isAcreedora
                ? m.abono - m.cargo
                : m.cargo - m.abono;
              for (const detail of mresults) {
                const saldo = detail.isAcreedora
                  ? detail.abono - detail.cargo
                  : detail.cargo - detail.abono;

                values.push([
                  {
                    bold: detail.level == 1,
                    text: detail.code,
                  },
                  {
                    bold: detail.level == 1,
                    text: detail.name,
                  },
                  {
                    bold: detail.level == 1,
                    text: detail.level == 1 ? "" : formatMoney(detail.initial),
                    alignment: "right",
                  },
                  {
                    bold: detail.level == 1,
                    text: detail.level == 1 ? "" : formatMoney(detail.cargo),
                    alignment: "right",
                  },
                  {
                    bold: detail.level == 1,
                    text: detail.level == 1 ? "" : formatMoney(detail.abono),
                    alignment: "right",
                  },
                  {
                    bold: detail.level == 1,
                    text: detail.level == 1 ? "" : formatMoney(saldo),
                    alignment: "right",
                  },
                  {
                    bold: detail.level == 1,
                    text:
                      detail.level == 1
                        ? ""
                        : formatMoney(detail.initial + saldo),
                    alignment: "right",
                  },
                ]);
              }
              values.push([
                {
                  bold: true,
                  text: `*** TOTAL ${m.code} ${m.name} ***`,
                  colSpan: 2,
                },
                {},
                {
                  bold: true,
                  text: formatMoney(m.initial),
                  alignment: "right",
                },
                { bold: true, text: formatMoney(m.cargo), alignment: "right" },
                { bold: true, text: formatMoney(m.abono), alignment: "right" },
                {
                  bold: true,
                  text: formatMoney(msaldo),
                  alignment: "right",
                },
                {
                  bold: true,
                  text: formatMoney(m.initial + msaldo),
                  alignment: "right",
                },
              ]);
            }

            const docDefinition = {
              pageSize: "LETTER",
              pageOrientation: "portrait",
              pageMargins: [15, 60, 15, 40],
              header: getHeader(
                name,
                nit,
                nrc,
                lastDayOfMonth(dateRange),
                "BALANCE DE COMPROBACIÓN"
              ),
              footer: getFooter(),
              content: [
                {
                  fontSize: 9,
                  layout: "noBorders",
                  table: {
                    headerRows: 2,
                    widths: ["12%", "auto", "10%", "9%", "9%", "9%", "10%"],
                    heights: -5,
                    body: [
                      [
                        {
                          text: "CÓDIGO\nDE LA CUENTA",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          text: "NOMBRE\nDE LA CUENTA",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          alignment: "center",
                          text: "BALANCE\nINICIAL",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          alignment: "center",
                          text: "MES ACTUAL",
                          style: "tableHeader",
                          colSpan: 2,
                        },
                        {},
                        {
                          alignment: "center",
                          text: "SALDO DEL\nPERÍODO",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          alignment: "center",
                          text: "SALDO\nACTUAL",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                      ],
                      [
                        {},
                        {},
                        {},
                        {
                          alignment: "center",
                          text: "CARGOS",
                          style: "tableHeader",
                        },
                        {
                          alignment: "center",
                          text: "ABONOS",
                          style: "tableHeader",
                        },
                        {},
                        {},
                      ],
                      ...values,
                    ],
                  },
                },
              ],
              styles: {
                tableHeader: {
                  bold: true,
                  fontSize: 9,
                },
              },
            };
            this.generating = false;
            pdfMake.createPdf(docDefinition).open();
          }
        });
    },
    generateDiarioMayor(dateRange) {
      axios
        .post("/", {
          query: `{
              myCompany { name nit nrc }
              accountingEntryDetails {
                accountingEntry { id date title }
                accountingCatalog { id code name isAcreedora }
                cargo abono
              }
            }`,
        })
        .then((res) => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            const details = data.accountingEntryDetails;
            const { name, nit, nrc } = data.myCompany;

            // Obtiene los detalles para el rango soliticado
            const rangeDetails = details.filter((detail) => {
              return (
                isSameMonth(
                  addDays(new Date(detail.accountingEntry.date), 1),
                  this.reportsForm.dateRange
                ) &&
                isSameYear(
                  addDays(new Date(detail.accountingEntry.date), 1),
                  this.reportsForm.dateRange
                )
              );
            });

            // Obtiene los detalles para el rango previo al solicitado
            const previousDetails = details.filter((detail) => {
              return isBefore(
                addDays(new Date(detail.accountingEntry.date), 1),
                this.reportsForm.dateRange
              );
            });

            // Define los catalogos afectados solamente
            const affectedCatalog = R.compose(
              R.sortBy(R.prop("code")),
              R.uniqBy(R.prop("id")),
              R.map(R.prop("accountingCatalog"))
            )(rangeDetails);

            const values = [];
            const emptyRow = [{}, {}, {}, {}, {}, {}];

            // Recorre los catalogos afectados
            for (const catalog of affectedCatalog) {
              values.push(emptyRow);

              // Obtiene el detalle por catalogo afectado dentro del rango seleccionado
              const filteredPreviousDetails = previousDetails
                .filter((f) => f.accountingCatalog.id === catalog.id)
                .map((f) => {
                  return {
                    abono: f.abono,
                    cargo: f.cargo,
                    date: f.accountingEntry.date,
                    isAcreedora: f.accountingCatalog.isAcreedora,
                  };
                });
              // Obtiene abono y cargo totales
              const catalogInitials = !R.isEmpty(filteredPreviousDetails)
                ? filteredPreviousDetails.reduce((a, b) => {
                    const firstAbono = R.isNil(a.abono)
                      ? 0
                      : parseFloat(a.abono);
                    const secondAbono = R.isNil(b.abono)
                      ? 0
                      : parseFloat(b.abono);

                    const firstCargo = R.isNil(a.cargo)
                      ? 0
                      : parseFloat(a.cargo);
                    const secondCargo = R.isNil(b.cargo)
                      ? 0
                      : parseFloat(b.cargo);

                    return {
                      abono: firstAbono + secondAbono,
                      cargo: firstCargo + secondCargo,
                    };
                  })
                : {
                    abono: 0,
                    cargo: 0,
                  };

              // Obtiene el detalle por catalogo afectado dentro del rango seleccionado
              const filteredRangeDetails = rangeDetails
                .filter((f) => f.accountingCatalog.id === catalog.id)
                .map((f) => {
                  return {
                    abono: f.abono,
                    cargo: f.cargo,
                    date: f.accountingEntry.date,
                    isAcreedora: f.accountingCatalog.isAcreedora,
                  };
                });

              // Obtiene abono y cargo totales
              const catalogTotals = filteredRangeDetails.reduce((a, b) => {
                const firstAbono = R.isNil(a.abono) ? 0 : parseFloat(a.abono);
                const secondAbono = R.isNil(b.abono) ? 0 : parseFloat(b.abono);

                const firstCargo = R.isNil(a.cargo) ? 0 : parseFloat(a.cargo);
                const secondCargo = R.isNil(b.cargo) ? 0 : parseFloat(b.cargo);

                return {
                  abono: firstAbono + secondAbono,
                  cargo: firstCargo + secondCargo,
                };
              });

              const saldoInitial = catalog.isAcreedora
                ? catalogInitials.abono - catalogInitials.cargo
                : catalogInitials.cargo - catalogInitials.abono;

              // Agrega el salgo inicial por catalogo afectado
              values.push([
                {
                  bold: true,
                  text: catalog.code,
                },
                {
                  bold: true,
                  text: catalog.name,
                },
                {
                  bold: true,
                  text: "Saldo inicial",
                  alignment: "center",
                },
                {},
                {},
                {
                  bold: true,
                  text: formatMoney(saldoInitial),
                  alignment: "right",
                },
              ]);

              // Agrupa los catalogos por fecha y obtiene su abono, cargo, fecha y si es acreedora
              let groupedCatalog = R.groupBy(R.prop("date"))(
                filteredRangeDetails
              );
              groupedCatalog = Object.keys(groupedCatalog).map((o) => {
                return groupedCatalog[o].reduce((a, b) => {
                  const firstAbono = R.isNil(a.abono) ? 0 : parseFloat(a.abono);
                  const secondAbono = R.isNil(b.abono)
                    ? 0
                    : parseFloat(b.abono);

                  const firstCargo = R.isNil(a.cargo) ? 0 : parseFloat(a.cargo);
                  const secondCargo = R.isNil(b.cargo)
                    ? 0
                    : parseFloat(b.cargo);

                  return {
                    abono: firstAbono + secondAbono,
                    cargo: firstCargo + secondCargo,
                    date: o,
                    isAcreedora: a.isAcreedora,
                  };
                });
              });

              // Ordena por fecha
              groupedCatalog = R.sortBy(R.prop("date"))(groupedCatalog);

              const saldoAccum = saldoInitial;
              for (const detail of groupedCatalog) {
                const saldoRango = detail.isAcreedora
                  ? detail.abono - detail.cargo
                  : detail.cargo - detail.abono;

                saldoAccum += saldoRango;
                values.push([
                  {},
                  { text: "MOVIMIENTOS DEL DÍA" },
                  {
                    text: format(
                      addDays(new Date(detail.date), 1),
                      "dd/MM/yyyy"
                    ),
                    alignment: "center",
                  },
                  {
                    text: formatMoney(R.isNil(detail.cargo) ? 0 : detail.cargo),
                    alignment: "right",
                  },
                  {
                    text: formatMoney(R.isNil(detail.abono) ? 0 : detail.abono),
                    alignment: "right",
                  },
                  {
                    text: formatMoney(saldoAccum),
                    alignment: "right",
                  },
                ]);
              }

              values.push([
                {},
                {},
                {
                  bold: true,
                  text: "Saldo actual",
                  alignment: "center",
                },
                {
                  bold: true,
                  text: formatMoney(catalogTotals.cargo),
                  alignment: "right",
                },
                {
                  bold: true,
                  text: formatMoney(catalogTotals.abono),
                  alignment: "right",
                },
                {
                  bold: true,
                  text: formatMoney(saldoAccum),
                  alignment: "right",
                },
              ]);
            }

            const docDefinition = {
              pageSize: "LETTER",
              pageOrientation: "portrait",
              pageMargins: [15, 60, 15, 40],
              header: getHeader(
                name,
                nit,
                nrc,
                lastDayOfMonth(dateRange),
                "LIBRO DIARIO MAYOR",
                "month"
              ),
              footer: getFooter(),
              content: [
                {
                  fontSize: 9,
                  layout: "noBorders",
                  table: {
                    headerRows: 2,
                    widths: ["12%", "auto", "10%", "9%", "9%", "10%"],
                    heights: -5,
                    body: [
                      [
                        {
                          text: "CÓD. DE LA CUENTA",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          text: "NOMBRE DE LA CUENTA",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          alignment: "center",
                          text: "FECHA DE\nPARTIDA",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          alignment: "center",
                          text: "MES ACTUAL",
                          style: "tableHeader",
                          colSpan: 2,
                        },
                        {},
                        {
                          alignment: "center",
                          text: "SALDO DEL\nPERÍODO",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                      ],
                      [
                        {},
                        {},
                        {},
                        {
                          alignment: "center",
                          text: "CARGOS",
                          style: "tableHeader",
                        },
                        {
                          alignment: "center",
                          text: "ABONOS",
                          style: "tableHeader",
                        },
                        {},
                      ],
                      ...values,
                    ],
                  },
                },
              ],
              styles: {
                tableHeader: {
                  bold: true,
                  fontSize: 9,
                },
              },
            };
            this.generating = false;
            pdfMake.createPdf(docDefinition).open();
          }
        });
    },
    generateLibroAuxiliares(dateRange) {
      axios
        .post("/", {
          query: `{
              myCompany { name nit nrc }
              accountingEntryDetails {
                accountingEntry { id date title serie }
                accountingCatalog { id code name isAcreedora }
                cargo abono concept
              }
            }`,
        })
        .then((res) => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            const details = data.accountingEntryDetails;
            const { name, nit, nrc } = data.myCompany;

            // Obtiene los detalles para el rango soliticado
            const rangeDetails = details.filter((detail) => {
              return (
                isSameMonth(
                  addDays(new Date(detail.accountingEntry.date), 1),
                  this.reportsForm.dateRange
                ) &&
                isSameYear(
                  addDays(new Date(detail.accountingEntry.date), 1),
                  this.reportsForm.dateRange
                )
              );
            });

            // Obtiene los detalles para el rango previo al solicitado
            const previousDetails = details.filter((detail) => {
              return isBefore(
                addDays(new Date(detail.accountingEntry.date), 1),
                this.reportsForm.dateRange
              );
            });

            // Define los catalogos afectados solamente
            const affectedCatalog = R.compose(
              R.sortBy(R.prop("code")),
              R.uniqBy(R.prop("id")),
              R.map(R.prop("accountingCatalog"))
            )(rangeDetails);

            const values = [];
            const emptyRow = [{}, {}, {}, {}, {}, {}];

            // Recorre los catalogos afectados
            for (const catalog of affectedCatalog) {
              values.push(emptyRow);

              // Obtiene el detalle por catalogo afectado dentro del rango seleccionado
              const filteredPreviousDetails = previousDetails
                .filter((f) => f.accountingCatalog.id === catalog.id)
                .map((f) => {
                  return {
                    abono: f.abono,
                    cargo: f.cargo,
                    date: f.accountingEntry.date,
                    isAcreedora: f.accountingCatalog.isAcreedora,
                  };
                });
              // Obtiene abono y cargo totales
              const catalogInitials = !R.isEmpty(filteredPreviousDetails)
                ? filteredPreviousDetails.reduce((a, b) => {
                    const firstAbono = R.isNil(a.abono)
                      ? 0
                      : parseFloat(a.abono);
                    const secondAbono = R.isNil(b.abono)
                      ? 0
                      : parseFloat(b.abono);

                    const firstCargo = R.isNil(a.cargo)
                      ? 0
                      : parseFloat(a.cargo);
                    const secondCargo = R.isNil(b.cargo)
                      ? 0
                      : parseFloat(b.cargo);

                    return {
                      abono: firstAbono + secondAbono,
                      cargo: firstCargo + secondCargo,
                    };
                  })
                : {
                    abono: 0,
                    cargo: 0,
                  };

              // Obtiene el detalle por catalogo afectado dentro del rango seleccionado
              const filteredRangeDetails = rangeDetails
                .filter((f) => f.accountingCatalog.id === catalog.id)
                .map((f) => {
                  return {
                    serie: f.accountingEntry.serie,
                    concept: f.concept,
                    abono: f.abono,
                    cargo: f.cargo,
                    date: f.accountingEntry.date,
                    isAcreedora: f.accountingCatalog.isAcreedora,
                  };
                });

              // Obtiene abono y cargo totales
              const catalogTotals = filteredRangeDetails.reduce((a, b) => {
                const firstAbono = R.isNil(a.abono) ? 0 : parseFloat(a.abono);
                const secondAbono = R.isNil(b.abono) ? 0 : parseFloat(b.abono);

                const firstCargo = R.isNil(a.cargo) ? 0 : parseFloat(a.cargo);
                const secondCargo = R.isNil(b.cargo) ? 0 : parseFloat(b.cargo);

                return {
                  abono: firstAbono + secondAbono,
                  cargo: firstCargo + secondCargo,
                };
              });

              const saldoInitial = catalog.isAcreedora
                ? catalogInitials.abono - catalogInitials.cargo
                : catalogInitials.cargo - catalogInitials.abono;

              // Agrega el salgo inicial por catalogo afectado
              values.push([
                {
                  bold: true,
                  text: catalog.code,
                },
                {
                  bold: true,
                  text: catalog.name,
                },
                {
                  bold: true,
                  text: "Saldo inicial",
                  alignment: "center",
                },
                {},
                {},
                {
                  bold: true,
                  text: formatMoney(saldoInitial),
                  alignment: "right",
                },
              ]);

              // Ordena por fecha
              const groupedCatalog = R.sortBy(R.prop("date"))(
                filteredRangeDetails
              );

              const saldoAccum = saldoInitial;
              for (const detail of groupedCatalog) {
                const saldoRango = detail.isAcreedora
                  ? detail.abono - detail.cargo
                  : detail.cargo - detail.abono;

                saldoAccum += saldoRango;
                values.push([
                  { text: `Partida #${detail.serie}`, alignment: "right" },
                  { text: detail.concept },
                  {
                    text: format(
                      addDays(new Date(detail.date), 1),
                      "dd/MM/yyyy"
                    ),
                    alignment: "center",
                  },
                  {
                    text: formatMoney(R.isNil(detail.cargo) ? 0 : detail.cargo),
                    alignment: "right",
                  },
                  {
                    text: formatMoney(R.isNil(detail.abono) ? 0 : detail.abono),
                    alignment: "right",
                  },
                  {
                    text: formatMoney(saldoAccum),
                    alignment: "right",
                  },
                ]);
              }

              values.push([
                {},
                {},
                {
                  bold: true,
                  text: "Saldo actual",
                  alignment: "center",
                },
                {
                  bold: true,
                  text: formatMoney(catalogTotals.cargo),
                  alignment: "right",
                },
                {
                  bold: true,
                  text: formatMoney(catalogTotals.abono),
                  alignment: "right",
                },
                {
                  bold: true,
                  text: formatMoney(saldoAccum),
                  alignment: "right",
                },
              ]);
            }

            const docDefinition = {
              pageSize: "LETTER",
              pageOrientation: "portrait",
              pageMargins: [20, 60, 20, 40],
              header: getHeader(
                name,
                nit,
                nrc,
                lastDayOfMonth(dateRange),
                "LIBRO DE AUXILIARES",
                "month"
              ),
              footer: getFooter(),
              content: [
                {
                  fontSize: 9,
                  layout: "noBorders",
                  table: {
                    headerRows: 2,
                    widths: ["12%", "auto", "10%", "9%", "9%", "10%"],
                    heights: -5,
                    body: [
                      [
                        {
                          text: "CÓD. DE LA CUENTA\nN° DE PARTIDA",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          text: "NOMBRE DE LA CUENTA\nCONCEPTO",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          alignment: "center",
                          text: "FECHA DE\nPARTIDA",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          alignment: "center",
                          text: "MES ACTUAL",
                          style: "tableHeader",
                          colSpan: 2,
                        },
                        {},
                        {
                          alignment: "center",
                          text: "SALDO DEL\nPERÍODO",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                      ],
                      [
                        {},
                        {},
                        {},
                        {
                          alignment: "center",
                          text: "CARGOS",
                          style: "tableHeader",
                        },
                        {
                          alignment: "center",
                          text: "ABONOS",
                          style: "tableHeader",
                        },
                        {},
                      ],
                      ...values,
                    ],
                  },
                },
              ],
              styles: {
                tableHeader: {
                  bold: true,
                  fontSize: 9,
                },
              },
            };
            this.generating = false;
            pdfMake.createPdf(docDefinition).open();
          }
        });
    },
    generateDetalleCuentas(dateRange, catalogsToFilter, catalogs) {
      axios
        .post("/", {
          query: `{
              myCompany { name nit nrc }
              accountingEntryDetails {
                accountingEntry { id date title serie }
                accountingCatalog { id code name isAcreedora }
                cargo abono concept
              }
            }`,
        })
        .then((res) => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            const details = data.accountingEntryDetails.filter((d) =>
              R.includes(d.accountingCatalog.id, catalogsToFilter)
            );
            const { name, nit, nrc } = data.myCompany;

            const selectedCatalogs = catalogsToFilter
              .map((f) => {
                const code = catalogs.find((c) => c.id === f).code;
                const name = catalogs.find((c) => c.id === f).name;
                const isAcreedora = catalogs.find((c) => c.id === f)
                  .isAcreedora;
                return {
                  id: f,
                  code,
                  name,
                  isAcreedora,
                };
              })
              .map((f) => {
                const rangeDetails = details
                  .filter((detail) => {
                    return (
                      isAfter(
                        addDays(new Date(detail.accountingEntry.date), 1),
                        this.reportsForm.dateRange[0]
                      ) &&
                      isBefore(
                        addDays(new Date(detail.accountingEntry.date), 1),
                        addDays(this.reportsForm.dateRange[1], 1)
                      ) &&
                      detail.accountingCatalog.id === f.id
                    );
                  })
                  .map((detail) => {
                    return {
                      abono: detail.abono,
                      cargo: detail.cargo,
                      concept: detail.concept,
                      serie: detail.accountingEntry.serie,
                      date: detail.accountingEntry.date,
                    };
                  });
                const previousDetails = details
                  .filter((detail) => {
                    return (
                      isBefore(
                        addDays(new Date(detail.accountingEntry.date), 1),
                        this.reportsForm.dateRange[0]
                      ) && detail.accountingCatalog.id === f.id
                    );
                  })
                  .map((detail) => {
                    return {
                      abono: detail.abono,
                      cargo: detail.cargo,
                      concept: detail.concept,
                      date: detail.accountingEntry.date,
                    };
                  });

                const initials = R.isEmpty(previousDetails)
                  ? { cargo: 0, abono: 0 }
                  : previousDetails.reduce((a, b) => {
                      const firstAbono = R.isNil(a.abono)
                        ? 0
                        : parseFloat(a.abono);
                      const secondAbono = R.isNil(b.abono)
                        ? 0
                        : parseFloat(b.abono);

                      const firstCargo = R.isNil(a.cargo)
                        ? 0
                        : parseFloat(a.cargo);
                      const secondCargo = R.isNil(b.cargo)
                        ? 0
                        : parseFloat(b.cargo);

                      return {
                        abono: firstAbono + secondAbono,
                        cargo: firstCargo + secondCargo,
                      };
                    });
                return {
                  ...f,
                  initials,
                  rangeDetails: R.sortBy(R.prop("date"))(rangeDetails),
                };
              });

            const values = [];
            const emptyRow = [{}, {}, {}, {}];

            // Recorre los catalogos afectados
            for (const catalog of selectedCatalogs) {
              values.push(emptyRow);

              const saldoInitial = catalog.isAcreedora
                ? catalog.initials.abono - catalog.initials.cargo
                : catalog.initials.cargo - catalog.initials.abono;

              // Agrega el salgo inicial por catalogo afectado
              values.push([
                {
                  bold: true,
                  text: catalog.code,
                },
                {
                  bold: true,
                  text: catalog.name,
                },
                {
                  bold: true,
                  text: "Saldo inicial",
                  alignment: "center",
                },
                {
                  bold: true,
                  text: formatMoney(saldoInitial),
                  alignment: "right",
                },
              ]);

              const saldoAccum = saldoInitial;
              for (const detail of catalog.rangeDetails) {
                const saldoRango = catalog.isAcreedora
                  ? detail.abono - detail.cargo
                  : detail.cargo - detail.abono;

                saldoAccum += saldoRango;
              }

              const catalogTotals = R.isEmpty(catalog.rangeDetails)
                ? { cargo: 0, abono: 0 }
                : catalog.rangeDetails.reduce((a, b) => {
                    const firstAbono = R.isNil(a.abono)
                      ? 0
                      : parseFloat(a.abono);
                    const secondAbono = R.isNil(b.abono)
                      ? 0
                      : parseFloat(b.abono);

                    const firstCargo = R.isNil(a.cargo)
                      ? 0
                      : parseFloat(a.cargo);
                    const secondCargo = R.isNil(b.cargo)
                      ? 0
                      : parseFloat(b.cargo);

                    return {
                      abono: firstAbono + secondAbono,
                      cargo: firstCargo + secondCargo,
                    };
                  });

              values.push([
                {},
                {},
                {
                  bold: true,
                  text: "Saldo actual",
                  alignment: "center",
                },
                {
                  bold: true,
                  text: formatMoney(saldoAccum),
                  alignment: "right",
                },
              ]);
            }

            const docDefinition = {
              pageSize: "LETTER",
              pageOrientation: "portrait",
              pageMargins: [20, 60, 20, 40],
              header: getHeader(
                name,
                nit,
                nrc,
                dateRange,
                "DETALLE DE CUENTAS",
                "period"
              ),
              footer: getFooter(),
              content: [
                {
                  fontSize: 9,
                  layout: "noBorders",
                  table: {
                    headerRows: 1,
                    widths: ["20%", "60%", "10%", "10%"],
                    heights: -5,
                    body: [
                      [
                        {
                          text: "CÓD. DE LA CUENTA",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          text: "NOMBRE DE LA CUENTA",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          alignment: "center",
                          text: "SALDO DEL\nPERÍODO",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                      ],
                      ...values,
                    ],
                  },
                },
              ],
              styles: {
                tableHeader: {
                  bold: true,
                  fontSize: 9,
                },
              },
            };
            this.generating = false;
            pdfMake.createPdf(docDefinition).open();
          }
        });
    },
    generateMovimientoCuentas(dateRange, catalogsToFilter, catalogs) {
      axios
        .post("/", {
          query: `{
              myCompany { name nit nrc }
              accountingEntryDetails {
                accountingEntry { id date title serie }
                accountingCatalog { id code name isAcreedora }
                cargo abono concept
              }
            }`,
        })
        .then((res) => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            const details = data.accountingEntryDetails.filter((d) =>
              R.includes(d.accountingCatalog.id, catalogsToFilter)
            );
            const { name, nit, nrc } = data.myCompany;

            const selectedCatalogs = catalogsToFilter
              .map((f) => {
                const code = catalogs.find((c) => c.id === f).code;
                const name = catalogs.find((c) => c.id === f).name;
                const isAcreedora = catalogs.find((c) => c.id === f)
                  .isAcreedora;
                return {
                  id: f,
                  code,
                  name,
                  isAcreedora,
                };
              })
              .map((f) => {
                const rangeDetails = details
                  .filter((detail) => {
                    return (
                      isAfter(
                        addDays(new Date(detail.accountingEntry.date), 1),
                        this.reportsForm.dateRange[0]
                      ) &&
                      isBefore(
                        addDays(new Date(detail.accountingEntry.date), 1),
                        addDays(this.reportsForm.dateRange[1], 1)
                      ) &&
                      detail.accountingCatalog.id === f.id
                    );
                  })
                  .map((detail) => {
                    return {
                      abono: detail.abono,
                      cargo: detail.cargo,
                      concept: detail.concept,
                      serie: detail.accountingEntry.serie,
                      date: detail.accountingEntry.date,
                    };
                  });
                const previousDetails = details
                  .filter((detail) => {
                    return (
                      isBefore(
                        addDays(new Date(detail.accountingEntry.date), 1),
                        this.reportsForm.dateRange[0]
                      ) && detail.accountingCatalog.id === f.id
                    );
                  })
                  .map((detail) => {
                    return {
                      abono: detail.abono,
                      cargo: detail.cargo,
                      concept: detail.concept,
                      date: detail.accountingEntry.date,
                    };
                  });

                const initials = R.isEmpty(previousDetails)
                  ? { cargo: 0, abono: 0 }
                  : previousDetails.reduce((a, b) => {
                      const firstAbono = R.isNil(a.abono)
                        ? 0
                        : parseFloat(a.abono);
                      const secondAbono = R.isNil(b.abono)
                        ? 0
                        : parseFloat(b.abono);

                      const firstCargo = R.isNil(a.cargo)
                        ? 0
                        : parseFloat(a.cargo);
                      const secondCargo = R.isNil(b.cargo)
                        ? 0
                        : parseFloat(b.cargo);

                      return {
                        abono: firstAbono + secondAbono,
                        cargo: firstCargo + secondCargo,
                      };
                    });
                return {
                  ...f,
                  initials,
                  rangeDetails: R.sortBy(R.prop("date"))(rangeDetails),
                };
              });

            const values = [];
            const emptyRow = [{}, {}, {}, {}, {}, {}];

            // Recorre los catalogos afectados
            for (const catalog of selectedCatalogs) {
              values.push(emptyRow);

              const saldoInitial = catalog.isAcreedora
                ? catalog.initials.abono - catalog.initials.cargo
                : catalog.initials.cargo - catalog.initials.abono;

              // Agrega el salgo inicial por catalogo afectado
              values.push([
                {
                  bold: true,
                  text: catalog.code,
                },
                {
                  bold: true,
                  text: catalog.name,
                },
                {
                  bold: true,
                  text: "Saldo inicial",
                  alignment: "center",
                },
                {},
                {},
                {
                  bold: true,
                  text: formatMoney(saldoInitial),
                  alignment: "right",
                },
              ]);

              const saldoAccum = saldoInitial;
              for (const detail of catalog.rangeDetails) {
                const saldoRango = catalog.isAcreedora
                  ? detail.abono - detail.cargo
                  : detail.cargo - detail.abono;

                saldoAccum += saldoRango;
                values.push([
                  { text: `Partida #${detail.serie}`, alignment: "right" },
                  { text: detail.concept },
                  {
                    text: format(
                      addDays(new Date(detail.date), 1),
                      "dd/MM/yyyy"
                    ),
                    alignment: "center",
                  },
                  {
                    text: formatMoney(R.isNil(detail.cargo) ? 0 : detail.cargo),
                    alignment: "right",
                  },
                  {
                    text: formatMoney(R.isNil(detail.abono) ? 0 : detail.abono),
                    alignment: "right",
                  },
                  {
                    text: formatMoney(saldoAccum),
                    alignment: "right",
                  },
                ]);
              }

              const catalogTotals = R.isEmpty(catalog.rangeDetails)
                ? { cargo: 0, abono: 0 }
                : catalog.rangeDetails.reduce((a, b) => {
                    const firstAbono = R.isNil(a.abono)
                      ? 0
                      : parseFloat(a.abono);
                    const secondAbono = R.isNil(b.abono)
                      ? 0
                      : parseFloat(b.abono);

                    const firstCargo = R.isNil(a.cargo)
                      ? 0
                      : parseFloat(a.cargo);
                    const secondCargo = R.isNil(b.cargo)
                      ? 0
                      : parseFloat(b.cargo);

                    return {
                      abono: firstAbono + secondAbono,
                      cargo: firstCargo + secondCargo,
                    };
                  });

              values.push([
                {},
                {},
                {
                  bold: true,
                  text: "Saldo actual",
                  alignment: "center",
                },
                {
                  bold: true,
                  text: formatMoney(catalogTotals.cargo),
                  alignment: "right",
                },
                {
                  bold: true,
                  text: formatMoney(catalogTotals.abono),
                  alignment: "right",
                },
                {
                  bold: true,
                  text: formatMoney(saldoAccum),
                  alignment: "right",
                },
              ]);
            }

            const docDefinition = {
              pageSize: "LETTER",
              pageOrientation: "portrait",
              pageMargins: [20, 60, 20, 40],
              header: getHeader(
                name,
                nit,
                nrc,
                dateRange,
                "DETALLE DE MOVIMIENTO DE CUENTAS",
                "period"
              ),
              footer: getFooter(),
              content: [
                {
                  fontSize: 9,
                  layout: "noBorders",
                  table: {
                    headerRows: 2,
                    widths: ["12%", "52%", "9%", "9%", "9%", "9%"],
                    heights: -5,
                    body: [
                      [
                        {
                          text: "CÓD. DE LA CUENTA\nN° DE PARTIDA",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          text: "NOMBRE DE LA CUENTA\nCONCEPTO",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          alignment: "center",
                          text: "FECHA DE\nPARTIDA",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                        {
                          alignment: "center",
                          text: "MES ACTUAL",
                          style: "tableHeader",
                          colSpan: 2,
                        },
                        {},
                        {
                          alignment: "center",
                          text: "SALDO DEL\nPERÍODO",
                          style: "tableHeader",
                          rowSpan: 2,
                        },
                      ],
                      [
                        {},
                        {},
                        {},
                        {
                          alignment: "center",
                          text: "CARGOS",
                          style: "tableHeader",
                        },
                        {
                          alignment: "center",
                          text: "ABONOS",
                          style: "tableHeader",
                        },
                        {},
                      ],
                      ...values,
                    ],
                  },
                },
              ],
              styles: {
                tableHeader: {
                  bold: true,
                  fontSize: 9,
                },
              },
            };
            this.generating = false;
            pdfMake.createPdf(docDefinition).open();
          }
        });
    },
    generateCatalogoCuentas() {
      axios
        .post("/", {
          query: `{
              myCompany { name nit nrc }
              catalogs { id code name subCatalogs { id } level }
            }`,
        })
        .then((res) => {
          const { data, errors } = res.data;
          if (R.isNil(errors)) {
            const catalogs = data.catalogs;
            const { name, nit, nrc } = data.myCompany;

            const values = catalogs.map((c) => {
              return [
                { bold: c.level === 1, text: c.code },
                { bold: c.level === 1, text: c.name },
                {
                  bold: c.level === 1,
                  text: c.subCatalogs.length > 0 ? "N" : "S",
                  alignment: "center",
                },
              ];
            });

            const docDefinition = {
              pageSize: "LETTER",
              pageOrientation: "portrait",
              pageMargins: [20, 60, 20, 40],
              header: getHeader(name, nit, nrc, null, "CATÁLOGO DE CUENTAS"),
              footer: getFooter(),
              content: [
                {
                  fontSize: 9,
                  layout: "noBorders",
                  table: {
                    headerRows: 1,
                    widths: ["20%", "70%", "10%"],
                    heights: -5,
                    body: [
                      [
                        {
                          text: "CUENTA",
                          style: "tableHeader",
                        },
                        {
                          text: "DESCRIPCIÓN LA CUENTA",
                          style: "tableHeader",
                        },
                        {
                          alignment: "center",
                          text: "ASIGNABLE",
                          style: "tableHeader",
                        },
                      ],
                      ...values,
                    ],
                  },
                },
              ],
              styles: {
                tableHeader: {
                  bold: true,
                  fontSize: 9,
                },
              },
            };
            this.generating = false;
            pdfMake.createPdf(docDefinition).open();
          }
        });
    },
    cancel() {
      this.$confirm("¿Estás seguro que deseas salir?", "Confirmación", {
        confirmButtonText: "Si, salir",
        cancelButtonText: "Cancelar",
        type: "warning",
      }).then(() => {
        this.$router.push("/entries");
      });
    },
  },
};
</script>
