<template>
  <Content>
    <el-tabs v-model="activeTab">
      <el-tab-pane label="Catálogo de cuentas" name="catalog">
        <AccountingSettingsCatalog :catalog="rawCatalog" />
      </el-tab-pane>
      <el-tab-pane label="Balance general" name="balance-general">
        <AccountingSettingsBalanceGeneral :catalog="rawCatalog" :settings="accountingSettings" />
      </el-tab-pane>
      <el-tab-pane label="Estado de resultados" name="estado-resultados">
        <AccountingSettingsEstadoResultados :catalog="rawCatalog" :settings="accountingSettings" />
      </el-tab-pane>
      <!-- <el-tab-pane label="Firmas" name="third">
        <AccountingSettingsEntries />
      </el-tab-pane>-->
      <!-- <el-tab-pane label="Tipos de partida" name="types">
        <AccountingSettingsEntries />
      </el-tab-pane>-->
    </el-tabs>
  </Content>
</template>

<script>
import Content from "./../../layout/Content";
import AccountingSettingsCatalog from "./AccountingSettingsCatalog";
import AccountingSettingsEntries from "./AccountingSettingsEntries";
import AccountingSettingsBalanceGeneral from "./AccountingSettingsBalanceGeneral";
import AccountingSettingsEstadoResultados from "./AccountingSettingsEstadoResultados";
import axios from "axios";
import * as R from "ramda";

export default {
  name: "AccountingSettings",
  components: {
    Content,
    AccountingSettingsCatalog,
    AccountingSettingsEntries,
    AccountingSettingsBalanceGeneral,
    AccountingSettingsEstadoResultados,
  },
  beforeRouteEnter(to, from, next) {
    NProgress.start();
    axios
      .post("/", {
        query: `{
          catalogs { id code name description isAcreedora isBalance level subCatalogs { id } parentCatalog { id code name } }
          accountingSettings { id type settings }
        }`,
      })
      .then((res) => {
        const { data, errors } = res.data;
        if (R.isNil(errors)) {
          next((vm) => vm.setData(data.catalogs, data.accountingSettings));
        } else {
          next(new Error(errors[0].message));
        }
      })
      .catch((err) => {
        next((vm) => vm.$message.error(vm.$store.state.error.queryDb));
      });
  },
  data() {
    return {
      activeTab: "catalog",
      rawCatalog: [],
      accountingSettings: [],
    };
  },
  methods: {
    setData(catalog, accountingSettings) {
      if (this.$route.query.tab != null) {
        this.activeTab = this.$route.query.tab;
      }
      this.rawCatalog = catalog;
      this.accountingSettings = accountingSettings;
    },
  },
};
</script>
