<template>
  <div class="flex">
    <Menu page-name="Proveedores" :icon="icon" :menu="menu"/>
    <router-view class="flex h-full w-full"></router-view>
  </div>
</template>

<script>
import Menu from "./../layout/Menu";

export default {
  name: "Providers",
  components: { Menu },
  data() {
    return {
      icon:
        '<path d="M 20 5 L 20 6 L 20 10.46875 L 17 12.25 L 17 11 L 17 9.21875 L 15.5 10.15625 L 12 12.25 L 12 11 L 12 9.21875 L 10.5 10.15625 L 5.5 13.15625 L 5 13.4375 L 5 14 L 5 26 L 5 27 L 6 27 L 11 27 L 13 27 L 18 27 L 22 27 L 26 27 L 27 27 L 27 26 L 27 6 L 27 5 L 26 5 L 21 5 L 20 5 z M 22 7 L 25 7 L 25 25 L 22 25 L 18 25 L 13 25 L 11 25 L 7 25 L 7 14.53125 L 10 12.75 L 10 14 L 10 15.78125 L 11.5 14.84375 L 15 12.75 L 15 14 L 15 15.78125 L 16.5 14.84375 L 21.5 11.84375 L 22 11.5625 L 22 11 L 22 7 z M 9 17 L 9 19 L 11 19 L 11 17 L 9 17 z M 13 17 L 13 19 L 15 19 L 15 17 L 13 17 z M 17 17 L 17 19 L 19 19 L 19 17 L 17 17 z M 21 17 L 21 19 L 23 19 L 23 17 L 21 17 z M 9 21 L 9 23 L 11 23 L 11 21 L 9 21 z M 13 21 L 13 23 L 15 23 L 15 21 L 13 21 z M 17 21 L 17 23 L 19 23 L 19 21 L 17 21 z M 21 21 L 21 23 L 23 23 L 23 21 L 21 21 z"/>',
      menu: [
        {
          name: "Nuevo proveedor",
          icon: "plus",
          path: "/providers/new"
        },
        {
          name: "Listado de proveedores",
          icon: "list-ul",
          path: "/providers"
        }
      ]
    };
  }
};
</script>
