<template>
  <div>
    <Layout v-if="$store.state.isLogged"/>
    <Login v-else/>
  </div>
</template>

<script>
import Login from "./views/login/Login";
import Layout from "./views/Layout";

export default {
  name: "App",
  components: { Login, Layout }
};
</script>
