<template>
  <div class="flex w-screen h-screen">
    <div class="w-1/2 flex items-center justify-center">
      <el-form
        class="w-90 flex flex-col"
        @submit.native.prevent="processLogin(email, password)"
      >
        <div class="flex flex-row items-center justify-center h-15 mb-10">
          <img
            class="h-full"
            src="./../../assets/logo_h_black.png"
            alt="Openbox Cloud"
          />
        </div>
        <span class="w-full text-center text-2xl font-semibold text-gray-900"
          >Iniciar sesión</span
        >
        <div class="mt-12" v-if="logginError">
          <el-alert
            :title="logginErrorMessage"
            type="error"
            show-icon
            :closable="false"
          />
        </div>
        <div class="my-12">
          <input
            class="w-full text-sm py-2 border-b"
            placeholder="Correo"
            type="email"
            v-model="email"
          />
          <input
            class="w-full text-sm py-2"
            placeholder="Contraseña"
            type="password"
            v-model="password"
          />
          <!-- <div class="flex items-center justify-between mt-10">
            <el-checkbox>Recordarme</el-checkbox>
            <a href="javascript:" class="text-xs text-blue-900"
              >Olvidé mi contraseña</a
            >
          </div> -->
        </div>
        <div class="flex justify-center">
          <el-button
            class="w-52"
            type="primary"
            native-type="submit"
            :loading="loggingIn"
            >Iniciar sesión</el-button
          >
        </div>
      </el-form>
    </div>
    <div class="w-1/2 flex items-center justify-center bg-blue-900 background">
      <span
        class="w-125 text-base text-white font-normal text-justify leading-normal"
      >
        Openbox Cloud es un sistema de soporte para la gestión empresarial
        desarrollado por AP Technology, el cual permite a sus usuarios tener
        acceso a diferentes herramientas que le brindaran soporte en el día a
        día de sus operaciones o administración de personal y/o recursos. Para
        mayor informacion de lo que puedes hacer con Openbox Cloud haz
        <a href="javascript:;" class="no-underline text-white border-b"
          >clic Aquí</a
        >.
      </span>
    </div>
  </div>
</template>

<script>
import axios from "axios";
const R = require("ramda");

export default {
  name: "Login",
  data() {
    return {
      loggingIn: false,
      logginError: false,
      logginErrorMessage: "",
      email: "",
      password: "",
    };
  },
  methods: {
    processLogin(email, password) {
      this.logginError = false;
      if (R.isEmpty(email) || R.isEmpty(password)) {
        this.logginError = true;
        this.logginErrorMessage = "Se requiere usuario y contraseña.";
        return false;
      }
      this.loggingIn = true;
      axios
        .post("/", {
          query: ` mutation
          {
            login( email: "${email}", password: "${password}" )
            {
              token
              cid
              bid
              user {
                id
                unique
                names
                lastnames
                email
                changePassword
                avatarURL
                profile {
                  id
                  name
                  companies { id name }
                  branches { id name }
                  accesses {
                    id
                    permissions
                    module { id name }
                    company { id name }
                    branch { id name }
                  }
                }
              }
            }
          }`,
        })
        .then((res) => {
          const { data, errors } = res;
          if (!R.isNil(errors)) {
            this.logginError = true;
            this.logginErrorMessage = errors[0].message;
          } else {
            this.$store.dispatch("processLogin", data.data.login);
            this.logginErrorMessage = "Iniciando Sesión";
          }
        })
        .catch(console.log)
        .then((alw) => (this.loggingIn = false));
    },
  },
};
</script>

<style lang="scss" scoped>
.background {
  background: url("./../../assets/images/backgrounds/bg_transparent.png")
    no-repeat;
  background-size: 150%;
}
</style>
