<template>
  <div class="flex">
    <Menu page-name="Servicios" :icon="icon" :menu="menu"/>
    <router-view class="flex h-full w-full"></router-view>
  </div>
</template>

<script>
import Menu from "./../layout/Menu";

export default {
  name: "Services",
  components: { Menu },
  data() {
    return {
      icon:
        '<path d="M 4 4 L 4 5 L 4 23 L 4 24 L 5 24 L 11 24 L 11 22 L 6 22 L 6 6 L 18 6 L 18 7 L 20 7 L 20 5 L 20 4 L 19 4 L 5 4 L 4 4 z M 12 8 L 12 9 L 12 27 L 12 28 L 13 28 L 27 28 L 28 28 L 28 27 L 28 9 L 28 8 L 27 8 L 13 8 L 12 8 z M 14 10 L 26 10 L 26 26 L 14 26 L 14 10 z" />',
      menu: [
        {
          name: "Nuevo servicio",
          icon: "plus",
          path: "/services/new"
        },
        {
          name: "Listado de servicios",
          icon: "list-ul",
          path: "/services"
        }
      ]
    };
  }
};
</script>
